Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Update button styles
  app/javascript/css/components/buttons.css
  app/javascript/css/themes/colors.css
  config/tailwind/colors.js
Due: none

Rename theme css prefix
  app/content/layouts/article.html.erb
  app/content/layouts/content.html.erb
  app/content/pages/pwa-showcase.html.erb
  app/helpers/css_helper.rb
  app/javascript/css/application.css
  app/javascript/css/components/flash.css
  app/javascript/css/components/headings.css
  app/javascript/css/components/scrollbar.css
  app/javascript/css/components/table-of-contents.css
  app/javascript/css/themes/background.css
  app/javascript/css/themes/colors.css
  app/javascript/css/themes/typography.css
  app/javascript/test/fixtures/views/darkmode/switch.html
  app/views/admin_users/sessions/new.html.erb
  app/views/application/_footer.html.erb
  app/views/application/_header.html.erb
  app/views/darkmode/_switch.html.erb
  app/views/newsletter/_banner.html.erb
  config/tailwind/colors.js
  config/tailwind/typography-overrides.js
Due: bin/standardrb --fix, bin/erblint -a

Rename background
  app/content/layouts/article.html.erb
  app/content/layouts/content.html.erb
  app/helpers/css_helper.rb
  app/javascript/css/themes/background.css
  app/javascript/css/themes/colors.css
  config/tailwind/colors.js
Due: bin/standardrb --fix, bin/erblint -a

Rename background css vars
  app/content/layouts/article.html.erb
  app/content/layouts/content.html.erb
  app/helpers/css_helper.rb
  app/javascript/css/application.css
  app/javascript/css/themes/background.css
  app/javascript/css/themes/colors.css
  config/tailwind/colors.js
Due: bin/standardrb --fix, bin/erblint -a

Rename theme css prefix again
  app/content/layouts/article.html.erb
  app/content/layouts/content.html.erb
  app/content/pages/pwa-showcase.html.erb
  app/helpers/css_helper.rb
  app/javascript/css/application.css
  app/javascript/css/components/flash.css
  app/javascript/css/components/headings.css
  app/javascript/css/components/scrollbar.css
  app/javascript/css/components/table-of-contents.css
  app/javascript/css/themes/background.css
  app/javascript/css/themes/colors.css
  app/javascript/css/themes/typography.css
  app/javascript/test/fixtures/views/darkmode/switch.html
  app/views/admin_users/sessions/new.html.erb
  app/views/application/_footer.html.erb
  app/views/application/_header.html.erb
  app/views/darkmode/_switch.html.erb
  app/views/newsletter/_banner.html.erb
  config/tailwind/colors.js
  config/tailwind/typography-overrides.js
Due: bin/standardrb --fix, bin/erblint -a

Update nav link flex
  app/views/application/_header.html.erb
Due: bin/erblint -a

Upgrade turbo-rails
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Extract bin/audit
  bin/audit
  bin/verify
Due: none

Check in changes to generated files
  app/javascript/test/fixtures/views/darkmode/switch.html
Due: none

Update vite output directories
  .gitignore
  config/vite.json
Due: none

Fix for vite rendering js bundle in stylesheet link tag
  app/javascript/entrypoints/application.css
  app/javascript/entrypoints/application.js
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Provide env vars to customize Rails logging from CLI
  Procfile.dev
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
Due: bin/standardrb --fix

Remove litejob.yml
  config/litejob.yml
Due: none

Wrap header navigation in turbo frame to lazy load current user links
  app/controllers/users/header_navigations_controller.rb
  app/helpers/header_navigation_helper.rb
  app/views/application/_header.html.erb
  app/views/application/header/_nav.html.erb
  app/views/layouts/header/_nav.html.erb
  app/views/users/header_navigations/show.html.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Apply target _top to header nav turbo frame
  app/helpers/header_navigation_helper.rb
  app/views/application/_header.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Address dotenv deprecation warning
  config/application.rb
Due: bin/standardrb --fix

Bump dependencies
  Gemfile.lock
Due: none

Remove application.rb solid cache settings
  config/application.rb
  config/solid_cache.yml
Due: bin/standardrb --fix

Exchange dotenv-rails for dotenv
  Gemfile
  Gemfile.lock
Due: none

Re-lint with updated standard
  app/content/helpers/page_helper.rb
Due: bin/standardrb --fix

Add mission control jobs
  Gemfile
  Gemfile.lock
  config/routes.rb
  spec/requests/admin_spec.rb
Due: bin/standardrb --fix

Enhance ErbMarkdown for code fences
  app/markdown/erb_markdown.rb
  spec/markdown/erb_markdown_spec.rb
Due: bin/standardrb --fix

Update to actions/checkout@v4
  .github/workflows/verify.yml
Due: none

Use "packs" for vite public output dir
  config/vite.json
Due: none

Scale back erb linting linters, allow more script types
  .erb-lint.yml
  app/views/components/pwa/_web_push_demo.html.erb
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Randomize specs
  spec/spec_helper.rb
Due: bin/standardrb --fix

Add basic Rails article generator
  lib/generators/article/USAGE
  lib/generators/article/article_generator.rb
  lib/generators/article/templates/article.html.md.tt
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix

Update diff highlight css
  app/javascript/css/highlight/dracula.css
Due: none

Add generator example group for testing Rails generators
  config/application.rb
  lib/generators/article/article_generator.rb
  spec/generators/articles_generator_spec.rb
  spec/support/generator_example_group.rb
Due: bin/standardrb --fix

Extract markdown code component
  app/helpers/code_helper.rb
  app/markdown/application_markdown.rb
  app/views/components/code/_wasm.html.erb
  app/views/wasm/_hello_world.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Render hello world wasm
  app/controllers/home_controller.rb
  app/javascript/entrypoints/application.js
  app/javascript/initializers/index.js
  app/javascript/initializers/ruby-wasm-hello-world.js
  app/javascript/initializers/serviceworker-companion.js
  app/javascript/ruby/evaluator.js
  app/javascript/ruby/index.js
  app/javascript/ruby/init-vm.js
  app/javascript/ruby/rails.js
  app/javascript/ruby/ruby.js
  app/views/wasm/_hello_world.html.erb
  package-lock.json
  package.json
Due: bin/standardrb --fix, bin/erblint -a

Basic integration of Ruby code evaluation into code block component
  app/controllers/examples_controller.rb
  app/helpers/code_helper.rb
  app/javascript/controllers/code.js
  app/javascript/controllers/index.js
  app/javascript/entrypoints/application.js
  app/javascript/ruby/worker.js
  app/views/examples/show.html.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Update runnable code appearance
  app/helpers/code_helper.rb
  app/javascript/css/components/code.css
Due: bin/standardrb --fix

Update runnable code example
  app/helpers/code_helper.rb
  app/javascript/controllers/code.js
  app/javascript/css/components/code.css
  app/views/examples/show.html.erb
  lib/generators/article/templates/article.html.md.tt
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Extract code example to file
  app/views/examples/example_1.rb
  app/views/examples/show.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Add Examples index route with basic hard-coded examples
  app/controllers/examples_controller.rb
  app/views/examples/_example.html.erb
  app/views/examples/index.html.erb
  app/views/examples/ruby/1.rb
  app/views/examples/ruby/2.rb
  app/views/examples/ruby/4.rb
  app/views/examples/ruby/5.rb
  app/views/examples/show.html.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Add ability to enable debug instance
  app/javascript/utils/debug.js
Due: none

Extract ruby wasm init and eval to web worker
  app/javascript/entrypoints/application.js
  app/javascript/initializers/index.js
  app/javascript/initializers/ruby-wasm-hello-world.js
  app/javascript/ruby/evaluator.js
  app/javascript/ruby/worker.js
Due: none

Add system spec for basic code examples
  spec/system/examples_spec.rb
Due: bin/standardrb --fix
