Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Add VCR gem
  Gemfile
  Gemfile.lock
Due: none

Configure VCR and Webmock
  spec/support/webmock_vcr.rb
Due: bin/standardrb --fix

Send plausible event when color scheme updated
  app/clients/plausible_client.rb
  app/controllers/settings/color_schemes_controller.rb
  app/jobs/analytics/plausible_event_job.rb
  spec/requests/settings/color_schemes_spec.rb
Due: bin/standardrb --fix

Add ApplicationClient from Jumpstart Pro
  app/clients/README.md
  app/clients/application_client.rb
Due: bin/standardrb --fix

Add PlausibleClient;
  app/clients/plausible_client.rb
  spec/cassettes/PlausibleClient/_post_event/posts_an_event_to_Plausible.yml
  spec/clients/plausible_client_spec.rb
Due: bin/standardrb --fix

Send Honeybadger event for plausible response
  Gemfile.lock
  app/jobs/analytics/plausible_event_job.rb
Due: bin/standardrb --fix

Port application client spec from jumpstart
  app/clients/application_client.rb
  app/clients/plausible_client.rb
  spec/clients/application_client_spec.rb
  spec/fixtures/files/avatar.jpg
Due: bin/standardrb --fix

Address security advisory in REXML
  Gemfile.lock
Due: none

Update bundle and vite packages
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Point to cuprite release instead of head
  Gemfile
  Gemfile.lock
Due: none

Force sqlite3 < 2 until ready to upgrade to rails 7.2
  Gemfile
  Gemfile.lock
Due: none

Update articles spec
  spec/system/articles_spec.rb
Due: bin/standardrb --fix

Remove selenium-webdriver from Gemfile
  Gemfile
  Gemfile.lock
  spec/system/pwa_showcase_spec.rb
Due: bin/standardrb --fix

Fix typo
  app/views/color_schemes/form.rb
Due: bin/standardrb --fix

Update content
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

MIGRATION: Add processed_at to notifications
  db/migrate/20240720123745_add_processed_at_to_notifications.rb
  db/schema.rb
Due: bin/standardrb --fix

Add Welcome email for new subscribers
  app/controllers/users/confirmations_controller.rb
  app/mailers/emails/user_mailer.rb
  app/notifiers/welcome_notifier.rb
  app/views/emails/magic_session_mailer/no_account_found.text.erb
  app/views/emails/magic_session_mailer/sign_in_link.text.erb
  app/views/emails/user_mailer/confirmation.html.erb
  app/views/emails/user_mailer/confirmation.text.erb
  app/views/emails/user_mailer/password_reset.text.erb
  app/views/emails/user_mailer/welcome.html.erb
  app/views/emails/user_mailer/welcome.text.erb
  spec/mailers/emails/user_mailer_spec.rb
  spec/mailers/previews/emails/user_mailer_preview.rb
  spec/requests/users/confirmations_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add rudimentary protection against double-send Welcome
  app/models/notification_event.rb
  app/notifiers/welcome_notifier.rb
  spec/notifiers/welcome_notifier_spec.rb
Due: bin/standardrb --fix

Use processed_at for notification delivery
  app/jobs/notifications/event_job.rb
  app/models/notification.rb
  app/notifiers/welcome_notifier.rb
Due: bin/standardrb --fix

Send welcome email for magic sign-in auto-confirm
  app/lib/warden_extensions/setup.rb
  spec/requests/users/sessions_spec.rb
Due: bin/standardrb --fix

Add rake task to send welcome email to recently confirmed users
  app/models/user.rb
  lib/tasks/emails/welcome.rake
  spec/models/user_spec.rb
Due: bin/standardrb --fix

Ensure welcome email unsubscribe works as expected
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/mailers/emails/user_mailer.rb
  app/notifiers/welcome_notifier.rb
  app/views/emails/user_mailer/welcome.html.erb
  app/views/emails/user_mailer/welcome.text.erb
  spec/mailers/previews/emails/user_mailer_preview.rb
  spec/notifiers/welcome_notifier_spec.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
  spec/system/users/confirmations_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update email copy
  app/views/emails/user_mailer/welcome.html.erb
  app/views/emails/user_mailer/welcome.text.erb
Due: bin/erblint -a

Remove feature gate on confirmation actions
  app/controllers/users/confirmations_controller.rb
  spec/requests/users/confirmations_spec.rb
Due: bin/standardrb --fix

Allow email confirmation link to work as GET
  app/views/emails/user_mailer/confirmation.html.erb
  app/views/emails/user_mailer/confirmation.text.erb
  config/routes.rb
  spec/system/users/confirmations_spec.rb
  spec/system/users/registrations_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

MIGRATION: Add tables and models for Examples::Post
  app/models/examples.rb
  app/models/examples/post.rb
  app/models/examples/posts.rb
  app/models/examples/posts/image.rb
  app/models/examples/posts/link.rb
  app/models/examples/posts/markdown.rb
  db/migrate/20240721210055_create_examples_posts.rb
  db/migrate/20240721210214_create_examples_posts_markdowns.rb
  db/migrate/20240721210228_create_examples_posts_links.rb
  db/migrate/20240721210414_create_examples_posts_images.rb
  db/schema.rb
  spec/factories/examples/posts.rb
  spec/factories/examples/posts/images.rb
  spec/factories/examples/posts/links.rb
  spec/factories/examples/posts/markdowns.rb
  spec/models/examples/post_spec.rb
  spec/models/examples/posts/image_spec.rb
  spec/models/examples/posts/link_spec.rb
  spec/models/examples/posts/markdown_spec.rb
Due: bin/standardrb --fix

Add basic form for example post with delegated type
  app/controllers/examples/posts_controller.rb
  app/views/examples/posts/index_view.rb
  config/routes.rb
  spec/requests/examples/posts_spec.rb
  spec/system/examples/posts_spec.rb
Due: bin/standardrb --fix

Use hotwire to make form dynamic via ajax
  app/controllers/examples/posts_controller.rb
  app/javascript/controllers/forms/refresh.js
  app/javascript/controllers/index.js
  app/models/examples/post.rb
  app/views/examples/posts/index_view.rb
Due: bin/standardrb --fix

Render example post form dynamically
  app/controllers/examples/posts_controller.rb
  app/javascript/controllers/forms/refresh.js
  app/javascript/css/components/button.css
  app/models/examples/post.rb
  app/views/examples/posts/index_view.rb
  spec/system/examples/posts_spec.rb
Due: bin/standardrb --fix

Move example post to new action, handle redirect from frame
  app/controllers/examples/posts_controller.rb
  app/javascript/controllers/forms/frame.js
  app/javascript/controllers/forms/refresh.js
  app/javascript/controllers/index.js
  app/views/examples/posts/form.rb
  app/views/examples/posts/index_view.rb
  app/views/examples/posts/new_view.rb
  config/routes.rb
  spec/system/examples/posts_spec.rb
Due: bin/standardrb --fix

Add feature gate for example posts
  app/controllers/examples/posts_controller.rb
  spec/requests/examples/posts_spec.rb
  spec/support/warden_helpers.rb
  spec/system/examples/posts_spec.rb
Due: bin/standardrb --fix

Allow session access for current admin user
  app/controllers/users/sessions_controller.rb
Due: bin/standardrb --fix

Add httpx to bundle
  Gemfile
  Gemfile.lock
Due: none

Remove duplicated css file
  app/javascript/entrypoints/code/base16.soloarized.light.css
Due: none

Add script to download pygments css from syntax themes site
  script/highlight/sources.txt
  script/highlight/syntax-themes-pygments/.gitignore
  script/highlight/syntax-themes-pygments/.keep
  script/highlight/syntax_themes_pygments
Due: none

Download pygments css from https://jwarby.github.io/jekyll-pygments-themes
  vendor/assets/jekyll/pygments/README.md
  vendor/assets/jekyll/pygments/UNLICENSE.txt
  vendor/assets/jekyll/pygments/autumn.css
  vendor/assets/jekyll/pygments/borland.css
  vendor/assets/jekyll/pygments/bw.css
  vendor/assets/jekyll/pygments/colorful.css
  vendor/assets/jekyll/pygments/default.css
  vendor/assets/jekyll/pygments/emacs.css
  vendor/assets/jekyll/pygments/friendly.css
  vendor/assets/jekyll/pygments/fruity.css
  vendor/assets/jekyll/pygments/github.css
  vendor/assets/jekyll/pygments/manni.css
  vendor/assets/jekyll/pygments/monokai.css
  vendor/assets/jekyll/pygments/murphy.css
  vendor/assets/jekyll/pygments/native.css
  vendor/assets/jekyll/pygments/pastie.css
  vendor/assets/jekyll/pygments/perldoc.css
  vendor/assets/jekyll/pygments/tango.css
  vendor/assets/jekyll/pygments/trac.css
  vendor/assets/jekyll/pygments/vim.css
  vendor/assets/jekyll/pygments/vs.css
  vendor/assets/jekyll/pygments/zenburn.css
Due: none

Remove duplicated css file
  app/javascript/css/theme/code/base16.soloarized.light.css
Due: none
