Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Add spec
  spec/system/articles/web-push-notifications-from-rails_spec.rb
Due: bin/standardrb --fix

Add article images
  app/assets/images/articles/web-push-notifications-from-rails/a-web-push-notification.jpg
  app/assets/images/articles/web-push-notifications-from-rails/web-push-flow.svg
Due: none

Enable parsing of image metadata to add figure attributes
  app/views/components/markdown/article.rb
Due: bin/standardrb --fix

Add article image css class for pulling figures to right
  app/javascript/css/layout.scss
Due: none

Update article content
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/jobs/pwa/web_push_job.rb
  spec/requests/pwa/web_pushes_spec.rb
Due: bin/standardrb --fix

Update heading levels
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Update example function name
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Add article image and update copy;
  app/assets/images/articles/web-push-notifications-from-rails/airplane.jpg
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Publish web push article
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Update copy
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Fix copy
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Update publish date for web push article
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Fix spacing on thank you page
  app/views/users/thank_yous/show_view.rb
Due: bin/standardrb --fix

Update order of web push recipe
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Fix empty state rendering on newsletter index
  app/views/newsletters/index.html.erb
  spec/factories/newsletters.rb
  spec/system/newsletters_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add css for setting img background in figures, say for transparent svgs
  app/javascript/css/application.css
  app/javascript/css/components/figures.css
Due: none

Article copy improvements
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Bundle update
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Upgrade to Ruby 3.3.5
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

Run bundle update
  .erb_lint.yml
  .github/workflows/verify.yml
  Gemfile.lock
  app/controllers/site_controller.rb
  app/javascript/test/fixtures/views/darkmode/switch.html
  bin/erb_lint
  package-lock.json
  package.json
Due: bin/standardrb --fix

Upgrade to solid queue 0.4.0
  Gemfile
  Gemfile.lock
Due: none

Upgrade to solid queue 0.5.0
  Gemfile
  Gemfile.lock
  db/cable_schema.rb
  db/cache_schema.rb
  db/migrate_queue/20241025120457_create_recurring_tasks.solid_queue.rb
  db/queue_schema.rb
  db/schema.rb
Due: bin/standardrb --fix

Cleanup erb lint upgrade
  .lintstagedrc
  bin/erblint
Due: none

Disable autoloading to reproduce Sitepress extensions config bug
  config/environments/test.rb
Due: bin/standardrb --fix

Run bundle update
  .erb_lint.yml
  .github/workflows/verify.yml
  .lintstagedrc
  Gemfile.lock
  app/controllers/site_controller.rb
  app/javascript/test/fixtures/views/darkmode/switch.html
  bin/erb_lint
  bin/lint
  bin/verify
  package-lock.json
  package.json
Due: bin/standardrb --fix

Add workaround for sitepress 4.0.5 bug
  config/initializers/sitepress.rb
Due: bin/standardrb --fix

MIGRATION Prepare for solid queue 0.5.0
  db/migrate_queue/20241025133648_create_recurring_tasks.solid_queue.rb
  db/queue_schema.rb
Due: bin/standardrb --fix

Upgrade to solid queue 0.5.0
  Gemfile
  Gemfile.lock
Due: none

Upgrade to solid queue 0.6.0
  Gemfile
  Gemfile.lock
Due: none

MIGRATION: Add nullable name to solid queue processes for 0.6.0
  db/cable_schema.rb
  db/cache_schema.rb
  db/migrate_queue/20241025223627_add_name_to_processes.solid_queue.rb
  db/queue_schema.rb
  db/schema.rb
Due: bin/standardrb --fix

MIGRATION: Make solid queue processes name not null for 0.6.0
  db/migrate_queue/20241025223628_make_name_not_null.solid_queue.rb
  db/migrate_queue/20241025223629_change_solid_queue_recurring_tasks_static_to_not_null.solid_queue.rb
  db/queue_schema.rb
Due: bin/standardrb --fix

Upgrade to solid queue 0.7.0
  Gemfile
  Gemfile.lock
  Procfile.dev
  bin/jobs
Due: none

Upgrade to solid queue 0.9.0
  Gemfile
  Gemfile.lock
  config/queue.yml
Due: none

Upgrade to solid queue 1.0.0
  Gemfile
  Gemfile.lock
Due: none

Rename sitepress page models
  app/content/models/sitepress_article.rb
  app/content/models/sitepress_page.rb
  app/content/pages/articles/index.html.erb
  app/content/pages/drafts.html.erb
  app/content/pages/index.html.erb
  app/controllers/feed_controller.rb
  app/views/users/thank_yous/show_view.rb
  spec/requests/site/articles_spec.rb
  spec/views/components/atom/entry_content_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Fix apostrophes
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Fix article link
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Update about page
  app/content/pages/about/index.html.mdrb
Due: none

Update twitter links to x.com
  app/content/pages/about/index.html.mdrb
  app/content/pages/articles/add-your-rails-app-to-the-home-screen.html.mdrb
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/content/pages/articles/mastering-custom-configuration-in-rails.html.mdrb
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/views/users/dashboard/index_view.rb
  app/views/users/thank_yous/show_view.rb
Due: bin/standardrb --fix
