Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Reimplment Color#weights
  app/models/color_scheme.rb
Due: bin/standardrb --fix

CSS updates for inline code
  app/javascript/css/baseline.css
  app/javascript/css/components/code.scss
  app/javascript/css/config/theme.css
  app/javascript/css/theme/code/github.light.css
Due: none

Iterate on color scheme article
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

Add more entrypoints for code themes
  app/javascript/entrypoints/code/base16.solarized.light.css
  app/javascript/entrypoints/code/base16.soloarized.light.css
  app/javascript/entrypoints/code/dark.css
  app/javascript/entrypoints/code/github.dark.css
  app/javascript/entrypoints/code/github.light.css
  app/javascript/entrypoints/code/gruvbox.dark.css
  app/javascript/entrypoints/code/gruvbox.light.css
  app/javascript/entrypoints/code/light.css
  app/javascript/entrypoints/code/monokai.css
Due: none

Update acknowledgements
  app/content/pages/about/acknowledgements.html.mdrb
Due: none

Revise curated color scheme caching strategy
  app/controllers/settings/color_schemes_controller.rb
  app/helpers/color_schemes_helper.rb
  app/models/color_scheme.rb
  app/views/color_schemes/form.rb
  app/views/color_schemes/show_view.rb
Due: bin/standardrb --fix

Make em italic
  app/javascript/css/baseline.css
Due: none

Style figcaption
  app/javascript/css/baseline.css
Due: none

Style blockquote and unordered lists
  app/javascript/css/components/article-content.css
  app/javascript/css/config/theme.css
Due: none

Add noscript disclaimer for color scheme
  app/views/color_schemes/form.rb
Due: bin/standardrb --fix

Add id for newsletter banner
  app/content/layouts/article.html.erb
Due: bin/erblint -a

Update newsletter banner component invocation
  app/views/users/newsletter_subscriptions/_banner.html.erb
Due: bin/erblint -a

Cache git read for app file example component
  app/models/examples/app_file.rb
Due: bin/standardrb --fix

Handle markdown tables in markdown base
  app/views/components/markdown/base.rb
Due: bin/standardrb --fix

Iterate on color scheme article
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/views/color_schemes/form.rb
  app/views/components/pages/header.rb
Due: bin/standardrb --fix

CSS updates
  app/javascript/css/components/article-content.css
  app/javascript/css/utilities/tailwind.css
Due: none

Update input border color
  app/javascript/css/baseline.css
  app/javascript/css/config/theme.css
Due: none

Instruct brakeman to allow git show command to take args
  config/brakeman.ignore
Due: none

Mark article as draft
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

Tell my story
  app/content/pages/about/index.html.mdrb
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

Update article
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

Update about page
  app/content/pages/about/index.html.mdrb
Due: none

Change ruby to .ruby-version in Gemfile
  Gemfile
Due: none

Upgrade to ruby 3.3.4
  .ruby-version
  Gemfile.lock
Due: none

Bundle update standard
  Gemfile.lock
Due: none

Lint with upgraded standard
  app/views/components/layouts/front_door_form.rb
Due: bin/standardrb --fix

Add updated date to page header
  app/content/layouts/article.html.erb
  app/views/components/pages/header.rb
  spec/views/components/pages/header_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Memoize color scheme finds in concern
  app/controllers/concerns/color_scheming.rb
Due: bin/standardrb --fix

Publish article
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

Add schema.org itemscope for article
  app/content/layouts/article.html.erb
Due: bin/erblint -a

Update content
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

Add schema.org itemprop for article body
  app/content/layouts/article.html.erb
Due: bin/erblint -a

Set up meta-tags install and use for article layout
  app/content/layouts/article.html.erb
  app/views/layouts/application.html.erb
  config/initializers/meta_tags.rb
Due: bin/standardrb --fix, bin/erblint -a

Update page header title logic
  app/views/components/pages/header.rb
Due: bin/standardrb --fix

Add meta-tags gem
  Gemfile
  Gemfile.lock
Due: none

Add more meta-tags for articles
  app/assets/images/articles/custom-color-schemes-with-ruby-on-rails/screenshot.jpg
  app/assets/images/articles/introducing-joy-of-rails/screenshot.jpg
  app/content/layouts/article.html.erb
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
Due: bin/erblint -a

CSS fix for app file header
  app/javascript/css/components/code.scss
Due: none

Add header spec for title block
  spec/views/components/pages/header_spec.rb
Due: bin/standardrb --fix

Update application_wasm
  config/application_wasm.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
