Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Add signature to newsletter emails
  app/views/emails/newsletter_mailer/newsletter.html.erb
  app/views/emails/newsletter_mailer/newsletter.text.erb
Due: bin/erblint -a

Fix typo
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
Due: none

Extract controller concern for analytics event method
  app/controllers/concerns/analytics.rb
  spec/controllers/analytics_spec.rb
Due: bin/standardrb --fix

Integrate stimulus analytics with color scheme UX
  app/views/settings/color_schemes/select.rb
  app/views/settings/color_schemes/show_view.rb
Due: bin/standardrb --fix

No need to call current_user eagerly in before_action
  app/controllers/concerns/authentication.rb
Due: bin/standardrb --fix

Remove plausible event from color scheme controller
  app/controllers/settings/color_schemes_controller.rb
  spec/requests/settings/color_schemes_spec.rb
Due: bin/standardrb --fix

Render basic code block from app file within atom
  app/controllers/feed_controller.rb
  app/models/examples/app_file.rb
  app/views/components/atom/entry_content.rb
  app/views/components/code_block/app_file.rb
  app/views/components/markdown/allows_erb.rb
  app/views/components/markdown/atom.rb
  app/views/feed/index.atom.builder
  spec/views/components/code_block/app_file_spec.rb
Due: bin/standardrb --fix

Add link to color scheme settings in article
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
Due: none

Update Gemfile comment
  Gemfile
Due: none

Add basic crud for snippets
  app/controllers/snippets_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/snippets/preview.js
  app/javascript/css/components/code.scss
  app/javascript/css/layout.scss
  app/models/snippet.rb
  app/views/components/code_block/article.rb
  app/views/snippets/_form.html.erb
  app/views/snippets/_snippet.html.erb
  app/views/snippets/edit.html.erb
  app/views/snippets/index.html.erb
  app/views/snippets/new.html.erb
  app/views/snippets/show.html.erb
  config/routes.rb
  spec/factories/snippets.rb
  spec/fixtures/snippets/example.rb
  spec/models/snippet_spec.rb
  spec/requests/snippets_spec.rb
  spec/views/components/markdown/article_spec.rb
  spec/views/components/markdown/atom_spec.rb
  spec/views/components/markdown/base_spec.rb
  spec/views/components/markdown/erb_spec.rb
  spec/views/components/markdown/toc_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Delete unused specs
  spec/helpers/snippets_helper_spec.rb
  spec/models/examples/post_spec.rb
  spec/models/examples/posts/image_spec.rb
  spec/models/examples/posts/link_spec.rb
  spec/models/examples/posts/markdown_spec.rb
  spec/views/snippets/edit.html.erb_spec.rb
  spec/views/snippets/index.html.erb_spec.rb
  spec/views/snippets/new.html.erb_spec.rb
  spec/views/snippets/show.html.erb_spec.rb
Due: bin/standardrb --fix

Add feature gate for snippets
  app/controllers/snippets_controller.rb
  spec/requests/snippets_spec.rb
Due: bin/standardrb --fix

Add CodeBlock::Snippet component for rendering snippets
  app/views/components/code_block/article.rb
  app/views/components/code_block/snippet.rb
  app/views/snippets/_snippet.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Add snippets to db/schema.rb
  db/cache_schema.rb
  db/schema.rb
Due: bin/standardrb --fix

Revise git read strategy for app file
  app/models/examples/app_file.rb
Due: bin/standardrb --fix

Add html-to-image npm package
  package-lock.json
  package.json
Due: none

Add stretch css for article grid
  app/javascript/css/layout.scss
Due: none

MIGRATION: Create snippets table
  db/migrate/20240816235642_create_snippets.rb
  db/schema.rb
Due: bin/standardrb --fix

Refactor Code Block amd Markdown
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/helpers/articles_helper.rb
  app/views/components/atom/entry_content.rb
  app/views/components/code_block/app_file.rb
  app/views/components/code_block/app_file_basic.rb
  app/views/components/code_block/app_file_header.rb
  app/views/components/code_block/app_file_run.rb
  app/views/components/code_block/article.rb
  app/views/components/code_block/atom_aware.rb
  app/views/components/code_block/body.rb
  app/views/components/code_block/code.rb
  app/views/components/code_block/container.rb
  app/views/components/code_block/footer.rb
  app/views/components/code_block/header.rb
  app/views/components/markdown/allows_erb.rb
  app/views/components/markdown/application.rb
  app/views/examples/_example.html.erb
  spec/fixtures/code_block/app_file/example.rb
  spec/fixtures/snippets.rb
  spec/fixtures/snippets/example.rb
  spec/system/examples_spec.rb
  spec/views/components/code_block/app_file_spec.rb
  spec/views/components/code_block/code_spec.rb
  spec/views/components/markdown/article_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Convert snippet preview controller to TypeScript
  app/javascript/controllers/snippets/preview.js
  app/javascript/controllers/snippets/preview.ts
Due: none

Expose html-to-image to window for experimentation
  app/javascript/entrypoints/application.js
Due: none

Spike snippet editor stimulus
  app/javascript/controllers/index.js
  app/javascript/controllers/snippets/editor.ts
Due: none

Generate scaffold for Snippets
  app/controllers/snippets_controller.rb
  app/helpers/snippets_helper.rb
  app/models/snippet.rb
  app/views/snippets/_form.html.erb
  app/views/snippets/_snippet.html.erb
  app/views/snippets/edit.html.erb
  app/views/snippets/index.html.erb
  app/views/snippets/new.html.erb
  app/views/snippets/show.html.erb
  config/routes.rb
  db/migrate/20240816235642_create_snippets.rb
  spec/factories/snippets.rb
  spec/helpers/snippets_helper_spec.rb
  spec/models/snippet_spec.rb
  spec/requests/snippets_spec.rb
  spec/routing/snippets_routing_spec.rb
  spec/views/snippets/edit.html.erb_spec.rb
  spec/views/snippets/index.html.erb_spec.rb
  spec/views/snippets/new.html.erb_spec.rb
  spec/views/snippets/show.html.erb_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Enable Flipper flags in development
  config/initializers/flipper.rb
Due: bin/standardrb --fix

Add to brakeman ignore for git read
  config/brakeman.ignore
Due: none

Add basic test for AppFileRun component
  spec/views/components/code_block/app_file_run_spec.rb
Due: bin/standardrb --fix

Add scout_apm gem for monitoring
  Gemfile
  Gemfile.lock
  config/credentials/production.yml.enc
  config/scout_apm.yml
Due: none

Move Flipper defaults to development seeds
  config/initializers/flipper.rb
  db/seeds/development.rb
Due: bin/standardrb --fix

Add conditional GET headers to feed response
  app/controllers/feed_controller.rb
Due: bin/standardrb --fix

Iterate on snippet editor autogrow js and css
  app/javascript/controllers/snippets/editor.ts
  app/javascript/css/components/code.scss
  app/javascript/css/utilities/tailwind.css
  app/javascript/utils/debounce.ts
  app/views/components/code_block/code.rb
  app/views/components/code_block/snippet.rb
  app/views/snippets/_form.html.erb
  app/views/snippets/_snippet.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Ability to preview snippet while editing
  app/controllers/snippets_controller.rb
  app/javascript/controllers/snippets/editor.ts
  app/javascript/controllers/snippets/preview.ts
  app/javascript/css/components/code.scss
  app/views/components/code_block/code.rb
  app/views/components/code_block/snippet.rb
  app/views/snippets/_form.html.erb
  spec/system/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add ImageDataUri class to convert image uri to file
  lib/image_data_uri.rb
  spec/lib/image_data_uri_spec.rb
Due: bin/standardrb --fix

Allow crossorigin for google font
  app/views/application/_google_fonts.html.erb
Due: bin/erblint -a

MIGRATION create active storage tables
  db/migrate/20240826023327_create_active_storage_tables.active_storage.rb
  db/schema.rb
Due: bin/standardrb --fix

Update snippet layout with editing flag
  app/javascript/css/application.css
  app/javascript/css/components/code.scss
  app/javascript/css/components/snippet.css
  app/views/components/code_block/snippet.rb
  app/views/snippets/_form.html.erb
  app/views/snippets/index.html.erb
  app/views/snippets/show.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Support upload of base64 image data to snippet with active storage
  app/controllers/snippets_controller.rb
  app/javascript/controllers/snippets/editor.ts
  app/javascript/controllers/snippets/preview.ts
  app/javascript/css/components/article-content.css
  app/models/snippet.rb
  app/views/components/code_block/snippet.rb
  app/views/snippets/_form.html.erb
  app/views/snippets/index.html.erb
  app/views/snippets/show.html.erb
  config/initializers/filter_parameter_logging.rb
  lib/image_data_uri.rb
  spec/lib/image_data_uri_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Separate snippet screenshot controller
  app/controllers/share/snippet_screenshots_controller.rb
  app/controllers/share/snippets_controller.rb
  app/javascript/css/components/code.scss
  app/views/components/code_block/snippet.rb
  app/views/share/snippet_screenshots/form.rb
  app/views/share/snippet_screenshots/new.html.erb
  app/views/share/snippet_screenshots/show.html.erb
  app/views/share/snippets/edit.html.erb
  app/views/share/snippets/form.rb
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/show.html.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Update flash
  app/javascript/controllers/flash.ts
  app/javascript/css/components/flash.css
  app/views/application/_flash.html.erb
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Update active storage config for development
  config/storage.yml
Due: none
