Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

Add default meta description
  app/helpers/application_helper.rb
Due: bin/standardrb --fix

Add image alt attributes for homepage
  app/views/components/pages/card.rb
  app/views/components/pages/summary.rb
  app/views/users/header_navigations/show_view.rb
Due: bin/standardrb --fix

Move admin nav into header nav dialog
  app/views/users/header_navigations/show_view.rb
  spec/system/admin_users/sessions_spec.rb
Due: bin/standardrb --fix

Extract admin new view to phlex
  app/views/admin_users/sessions/new.html.erb
  app/views/admin_users/sessions/new_view.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Use a separate default color scheme for admin pages
  app/controllers/admin/base_controller.rb
  app/controllers/admin_users/sessions_controller.rb
  app/controllers/concerns/color_scheming.rb
  app/controllers/concerns/color_scheming_admin.rb
  app/models/color_scheme.rb
Due: bin/standardrb --fix

Use read attribute for user name over fallback
  app/models/user.rb
Due: bin/standardrb --fix

Use turbo track reload for custom color scheme style tag
  app/views/application/theme/_color.html.erb
Due: bin/erb_lint -a

Add link to admin area inside dialog
  app/views/users/header_navigations/show_view.rb
Due: bin/standardrb --fix

Lighthouse says don’t lazy load largest contentful paint
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix

html lang=en
  app/views/layouts/application.html.erb
Due: bin/erb_lint -a

Render optimized image in article if exists
  app/views/components/content/image.rb
  app/views/components/markdown/article.rb
Due: bin/standardrb --fix

Use optimized images on homepage and article index
  app/views/components/content/image.rb
  app/views/components/pages/card.rb
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix

Rename optimize script
  script/convert-images
Due: none

Add id to homepage newsletter
  app/content/pages/index.html.erb
Due: bin/erb_lint -a

Update article generator
  lib/generators/article/templates/article.html.mdrb.tt
  lib/generators/article/templates/article_spec.rb.tt
  lib/generators/article/templates/placeholder.webp
Due: none

Generate new article
  app/assets/images/articles/simple-trick-to-understand-ruby-s-lazy-enumerator/placeholder.jpg
  app/content/pages/articles/simple-trick-to-understand-ruby-s-lazy-enumerator.html.mdrb
  spec/system/content/simple-trick-to-understand-ruby-s-lazy-enumerator_spec.rb
Due: bin/standardrb --fix

wip
  app/content/pages/articles/simple-trick-to-understand-ruby-s-lazy-enumerator.html.mdrb
Due: none

Bundle to edge Rails for extension loading
  Gemfile
  Gemfile.lock
Due: none

Bump sqlite3 for extension loading
  Gemfile.lock
Due: none

Adopt sqlite extension loading features of rails and sqlite3
  config/database.yml
  config/initializers/sqlite.rb
  config/initializers/sqlpkg.rb
  lib/enhanced_sqlite3.rb
  lib/enhanced_sqlite3/adapter.rb
  lib/sqlite_ext.rb
  lib/sqlite_ext/ulid.rb
  lib/sqlite_ext/vec.rb
  lib/sqlpkg_loader.rb
  spec/lib/enhanced_sqlite3/adapter_spec.rb
Due: bin/standardrb --fix

Update fixtures
  app/javascript/test/fixtures/views/searches/combobox.html
Due: none

Iterate on article with phlex component
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/placeholder.jpg
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/content/pages/articles/simple-trick-to-understand-ruby-s-lazy-enumerator.html.mdrb
  app/views/components/demo/ruby_enumeration.rb
  spec/system/content/simple-trick-to-understand-ruby-lazy-enumerator_spec.rb
Due: bin/standardrb --fix

Render ruby enumeration iframe in a turbo frame 🤯
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/loading.gif
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/controllers/examples/ruby_enumerations_controller.rb
  app/views/components/demo/ruby_enumeration.rb
  config/routes.rb
Due: bin/standardrb --fix

Add pencil and bokeh to the homempage
  app/content/pages/index.html.erb
  app/javascript/css/application.css
  app/javascript/css/components/bokeh.css
  app/javascript/css/components/page-header.css
  app/javascript/css/utilities/tailwind-media.scss
  app/javascript/css/utilities/tailwind.css
  app/javascript/images/content/index/bokeh-background.webp
  app/javascript/images/content/index/pencil-transparent.webp
  app/views/components/pages/header.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Tweek front page bokeh effect
  app/javascript/css/components/bokeh.css
  app/javascript/css/components/page-header.css
Due: none

Move factory_bot_rails require
  Gemfile
  spec/rails_helper.rb
Due: bin/standardrb --fix

Update honeybadger require"
  Gemfile
  config/application.rb
Due: bin/standardrb --fix

Re-enable system test
  spec/system/content/what-you-need-to-know-about-sqlite_spec.rb
Due: bin/standardrb --fix

Update topics and related pages
  app/content/layouts/article.html.erb
Due: bin/erb_lint -a

Bump some gems
  Gemfile.lock
Due: none

Upgrade vite 6 and update dev depdencies
  package-lock.json
  package.json
Due: none

Bundle update
  Gemfile
  Gemfile.lock
Due: none

npm i rails_admin@latest
  package-lock.json
  package.json
Due: none

npm i debug@latest
  package-lock.json
  package.json
Due: none

npm i @babel/preset-env@latest
  package-lock.json
  package.json
Due: none

npm i @hotwired/turbo-rails@latest
  package-lock.json
  package.json
Due: none

npm i updates some checksums
  package-lock.json
Due: none

Add support for Poll#completed? by device_uuid
  app/controllers/share/polls/votes_controller.rb
  app/models/poll.rb
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/poll_component.rb
  spec/models/poll_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a
