Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Remove code wrapper border
  app/javascript/css/components/code.scss
Due: none

Add spec coverage for snippet share redirects
  spec/requests/share/snippets_spec.rb
Due: bin/standardrb --fix

Add util css class
  app/javascript/css/utilities/custom.css
Due: none

Add Save & Close button for snippet
  app/controllers/share/snippets_controller.rb
  app/views/share/snippets/form.rb
  app/views/share/snippets/show.html.erb
  app/views/share/snippets/toolbar.rb
  spec/requests/share/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Upgrade to Rails v7.2 and sqlite3 v2.0
  Gemfile
  Gemfile.lock
Due: none

Update Rails HTML Sanitizer for wasm build
  lib/rails-wasm/rails-wasm-shim/stubs/rails-html-sanitizer.rb
Due: bin/standardrb --fix

Add Snippets to footer
  app/views/application/_footer.html.erb
Due: bin/erblint -a

Upgrade solid cache to address NoMethodError
  Gemfile.lock
Due: none

Add transparent button style
  app/javascript/css/components/button.css
  app/javascript/css/config/theme.css
Due: none

Rework twitter share button
  app/javascript/controllers/snippets/tweet.ts
  app/views/share/snippet_tweets/tweet.rb
  app/views/share/snippet_tweets/tweet_button.rb
  app/views/share/snippets/toolbar.rb
Due: bin/standardrb --fix

Add download snippet screenshot link
  app/controllers/share/snippet_screenshots_controller.rb
  app/javascript/controllers/snippets/screenshot.ts
  app/views/share/snippets/toolbar.rb
  spec/requests/share/snippet_screenshots_spec.rb
  spec/system/snippets_spec.rb
Due: bin/standardrb --fix

Add view specs for snippet tweet components
  app/views/components/code_block/atom_aware.rb
  spec/factories/snippets.rb
  spec/support/phlex_helpers.rb
  spec/views/share/snippet_tweets/tweet_button_spec.rb
  spec/views/share/snippet_tweets/tweet_spec.rb
Due: bin/standardrb --fix

Admin css fix
  app/views/admin/home/index.html.erb
Due: bin/erblint -a

MIGRATION Add snippet description
  db/migrate/20240905104301_alter_snippets_change_url_to_description.rb
  db/schema.rb
Due: bin/standardrb --fix

Support description in snippet form
  app/controllers/share/snippets_controller.rb
  app/views/share/snippets/form.rb
  spec/requests/share/snippets_spec.rb
Due: bin/standardrb --fix

Create Markdown::Safe component for user-generated markdown
  app/views/components/markdown/safe.rb
Due: bin/standardrb --fix

Render snippet with user-generated markdown support
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/show.html.erb
  spec/factories/snippets.rb
  spec/requests/share/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Attempt to fix CodeQL parse warninings
  app/views/components/code_block/container.rb
  app/views/components/layouts/front_door_form.rb
Due: bin/standardrb --fix

Prepopulate snippet description in tweet share
  app/views/share/snippet_tweets/tweet_button.rb
Due: bin/standardrb --fix

Update app file spec
  db/cable_schema.rb
  db/cache_schema.rb
Due: bin/standardrb --fix

Add comment
  config/database.yml
Due: none

Support branch specific databases for dev
  config/database.yml
  config/environments/development.rb
Due: bin/standardrb --fix

Separate database.yml for wasm
  .github/workflows/wasm.yml
  config/database.wasm.yml
Due: none

Add specs for color scheme seed
  spec/models/color_schemes/seed_spec.rb
Due: bin/standardrb --fix

Extract seeding of ColorSchemes, add to db seed
  app/models/color_schemes/seed.rb
  db/seeds/development.rb
  lib/tasks/color_schemes/seed.rake
Due: bin/standardrb --fix

Add fixture file for specs
  spec/fixtures/example_file_for_app_file_test.rb
Due: bin/standardrb --fix

Ignore additional db schemas from standard linting
  .standard.yml
Due: none

Add task to prune dev data
  lib/tasks/development/prune.rake
Due: none

Rename copy-clipboard file for typescript
  app/javascript/controllers/clipboard-copy.ts
Due: none

Convert clipboard-copy to typescript
  app/javascript/controllers/clipboard-copy.ts
Due: none

Add event.preventDefault() to clipboard copy
  app/javascript/controllers/clipboard-copy.ts
Due: none

Update code css
  app/javascript/css/components/code.scss
Due: none

Update articles index
  app/content/pages/articles/index.html.erb
Due: bin/erblint -a

Update code css
  app/javascript/css/application.css
  app/javascript/css/components/clipboard-copy.css
  app/javascript/css/components/code.scss
  app/javascript/css/components/snippet-media-query.scss
  app/javascript/css/components/snippet.css
  app/javascript/css/utilities/tailwind.css
  app/views/components/clipboard_copy.rb
  app/views/share/snippets/index.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update dracula highlight
  app/assets/stylesheets/pygments/dracula.css
  app/javascript/css/components/code.scss
Due: none

Introduce line wise syntax highlighter
  app/views/application/_footer.html.erb
  app/views/components/code_block/code.rb
Due: bin/standardrb --fix, bin/erblint -a

Add app level skip HTTP cache configuration
  .env.example
  app/controllers/color_schemes_controller.rb
  app/controllers/feed_controller.rb
  app/controllers/site_controller.rb
  config/application.rb
Due: bin/standardrb --fix

Add controller concern method protection
  app/controllers/concerns/analytics.rb
  app/controllers/concerns/authentication.rb
  app/controllers/concerns/color_scheming.rb
  app/controllers/concerns/erroring.rb
  app/controllers/concerns/syntax_highlighting.rb
Due: bin/standardrb --fix

Update snippet css
  app/javascript/css/components/snippet-media-query.scss
  app/javascript/css/components/snippet.css
Due: none

Make line highlighter optional
  app/assets/stylesheets/pygments/dracula.css
  app/views/components/code_block/code.rb
  spec/views/components/code_block/code_spec.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
