Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Add color schemes to development seeds
  db/seeds/development.rb
  db/seeds/development/color_schemes.rb
  db/seeds/development/flipper.rb
  db/seeds/development/newsletters.rb
  db/seeds/development/snippets.rb
  db/seeds/development/users.rb
Due: bin/standardrb --fix

Refactor DeferredRender out of Pages::Header
  app/views/components/pages/header.rb
  app/views/errors/internal_server_view.rb
  app/views/errors/not_found_view.rb
  app/views/errors/unprocessable_view.rb
  spec/views/components/pages/header_spec.rb
Due: bin/standardrb --fix

Build Pages::Card component for front page
  app/content/pages/index.html.erb
  app/javascript/css/layout.scss
  app/javascript/css/utilities/tailwind-media.scss
  app/javascript/css/utilities/tailwind.css
  app/views/components/pages/card.rb
  app/views/components/pages/header.rb
  app/views/components/pages/list.rb
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix, bin/erblint -a

Use card layout on the Articles index page
  app/content/pages/articles/index.html.erb
  app/content/pages/index.html.erb
  app/views/components/pages/list.rb
Due: bin/standardrb --fix, bin/erblint -a

Remov unused partial
  app/views/share/snippets/_snippet.html.erb
Due: bin/erblint -a

Add Guest concept to model null object pattern for current_user
  app/controllers/concerns/authentication.rb
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/models/guest.rb
  app/views/share/snippets/toolbar.rb
  app/views/users/header_navigations/show.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Add line break for newsletter banner
  app/views/users/newsletter_subscriptions/banner.rb
Due: bin/standardrb --fix

Add snippet titles
  app/controllers/share/snippets_controller.rb
  app/models/snippet.rb
  app/views/components/code_block/snippet.rb
  app/views/share/snippets/form.rb
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/show.html.erb
  db/migrate/20241016121615_add_title_to_snippets.rb
  db/schema.rb
  spec/system/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add separate favicon for local development
  app/assets/images/app-icons/favicon-local.ico
  app/assets/images/app-icons/noun-tears-of-joy-3555562.png
  app/helpers/application_helper.rb
Due: bin/standardrb --fix

Extract Timestamp component
  app/views/components/pages/header.rb
  app/views/components/pages/timestamp.rb
Due: bin/standardrb --fix

Extract Snippet component
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/snippet.rb
Due: bin/standardrb --fix, bin/erblint -a

Use Snippet component on show page
  app/javascript/css/baseline.css
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/show.html.erb
  app/views/share/snippets/snippet.rb
Due: bin/standardrb --fix, bin/erblint -a

Update snippet factory and seeds
  db/seeds/development/snippets.rb
  spec/factories/snippets.rb
Due: bin/standardrb --fix

Gardening: Remove confirmation message from user dashboard
  app/views/users/dashboard/index_view.rb
Due: bin/standardrb --fix

Bump published date of unfinished article
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Extract SiteHeader Header and Nav components
  app/views/application/_header.html.erb
  app/views/components/site_header/header.rb
  app/views/components/site_header/nav.rb
  app/views/users/header_navigations/show.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Add User#registered? method
  app/models/guest.rb
  app/models/user.rb
  spec/models/guest_spec.rb
  spec/models/user_spec.rb
Due: bin/standardrb --fix

Extract DarkMode::Switch component
  app/javascript/test/fixtures/views/darkmode/switch.html
  app/views/components/dark_mode/switch.rb
  app/views/darkmode/_switch.html.erb
  app/views/layouts/header/_nav.html.erb
  app/views/settings/color_schemes/show_view.rb
  app/views/settings/syntax_highlights/form.rb
  lib/tasks/fixtures/html.rake
Due: bin/standardrb --fix, bin/erblint -a

Update logic for user_signed_in?
  app/controllers/concerns/authentication.rb
Due: bin/standardrb --fix

Improve CSS spacing for site logo to avoid header height shift
  app/views/components/site_header/header.rb
Due: bin/standardrb --fix

Extract Users::HeaderNavigations::ShowView
  app/controllers/users/header_navigations_controller.rb
  app/helpers/header_navigation_helper.rb
  app/views/application/header/_nav.html.erb
  app/views/users/header_navigations/show.html.erb
  app/views/users/header_navigations/show_view.rb
Due: bin/standardrb --fix, bin/erblint -a

Extract Gravatar model
  app/models/gravatar.rb
  spec/models/gravatar_spec.rb
Due: bin/standardrb --fix

Update subscription form error style
  app/javascript/css/utilities/tailwind.css
  app/views/users/newsletter_subscriptions/form.rb
Due: bin/standardrb --fix

Begin implementation of user account dialog
  app/javascript/css/utilities/custom.css
  app/models/user.rb
  app/views/users/header_navigations/show_view.rb
Due: bin/standardrb --fix

Rename component
  app/views/components/front_door/form.rb
  app/views/users/confirmations/edit_view.rb
  app/views/users/confirmations/new_view.rb
  app/views/users/magic_session_tokens/new_view.rb
  app/views/users/magic_session_tokens/show_view.rb
  app/views/users/passwords/edit_view.rb
  app/views/users/passwords/new_view.rb
  app/views/users/registrations/edit_view.rb
  app/views/users/registrations/new_view.rb
  app/views/users/sessions/new_view.rb
Due: bin/standardrb --fix

Add basic modal stimulus controller
  app/javascript/controllers/index.js
  app/javascript/controllers/modal.js
Due: none

Implement basic dialog to display account info from nav
  app/assets/images/close.svg
  app/javascript/css/application.css
  app/javascript/css/components/dialog.scss
  app/javascript/css/config/theme.css
  app/javascript/css/utilities/custom.css
  app/javascript/css/utilities/tailwind.css
  app/views/components/dialog/layout.rb
  app/views/components/forms/stack.rb
  app/views/layouts/header/_nav.html.erb
  app/views/users/header_navigations/show_view.rb
Due: bin/standardrb --fix, bin/erblint -a

Update import
  app/javascript/controllers/table-of-contents.js
Due: none

Add ability to sign in and out from nav
  app/javascript/css/components/dialog.scss
  app/views/components/dialog/layout.rb
  app/views/users/header_navigations/show_view.rb
Due: bin/standardrb --fix

Fix articles spec
  spec/requests/site/articles_spec.rb
Due: bin/standardrb --fix

Bump brakeman
  Gemfile.lock
Due: none

Update brakeman ignore for pwa installation instructions dynamic render path warning
  config/brakeman.ignore
Due: none

Add addressable to Gemfile for production
  Gemfile
  Gemfile.lock
  app/models/gravatar.rb
Due: bin/standardrb --fix

Update gitignore
  .gitignore
Due: none

Add github workflow to ensure Rails can boot in production env
  .github/workflows/verify.yml
  bin/up
  config/environments/production.rb
Due: bin/standardrb --fix

Update web push article
  app/assets/images/articles/web-push-notifications-from-rails/chrome-macos-notifications-permissions.jpg
  app/assets/images/articles/web-push-notifications-from-rails/push-notifications-high-level.png
  app/assets/images/articles/web-push-notifications-from-rails/system-settings-focus-allowed-apps.jpg
  app/assets/images/articles/web-push-notifications-from-rails/system-settings-focus-do-no-disturb.jpg
  app/assets/images/articles/web-push-notifications-from-rails/system-settings-notifications.jpg
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/views/components/pwa/web_push_demo.rb
  app/views/pwa/web_pushes/_test.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update web push content and demo
  app/assets/images/articles/web-push-notifications-from-rails/app-views-pwa.jpg
  app/content/pages/articles/add-your-rails-app-to-the-home-screen.html.mdrb
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/javascript/controllers/pwa/web-push-demo.js
  app/javascript/controllers/pwa/web-push-subscription.js
  app/javascript/initializers/serviceworker-companion.js
  app/javascript/utils/index.js
  app/javascript/utils/web-push.js
  app/views/components/pwa/web_push_demo.rb
  app/views/components/pwa/web_push_subscription.rb
  app/views/layouts/application.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update article description
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Fix serviceworker registration
  app/javascript/initializers/serviceworker-companion.js
Due: none

Factor out the web_push_key helper
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/content/pages/pwa-showcase.html.erb
  app/helpers/pwa_helper.rb
  app/views/application/_config.html.erb
  app/views/components/pwa/web_push_demo.rb
  app/views/components/pwa/web_push_subscription.rb
  app/views/layouts/application.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
