Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Copy app icons to propshaft images directory
  app/assets/images/app-icons/apple-touch-icon.png
  app/assets/images/app-icons/favicon.ico
  app/assets/images/app-icons/icon-192-maskable.png
  app/assets/images/app-icons/icon-192.png
  app/assets/images/app-icons/icon-512-maskable.png
  app/assets/images/app-icons/icon-512.png
  app/assets/images/app-icons/icon-64.png
  app/assets/images/app-icons/icon.svg
  app/assets/images/app-icons/noun-tears-of-joy-3555562-80ffea-7960F8.png
  app/assets/images/app-icons/noun-tears-of-joy-3555562.svg
Due: none

Point seo meta tag icon helper to propshaft app icons
  app/helpers/application_helper.rb
Due: bin/standardrb --fix

Convert manifest.json images to propshaft
  app/helpers/pwa_helper.rb
  app/views/pwa/manifest.json.erb
Due: bin/standardrb --fix, bin/erblint -a

Remove app icons from public directory
  public/icon-192.png
  public/icon-512.png
  public/icon-64.png
  public/noun.png
  public/pwa-manifest/icon-192-maskable.png
  public/pwa-manifest/icon-192.png
  public/pwa-manifest/icon-512-maskable.png
  public/pwa-manifest/icon-512.png
  public/pwa-manifest/icon-64.png
  public/pwa-manifest/icon.svg
Due: none

Add more article images
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/app-badge.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/localhost-address-bar-1.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/localhost-address-bar.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/network-info.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/web-push.jpg
Due: none

Add ability to select pwa installation instructions by user agent nickname
  app/controllers/pwa/installation_instructions_controller.rb
  app/models/pwa/named_installation_instructions.rb
  app/models/pwa/user_agent_installation_instructions.rb
  app/views/pwa/installation_instructions/_desktop_firefox.html.erb
  app/views/pwa/installation_instructions/_installation_instructions.html.erb
  app/views/pwa/installation_instructions/_macos_firefox.html.erb
  app/views/pwa/installation_instructions/_macos_safari.html.erb
  app/views/pwa/installation_instructions/_unsupported.html.erb
  app/views/pwa/installation_instructions/_windows_firefox.html.erb
  app/views/pwa/installation_instructions/select.rb
  app/views/pwa/installation_instructions/show.html.erb
  app/views/pwa/installation_instructions/user_agents/_android_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_android_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_android_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_safari.html.erb
  app/views/pwa/installation_instructions/user_agents/_linux_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_linux_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_linux_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_linux_safari.html.erb
  app/views/pwa/installation_instructions/user_agents/_macos_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_macos_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_macos_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_macos_safari.html.erb
  app/views/pwa/installation_instructions/user_agents/_windows_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_windows_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_windows_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_windows_safari.html.erb
  spec/models/pwa/named_installation_instructions_spec.rb
  spec/models/pwa/user_agent_installation_instructions_spec.rb
  spec/requests/pwa/installation_instructions_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add copy
  app/content/pages/articles/add-a-rails-app-to-the-home-screen.html.mdrb
Due: none

Rename article
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/dock.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/launchpad.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/placeholder.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/standalone.jpg
  app/content/pages/articles/add-a-rails-app-to-the-home-screen.html.mdrb
Due: none

Add images for article
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/app-views-pwa.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/install-button-chrome.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/install-prompt-chrome.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/install-prompt-edge.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/install-prompt-safari.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/mac-dock-rails.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/maskable-icons.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/pwa-campfire.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/pwa-discourse.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/pwa-feedbin.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/pwa-hatchbox.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/uninstall-confirm-chrome.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/uninstall-prompt-chrome.jpg
Due: none

Extract app configuration for application name: "Joy of Rails"
  app/helpers/application_helper.rb
  app/views/components/layouts/front_door_form.rb
  app/views/feed/index.atom.builder
  app/views/pwa/manifest.json.erb
  config/application.rb
Due: bin/standardrb --fix, bin/erblint -a

Improve ol and ul css in articles
  app/javascript/css/components/article-content.css
Due: none

Update installation ux
  app/javascript/controllers/pwa/installation.js
  app/views/pwa/install_button.rb
Due: bin/standardrb --fix

Add Figures::ImageTag component
  app/views/components/figures/image_tag.rb
Due: bin/standardrb --fix

Pass options from CodeBlock::Article to support highlight lines from markdown
  app/views/components/code_block/article.rb
  app/views/components/code_block/code.rb
Due: bin/standardrb --fix

Add id property to manifest.json.erb
  app/views/pwa/manifest.json.erb
Due: bin/erblint -a

Update css
  app/javascript/css/baseline.css
  app/javascript/css/components/code.scss
Due: none

Iterate on article copy
  app/content/pages/articles/add-a-rails-app-to-the-home-screen.html.mdrb
Due: none

Add more article images
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/chrome-devtools-manifest.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/localhost-address-bar-1.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/masked-icon-bad.jpg
  app/assets/images/articles/add-a-rails-app-to-the-home-screen/masked-icon-good.jpg
  app/assets/stylesheets/pygments/dracula.css
Due: none

Update app installation ux
  app/javascript/controllers/pwa/installation.js
  app/views/pwa/installation_instructions/_installation_instructions.html.erb
Due: bin/erblint -a

Send event for standalone app
  app/javascript/controllers/pwa/installation.js
Due: none

Update installation ux
  app/javascript/controllers/pwa/installation.js
Due: none

Update installation instructions html
  app/views/pwa/installation_instructions/_installation_instructions.html.erb
Due: bin/erblint -a

Update copy
  app/content/pages/articles/add-your-rails-app-to-the-home-screen.html.mdrb
  app/javascript/controllers/pwa/installation.js
  app/views/pwa/install_button.rb
Due: bin/standardrb --fix

Add copy
  app/content/pages/articles/add-your-rails-app-to-the-home-screen.html.mdrb
Due: none

Add support for twitter widgets embedded in articles
  app/content/layouts/article.html.erb
Due: bin/erblint -a

Update manifest.json link tag
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Update article publish date
  app/content/pages/articles/add-your-rails-app-to-the-home-screen.html.mdrb
Due: none

Add basic test for Home Screen article
  spec/system/articles/add_a_rails_app_to_the_home_screen_spec.rb
Due: bin/standardrb --fix

Add punctuation;
  app/content/pages/articles/add-your-rails-app-to-the-home-screen.html.mdrb
Due: none

Render manifest for article inline instead of iframe
  app/content/pages/articles/add-your-rails-app-to-the-home-screen.html.mdrb
Due: none

Add title for iPad
  app/models/pwa/named_installation_instructions.rb
Due: bin/standardrb --fix

Add honeybadger event for installation instructions user agent
  app/controllers/pwa/installation_instructions_controller.rb
Due: bin/standardrb --fix

Update bundler
  Gemfile.lock
Due: none

Bump puma for ruby advisory
  Gemfile.lock
Due: none

Update the featured image for the home screen article
  app/assets/images/articles/add-your-rails-app-to-the-home-screen/ruby-app-icon-archived.jpg
  app/assets/images/articles/add-your-rails-app-to-the-home-screen/ruby-app-icon.jpg
Due: none

Add installation instructions for ipad
  app/views/pwa/installation_instructions/_installation_instructions.html.erb
  app/views/pwa/installation_instructions/_unsupported.html.erb
  app/views/pwa/installation_instructions/select.rb
  app/views/pwa/installation_instructions/user_agents/_ios_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_safari.html.erb
  app/views/pwa/installation_instructions/user_agents/_ipados_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_ipados_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_ipados_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_ipados_safari.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Better OS titleization for installation instructions
  app/models/pwa/named_installation_instructions.rb
  app/models/pwa/user_agent_installation_instructions.rb
Due: bin/standardrb --fix
