Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Update About page, add Design page
  app/content/layouts/article.html.erb
  app/content/pages/about/design.html.mdrb
  app/content/pages/about/index.html.mdrb
Due: bin/erblint -a

Remove legacy content layout
  app/content/layouts/content.html.erb
Due: bin/erblint -a

Update text color
  app/javascript/css-redesign/config/colors.css
  app/javascript/css-redesign/config/theme.css
Due: none

Fix pwa showcase test
  app/content/layouts/showcase.html.erb
  app/content/pages/pwa-showcase.html.erb
  app/javascript/css/components/flash.css
  spec/system/pwa_showcase_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update input border style
  app/javascript/css/baseline.css
Due: none

Update some styles
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/components/button.css
Due: none

Remove figure from markdown for now
  app/views/components/markdown/allows_erb.rb
Due: bin/standardrb --fix

Remove css helper
  app/helpers/css_helper.rb
Due: bin/standardrb --fix

Remove another unused helper
  app/helpers/users/sessions_helper.rb
Due: bin/standardrb --fix

Iterate on home page layout with page summaries
  app/content/helpers/page_helper.rb
  app/content/layouts/article.html.erb
  app/content/models/article_page.rb
  app/content/pages/articles/index.html.erb
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/content/pages/index.html.erb
  app/javascript/css/baseline.css
  app/javascript/css/layout.scss
  app/javascript/css/theme/code/monokai.css
  app/javascript/css/utilities.css
  app/views/components/pages/header.rb
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix, bin/erblint -a

Add phlex paths to application wasm config
  config/application_wasm.rb
Due: bin/standardrb --fix

Add workaround for wasm build
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix

Space and grid fixes for mobile web
  app/content/pages/articles/index.html.erb
  app/content/pages/index.html.erb
  app/javascript/css/components/footer-content.css
  app/javascript/css/components/newsletter-banner.css
  app/javascript/css/layout.scss
  app/javascript/css/utilities.css
  app/views/application/_footer.html.erb
  app/views/components/pages/summary.rb
  app/views/newsletter/_banner.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update design page
  app/content/pages/about/design.html.mdrb
Due: none

Update page summary component
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix

Update theme color settings
  app/javascript/css/config/theme.css
Due: none

Extract separate files and css layer for utilities
  app/javascript/css/application.css
  app/javascript/css/utilities/custom.css
  app/javascript/css/utilities/tailwind-media.scss
  app/javascript/css/utilities/tailwind.css
Due: none

Make use of utilities css layer
  app/javascript/css/application.css
Due: none

MIGRATION: Make users password_digest nullable
  db/migrate/20240624203236_make_user_password_nullable.rb
  db/schema.rb
Due: bin/standardrb --fix

MIGRATION: Add newsletter subscriptions table
  db/migrate/20240624221419_create_newsletter_subscriptions.rb
  db/schema.rb
Due: bin/standardrb --fix

Add NewsletterSubscription model
  app/models/newsletter_subscription.rb
  app/models/user.rb
  spec/factories/newsletter_subscriptions.rb
Due: bin/standardrb --fix

Add ability for user to subscribe and unsubcribe to newsletter
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/models/user.rb
  app/views/users/newsletter_subscriptions/new_view.rb
  config/routes.rb
  spec/factories/users.rb
  spec/requests/users/confirmations_spec.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
  spec/requests/users/registrations_spec.rb
  spec/requests/users/sessions_spec.rb
Due: bin/standardrb --fix

Implement subscribe to newsletter ux
  app/content/pages/index.html.erb
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/models/newsletter_subscription.rb
  app/views/newsletter_subscriptions/_banner.html.erb
  app/views/users/newsletter_subscriptions/_form.html.erb
  app/views/users/newsletter_subscriptions/_newsletter_subscription.html.erb
  app/views/users/newsletter_subscriptions/new.html.erb
  app/views/users/newsletter_subscriptions/show.html.erb
  config/routes.rb
  spec/requests/users/confirmations_spec.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
  spec/system/users/newsletter_subscriptions_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add utility classes
  app/javascript/css/utilities/custom.css
  app/javascript/css/utilities/tailwind.css
Due: none

Update footer and newsletter banner spacing
  app/views/application/_footer.html.erb
  app/views/newsletter_subscriptions/_banner.html.erb
Due: bin/erblint -a

Update footer content
  app/views/application/_footer.html.erb
Due: bin/erblint -a

Update front door form for redesign
  app/views/components/layouts/front_door.rb
  app/views/components/layouts/front_door_form.rb
  app/views/users/sessions/new_view.rb
Due: bin/standardrb --fix

Add success, error, and warning styles
  app/javascript/css/application.css
  app/javascript/css/components/callout.css
  app/javascript/css/config/theme.css
  app/javascript/css/utilities/custom.css
Due: none

Remove buttondown newsletter integration
  app/content/layouts/article.html.erb
  app/content/pages/index.html.erb
  app/views/newsletter/_banner.html.erb
  app/views/newsletter/_form.html.erb
  app/views/newsletter_subscriptions/_banner.html.erb
Due: bin/erblint -a

Migrate newsletter templates to phlex
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/views/users/newsletter_subscriptions/_banner.html.erb
  app/views/users/newsletter_subscriptions/_form.html.erb
  app/views/users/newsletter_subscriptions/_newsletter_subscription.html.erb
  app/views/users/newsletter_subscriptions/banner.rb
  app/views/users/newsletter_subscriptions/form.rb
  app/views/users/newsletter_subscriptions/new.html.erb
  app/views/users/newsletter_subscriptions/new_view.rb
  app/views/users/newsletter_subscriptions/show.html.erb
  app/views/users/newsletter_subscriptions/show_view.rb
Due: bin/standardrb --fix, bin/erblint -a

Update newsletter tagline
  app/views/users/newsletter_subscriptions/banner.rb
Due: bin/standardrb --fix

Style updates for forms
  app/javascript/css/baseline.css
  app/javascript/css/config/theme.css
  app/javascript/css/utilities/custom.css
  app/views/admin_users/sessions/new.html.erb
  app/views/application/_footer.html.erb
  app/views/components/layouts/front_door_form.rb
  app/views/users/newsletter_subscriptions/form.rb
Due: bin/standardrb --fix, bin/erblint -a

Make rails time helpers available in specs
  spec/rails_helper.rb
Due: bin/standardrb --fix

Improve dark mode switch accessibility
  app/javascript/test/fixtures/views/darkmode/switch.html
  app/views/darkmode/_switch.html.erb
Due: bin/erblint -a

Add invisible captcha for registration and newsletter forms
  Gemfile
  Gemfile.lock
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/controllers/users/registrations_controller.rb
  app/views/components/concerns/has_invisible_captcha.rb
  app/views/users/newsletter_subscriptions/form.rb
  app/views/users/registrations/new_view.rb
  config/application_wasm.rb
  config/initializers/invisible_captcha.rb
Due: bin/standardrb --fix

Allow unsubscribe to work for logged in user
  app/controllers/users/newsletter_subscriptions_controller.rb
  config/routes.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
Due: bin/standardrb --fix

Monkey patch inline svg for fixtures
  app/javascript/test/fixtures/views/darkmode/switch.html
  lib/tasks/fixtures/html.rake
Due: none

Remove unused component code
  app/views/components/layouts/front_door.rb
  app/views/components/layouts/front_door_form.rb
Due: bin/standardrb --fix

Implement controller methods for authenticate or not found
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication.rb
  app/controllers/concerns/erroring.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
