Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

Refactor vote query
  app/controllers/share/polls/votes_controller.rb
  app/models/poll.rb
  app/models/polls/question.rb
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/poll_component.rb
  spec/models/poll_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Generate new article
  app/assets/images/articles/simple-trick-to-understand-ruby-s-lazy-enumerator/placeholder.jpg
  app/content/pages/articles/simple-trick-to-understand-ruby-s-lazy-enumerator.html.mdrb
  spec/system/content/simple-trick-to-understand-ruby-s-lazy-enumerator_spec.rb
Due: bin/standardrb --fix

Update article generator
  lib/generators/article/templates/article.html.mdrb.tt
  lib/generators/article/templates/article_spec.rb.tt
  lib/generators/article/templates/placeholder.webp
Due: none

wip
  app/content/pages/articles/simple-trick-to-understand-ruby-s-lazy-enumerator.html.mdrb
Due: none

Update loading gif
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/README.md
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/loading.gif
Due: none

Render ruby enumeration iframe in a turbo frame 🤯
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/loading.gif
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/controllers/examples/ruby_enumerations_controller.rb
  app/views/components/demo/ruby_enumeration.rb
  config/routes.rb
Due: bin/standardrb --fix

Iterate on article with phlex component
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/placeholder.jpg
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/content/pages/articles/simple-trick-to-understand-ruby-s-lazy-enumerator.html.mdrb
  app/views/components/demo/ruby_enumeration.rb
  spec/system/content/simple-trick-to-understand-ruby-lazy-enumerator_spec.rb
Due: bin/standardrb --fix

Use color scheme to set ruby enumeration demo background
  app/controllers/examples/ruby_enumerations_controller.rb
  app/views/components/demo/ruby_enumeration.rb
Due: bin/standardrb --fix

Forward ruby enumeration demo params with dark mode
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/controllers/examples/ruby_enumerations_controller.rb
  app/javascript/controllers/darkmode.js
  app/javascript/controllers/demos/ruby-enumeration.js
  app/javascript/controllers/index.js
  app/views/components/demo/ruby_enumeration.rb
Due: bin/standardrb --fix

Just render the demo straight to iframe
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/controllers/examples/ruby_enumerations_controller.rb
  app/javascript/controllers/demos/ruby-enumeration.js
  app/views/components/demo/ruby_enumeration.rb
  config/routes.rb
Due: bin/standardrb --fix

Make ruby demo iframe change with darkmode
  app/javascript/controllers/darkmode.js
  app/javascript/controllers/demos/ruby-enumeration.js
  app/views/components/demo/ruby_enumeration.rb
Due: bin/standardrb --fix

Extract ruby demo stimulus controller helper function
  app/javascript/controllers/demos/ruby-enumeration.js
Due: none

Grammatical updates
  Gemfile
  docs/CONTRIBUTING.md
  docs/SECURITY.md
  spec/models/topic_spec.rb
Due: bin/standardrb --fix

Requires necessary to seed newsletters and snippets
  db/seeds/development/newsletters.rb
  db/seeds/development/snippets.rb
Due: bin/standardrb --fix

Run bin/setup in CI for development
  .github/workflows/verify.yml
Due: none

Run bundle update brakeman --conservative
  Gemfile.lock
  db/seeds/development/newsletters.rb
  db/seeds/development/snippets.rb
Due: bin/standardrb --fix

Update require statements for factory bot and faker
  db/seeds/development/newsletters.rb
  db/seeds/development/snippets.rb
  spec/factories/newsletters.rb
  spec/factories/pages.rb
  spec/factories/snippets.rb
  spec/models/gravatar_spec.rb
  spec/requests/pwa/installation_instructions_spec.rb
Due: bin/standardrb --fix

Update comment
  config/environments/production.rb
Due: bin/standardrb --fix

Allow code block app file to forward attributes to container
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Update yaml
  app/content/pages/settings/index.html.mdrb
Due: none

Add Meta index page and activestorage in production page
  app/content/pages/meta/deployment/activestorage.html.mdrb
  app/content/pages/meta/index.html.mdrb
  app/views/application/_footer.html.erb
Due: bin/erb_lint -a

Add titles for the footer about links
  app/views/application/_footer.html.erb
Due: bin/erb_lint -a

Remove unused npm dependencies
  app/javascript/initializers/color-palette.js
  app/javascript/initializers/index.js
  app/javascript/utils/color-palette.js
  app/javascript/utils/index.js
  package-lock.json
  package.json
Due: none

Convert html-to-image to dynamic import
  app/javascript/controllers/snippets/screenshot.ts
  app/javascript/entrypoints/application.js
Due: none

Experiment with demo app iframe in a turbo frame 🤯
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/loading.gif
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/controllers/examples/ruby_enumerations_controller.rb
  app/views/components/demo/ruby_enumeration.rb
  config/routes.rb
Due: bin/standardrb --fix

Add design section about illustrations
  app/content/pages/about/design.html.mdrb
Due: none

Add acknowledgement for egghead
  app/content/pages/about/acknowledgements.html.mdrb
Due: none

Update footer
  app/views/application/_footer.html.erb
Due: bin/erb_lint -a

Add about me page
  app/content/pages/about/me.html.mdrb
  app/views/application/_footer.html.erb
Due: bin/erb_lint -a

Add system spec
  spec/system/content/simple-trick-to-understand-ruby-lazy-enumerator_spec.rb
Due: bin/standardrb --fix

Add article image
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/peas.jpg
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/peas.webp
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: none

Fix article generator
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erb_lint -a: any of: *.erb
