Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Add plausible event array
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Use debug util in stimulus controllers
  app/javascript/controllers/clipboard-copy.js
  app/javascript/controllers/darkmode.js
Due: none

Attempt to fix plausible event with stimulus
  app/javascript/controllers/index.js
  app/javascript/controllers/plausible/custom-event.js
  app/views/examples/counters/_form.html.erb
Due: bin/erblint -a

Add and install phlex-rails and phlex-markdown
  Gemfile
  Gemfile.lock
  app/views/application_view.rb
  app/views/components/application_component.rb
  app/views/layouts/application_layout.rb
  config/application.rb
Due: bin/standardrb --fix

Render action view template handler for phlex markdown
  app/markdown/application_markdown.rb
  config/initializers/markdown.rb
Due: bin/standardrb --fix

Update code helper options
  app/helpers/code_helper.rb
Due: bin/standardrb --fix

Update button colors
  app/javascript/css/themes/colors.css
Due: none

Enable viewing of drafts
  app/content/models/article_page.rb
  app/content/pages/drafts.html.erb
  app/helpers/articles_helper.rb
Due: bin/standardrb --fix, bin/erblint -a

Enhance phlex markdown handlers
  app/markdown/application_markdown.rb
  app/markdown/erb_markdown.rb
  config/initializers/markdown.rb
Due: bin/standardrb --fix

Update bin/verify
  bin/verify
Due: none

Extract CodeBlock phlex component for reuse outside of markdown
  app/markdown/application_markdown.rb
  app/views/components/code_block.rb
  app/views/examples/_example.html.erb
  spec/markdown/erb_markdown_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Basic markdown toc in phlex, missing hierarchy
  app/content/helpers/page_helper.rb
  app/markdown/application_markdown.rb
  app/views/components/markdown_toc.rb
Due: bin/standardrb --fix

Remove markdown-rails and redcarpet
  Gemfile
  Gemfile.lock
Due: none

Bump wasm app with phlex
  WASM_APP_VERSION
  app/markdown/application_markdown.rb
  config/application_wasm.rb
Due: bin/standardrb --fix

Support toc hierarchy
  app/views/components/markdown_toc.rb
  spec/rails_helper.rb
  spec/views/components/markdown_toc_spec.rb
Due: bin/standardrb --fix

Remove unused code helper
  app/helpers/code_helper.rb
Due: bin/standardrb --fix

Mark wip article as draft
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
Due: none

Component cleanup
  app/views/components/code/_wasm.html.erb
  app/views/components/code_block.rb
  app/views/components/markdown_toc.rb
Due: bin/standardrb --fix, bin/erblint -a

Add explanatory comment for web push key
  app/helpers/pwa_helper.rb
Due: bin/standardrb --fix

Move markdown components
  app/views/components/application_markdown.rb
  app/views/components/erb_markdown.rb
Due: bin/standardrb --fix

Extract WebPushDemo component
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
  app/views/components/pwa/web_push_demo.rb
Due: bin/standardrb --fix

Update partial reference with phlex component
  app/content/pages/pwa-showcase.html.erb
Due: bin/erblint -a

Allow ungated access to admin pages in local development
  app/lib/routes/admin_access_constraint.rb
  spec/requests/admin_spec.rb
Due: bin/standardrb --fix

Update .env.example
  .env.example
  Procfile.dev
Due: none

Configure tailwind for phlex components
  config/tailwind.config.js
Due: none

Remove legacy partials
  app/views/components/pwa/_web_push_demo.html.erb
  app/views/components/pwa/_web_push_subscription.html.erb
Due: bin/erblint -a

Extract ClipboardCopy component
  app/views/components/_clipboard_copy.html.erb
  app/views/components/clipboard_copy.rb
  app/views/components/code_block.rb
Due: bin/standardrb --fix, bin/erblint -a

Update spacing
  app/views/components/pwa/web_push_subscription.rb
Due: bin/standardrb --fix

Extract WebPushSubscription component
  app/views/components/pwa/_web_push_demo.html.erb
  app/views/components/pwa/web_push_subscription.rb
Due: bin/standardrb --fix, bin/erblint -a

Rename markdown components and extract class hierarchy
  app/content/helpers/page_helper.rb
  app/views/components/markdown/application.rb
  app/views/components/markdown/base.rb
  app/views/components/markdown/erb.rb
  app/views/components/markdown/toc.rb
  config/initializers/markdown.rb
  spec/views/components/markdown/erb_spec.rb
  spec/views/components/markdown/toc_spec.rb
Due: bin/standardrb --fix

Update code block option and add repo url
  app/models/examples/app_file.rb
  app/views/examples/_example.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update article layout for hiding TOC
  app/content/layouts/article.html.erb
  app/javascript/css/components/code.css
  app/javascript/css/themes/typography.css
Due: bin/erblint -a

Extract AppFile model to represent code examples
  app/controllers/examples_controller.rb
  app/models/examples/app_file.rb
  app/views/examples/_example.html.erb
  app/views/examples/index.html.erb
  app/views/examples/ruby/hello_date.rb
  app/views/examples/ruby/hello_ruby.rb
  app/views/examples/ruby/map_sum.rb
  app/views/examples/ruby/render_hello_show.rb
  app/views/examples/show.html.erb
  spec/system/examples_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update schema
  db/cache_schema.rb
  db/queue_schema.rb
  db/schema.rb
Due: bin/standardrb --fix

MIGRATION: Add solid queue recurring executions
  db/migrate_queue/20240427193607_create_recurring_executions.solid_queue.rb
  db/queue_schema.rb
Due: bin/standardrb --fix

Update security policy
  SECURITY.md
Due: none

Enhance and subclass CodeBlock component
  app/assets/images/external-link.svg
  app/javascript/css/components/code.css
  app/models/examples/app_file.rb
  app/views/components/code_block.rb
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Enhance markdown erb to break out of paragraph
  app/views/components/markdown/erb.rb
  spec/views/components/markdown/erb_spec.rb
Due: bin/standardrb --fix

Rework code metadata parsing to JSON
  app/javascript/css/components/code.css
  app/views/components/code_block.rb
  app/views/components/markdown/application.rb
  app/views/examples/_example.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Register .mdrb file extension for markdown erb support
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  config/initializers/markdown.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
