Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Enable new Rails 7.2 defaults
  config/initializers/new_framework_defaults_7_2.rb
Due: bin/standardrb --fix

Run rails app:update for Rails 7.2
  bin/wasm/test.rb
  config/environments/development.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_7_2.rb
  config/puma.rb
  db/migrate/20240913104820_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20240913104821_create_active_storage_variant_records.active_storage.rb
  db/migrate/20240913104822_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  db/schema.rb
  public/406-unsupported-browser.html
Due: bin/standardrb --fix

Update footer
  app/views/application/_footer.html.erb
Due: bin/erblint -a

Migrate to official Rails SolidCable
  Gemfile
  Gemfile.lock
  app/models/solid_cable/message.rb
  app/models/solid_cable/record.rb
  config/application.rb
  config/cable.yml
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/solid_cable.rb
  db/cable_schema.rb
  db/migrate_cable/20240914010017_create_compact_channel.rb
  lib/action_cable/subscription_adapter/solid_cable.rb
  lib/solid_cable.rb
  lib/solid_cable/engine.rb
Due: bin/standardrb --fix

Bump to Phlex 2.0.0.beta1
  Gemfile
  Gemfile.lock
Due: none

Fixes for phlex 2
  app/views/components/color_schemes/css.rb
  app/views/settings/color_schemes/show_view.rb
  app/views/settings/syntax_highlights/form.rb
Due: bin/standardrb --fix

Html escape clipboard copy source value for Phlex 2 compat
  app/views/components/clipboard_copy.rb
Due: bin/standardrb --fix

Remove unnecessary usage of plain with rails form helpers in phlex components
  app/views/components/layouts/front_door_form.rb
  app/views/components/pwa/web_push_demo.rb
  app/views/share/snippet_screenshots/form.rb
  app/views/share/snippets/form.rb
  app/views/users/newsletter_subscriptions/form.rb
Due: bin/standardrb --fix

Add specs to reproduce ClipboardCopy syntax error with ERB
  spec/views/components/clipboard_copy_spec.rb
Due: bin/standardrb --fix

Bump phlex
  Gemfile.lock
Due: none

Upgrade to Phlex 2
  Gemfile
  Gemfile.lock
Due: none

Extract Phlex concern for inline svg tags
  app/views/components/clipboard_copy.rb
  app/views/components/code_block/app_file_header.rb
  app/views/components/code_block/header.rb
  app/views/components/layouts/front_door_form.rb
  app/views/components/phlex_concerns/svg_tag.rb
  app/views/users/magic_session_tokens/new_view.rb
  app/views/users/passwords/new_view.rb
Due: bin/standardrb --fix

Update phlex usage for v2
  app/views/components/clipboard_copy.rb
  app/views/components/code_block/app_file_header.rb
  app/views/components/code_block/code.rb
  app/views/components/code_block/header.rb
  app/views/components/layouts/front_door_form.rb
  app/views/components/markdown/allows_erb.rb
  app/views/components/markdown/application.rb
  app/views/components/markdown/article.rb
  app/views/users/newsletter_subscriptions/show_view.rb
  spec/rails_helper.rb
  spec/views/components/markdown/erb_spec.rb
Due: bin/standardrb --fix

Update Gemfile comment
  Gemfile
Due: none

Load Rails 7.2 application defaults
  config/application.rb
  config/initializers/new_framework_defaults_7_2.rb
Due: bin/standardrb --fix

Target iframe style in articles so as to not affect all iframes
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
  app/javascript/css/components/article-content.css
Due: none

Add custom error pages for 404, 422, and 500 errors
  app/controllers/errors_controller.rb
  app/javascript/css/components/page-header.css
  app/views/components/pages/header.rb
  app/views/errors/error_body.rb
  app/views/errors/internal_server_view.rb
  app/views/errors/not_found_view.rb
  app/views/errors/spotify_embed.rb
  app/views/errors/unprocessable_view.rb
  config/application.rb
  config/routes.rb
  public/404.html
  public/422.html
  public/500.html
  spec/requests/errors_spec.rb
Due: bin/standardrb --fix

Fix copy on 404 page
  app/views/errors/not_found_view.rb
  config/environments/development.rb
Due: bin/standardrb --fix

Update mobile-web-app-cable meta tag
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Iterate on pwa manifest
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/controllers/concerns/color_scheming.rb
  app/controllers/rails/pwa_controller.rb
  app/helpers/pwa_helper.rb
  app/jobs/pwa/web_push_job.rb
  app/models/current.rb
  app/views/pwa/manifest.json.erb
  public/manifest.webmanifest
  public/pwa-manifest/icon-192-maskable.png
  public/pwa-manifest/icon-192.png
  public/pwa-manifest/icon-512-maskable.png
  public/pwa-manifest/icon-512.png
  public/pwa-manifest/icon-64.png
  public/pwa-manifest/icon.svg
  spec/requests/pwa/web_pushes_spec.rb
  spec/requests/pwa_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Iterate on web push article
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/views/components/pwa/web_push_demo.rb
Due: bin/standardrb --fix

Iterate on web push article
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/views/components/markdown/base.rb
Due: bin/standardrb --fix

Update manifest icons for spacing
  public/icon-192.png
  public/icon-512.png
  public/icon-64.png
Due: none

Extract Phlex component for pwa install
  app/content/pages/pwa-showcase.html.erb
  app/views/pwa/install_button.rb
  spec/system/pwa_showcase_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Fix link on about page
  app/content/pages/about/design.html.mdrb
Due: none

Detect already installed pwa in stimulus controller
  app/javascript/controllers/pwa/installation.js
Due: none

Iterate on article
  app/content/pages/articles/you-can-add-a-rails-app-to-the-home-screen.html.mdrb
Due: none

Start home screen article
  app/assets/images/articles/you-can-add-a-rails-app-to-the-home-screen/placeholder.jpg
  app/content/pages/articles/you-can-add-a-rails-app-to-the-home-screen.html.mdrb
Due: none

Update publish date for web push article
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Update content type for manifest per MDN
  app/controllers/rails/pwa_controller.rb
Due: bin/standardrb --fix

Update html for pwa installation instructions
  app/views/pwa/installation_instructions/show.html.erb
Due: bin/erblint -a

Refactor utils exports
  app/javascript/channels/heartbeat-channel.js
  app/javascript/controllers/analytics/custom-event.js
  app/javascript/controllers/clipboard-copy.ts
  app/javascript/controllers/code-example.js
  app/javascript/controllers/code-example/rails.js
  app/javascript/controllers/darkmode.js
  app/javascript/controllers/forms/frame.js
  app/javascript/controllers/pwa/web-push-demo.js
  app/javascript/controllers/pwa/web-push-subscription.js
  app/javascript/controllers/snippets/editor.ts
  app/javascript/controllers/snippets/preview.ts
  app/javascript/controllers/snippets/screenshot.ts
  app/javascript/controllers/snippets/tweet.ts
  app/javascript/controllers/syntax-highlight/preview.js
  app/javascript/initializers/serviceworker-companion.js
  app/javascript/ruby-wasm/rails/boot.js
  app/javascript/ruby-wasm/rails/url.js
  app/javascript/ruby-wasm/rails/worker.js
  app/javascript/ruby-wasm/vm.js
  app/javascript/utils/debug.js
  app/javascript/utils/index.js
  app/javascript/utils/plausible.js
  app/javascript/utils/web-push.js
Due: none

Update article publish date
  app/content/pages/articles/you-can-add-a-rails-app-to-the-home-screen.html.mdrb
Due: none

Add article images
  app/assets/images/articles/you-can-add-a-rails-app-to-the-home-screen/dock.jpg
  app/assets/images/articles/you-can-add-a-rails-app-to-the-home-screen/launchpad.jpg
  app/assets/images/articles/you-can-add-a-rails-app-to-the-home-screen/standalone.jpg
Due: none

Refactor debounce export
  app/javascript/controllers/snippets/editor.ts
  app/javascript/controllers/snippets/preview.ts
  app/javascript/utils/debounce.ts
Due: none

Style ol in article content
  app/javascript/css/components/article-content.css
Due: none

Iterate on pwa installation stimulus controller
  app/javascript/controllers/pwa/installation.js
Due: none

Update installation instructions copy
  app/views/pwa/installation_instructions/show.html.erb
Due: bin/erblint -a

Remove unused manifest
  app/helpers/application_helper.rb
  public/manifest.webmanifest
Due: bin/standardrb --fix

Update app icons
  public/apple-touch-icon-purple.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon.svg
  public/pwa-manifest/icon.svg
Due: none
