Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Add newsletter index route for current user
  app/controllers/users/newsletter_subscriptions_controller.rb
  config/routes.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
Due: bin/standardrb --fix

Implement authenticated subscribe/unsubscribe with hotwire
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/javascript/css/components/button.css
  app/models/user.rb
  app/views/users/newsletter_subscriptions/form.rb
  app/views/users/newsletter_subscriptions/new_view.rb
  app/views/users/newsletter_subscriptions/show_view.rb
  app/views/users/newsletter_subscriptions/subscribe_button.rb
  app/views/users/newsletter_subscriptions/unsubscribe_button.rb
  config/routes.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
  spec/system/users/newsletter_subscriptions_spec.rb
Due: bin/standardrb --fix

Remove flash message for newsletter create
  app/controllers/users/newsletter_subscriptions_controller.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
Due: bin/standardrb --fix

Add Thanks page for post-registration
  app/controllers/users/registrations_controller.rb
  app/javascript/css/utilities/tailwind.css
  app/views/users/registrations/thanks_view.rb
  config/routes.rb
  spec/requests/users/registrations_spec.rb
Due: bin/standardrb --fix

Notify admin users when new users register
  app/controllers/users/registrations_controller.rb
  app/jobs/new_user_notification_job.rb
  app/mailers/emails/admin_user_mailer.rb
  app/notifiers/new_user_notifier.rb
  app/views/emails/admin_user_mailer/new_user.html.erb
  app/views/emails/admin_user_mailer/new_user.text.erb
  spec/mailers/emails/admin_user_mailer_spec.rb
  spec/mailers/previews/emails/admin_user_mailer_preview.rb
  spec/requests/users/registrations_spec.rb
  spec/support/mail_helpers.rb
Due: bin/standardrb --fix, bin/erblint -a

Email admin users for new subscribers
  app/controllers/users/newsletter_subscriptions_controller.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
Due: bin/standardrb --fix

Remove job extraction
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/controllers/users/registrations_controller.rb
  app/jobs/new_user_notification_job.rb
Due: bin/standardrb --fix

Disable invisible captcha to troubleshoot false positives
  app/controllers/users/newsletter_subscriptions_controller.rb
Due: bin/standardrb --fix

Extract thank yous controller
  app/controllers/concerns/erroring.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/thank_yous_controller.rb
  app/views/users/newsletter_subscriptions/show_view.rb
  app/views/users/thank_yous/show_view.rb
  config/routes.rb
  spec/requests/users/registrations_spec.rb
  spec/system/users/newsletter_subscriptions_spec.rb
Due: bin/standardrb --fix

Fix bug for resubscribers with newsletter
  app/controllers/users/newsletter_subscriptions_controller.rb
  spec/factories/users.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
Due: bin/standardrb --fix

Add newsletter signup event
  app/views/users/newsletter_subscriptions/show_view.rb
Due: bin/standardrb --fix

Enable setting password for subscribers
  app/controllers/users/registrations_controller.rb
  spec/requests/users/registrations_spec.rb
Due: bin/standardrb --fix

Upgrade litestream, mount ui
  Gemfile.lock
  app/views/admin/home/index.html.erb
  app/views/layouts/application.html.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Extract separate entrypoint for dracula syntax
  app/javascript/entrypoints/code/dracula.css
  app/views/application/theme/_code.html.erb
Due: bin/erblint -a

Add ColorScale model and seed default color scale
  app/models/color_scale.rb
  db/seeds/development.rb
  db/seeds/production.rb
  spec/factories/color_scales.rb
  spec/models/color_scale_spec.rb
Due: bin/standardrb --fix

MIGRATION: Create color_scales table
  db/migrate/20240701121018_create_color_scales.rb
  db/schema.rb
Due: bin/standardrb --fix

Add scripts to generate color scales
  app/models/color_scale.rb
  lib/tasks/color_scales/seed.rake
  script/colors/data/1500-colors.mjs
  script/colors/data/tailwind-colors-hex
  script/colors/data/uicolors-palette-hex.json
  script/colors/generate-1500-hex.js
  script/colors/palette.mjs
  script/colors/rewrite-palettes-hex-to-hsla
  script/colors/rewrite-tailwind-colors-hsla
  script/colors/rewrite-uicolors-hsla
Due: bin/standardrb --fix

Fix Procfile.litestream.dev
  Procfile.litestream.dev
Due: none

Add color_conversion to application wasm config
  Gemfile
  Gemfile.lock
  config/application_wasm.rb
Due: bin/standardrb --fix

Style updates for buttons
  app/javascript/css/components/button.css
  app/javascript/css/config/theme.css
Due: none

Update body tag
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Rename color theme as settings and add namespace
  app/controllers/settings/color_schemes_controller.rb
  app/models/settings.rb
  app/views/color_schemes/show_view.rb
  config/routes.rb
  spec/system/settings/color_schemes_spec.rb
Due: bin/standardrb --fix

Add cached id query for color scale default and reset button
  app/controllers/color_themes_controller.rb
  app/models/color_scale.rb
  app/views/color_themes/show_view.rb
Due: bin/standardrb --fix

Update styles for color theme page
  app/javascript/css/application.css
  app/javascript/css/baseline.css
  app/javascript/css/components/button.css
  app/javascript/css/components/color-theme.scss
  app/javascript/css/utilities/custom.css
Due: none

MIGRATION: Rename color_scales as color_schemes
  app/controllers/application_controller.rb
  app/controllers/settings/color_schemes_controller.rb
  app/models/color_scheme.rb
  app/models/settings.rb
  app/views/application/theme/_color.html.erb
  app/views/color_schemes/show_view.rb
  app/views/components/color_schemes/css.rb
  db/migrate/20240703114144_drop_color_scales.rb
  db/migrate/20240703114157_create_color_schemes.rb
  db/schema.rb
  db/seeds/development.rb
  db/seeds/production.rb
  lib/tasks/color_schemes/seed.rake
  spec/factories/color_schemes.rb
  spec/models/color_scale_spec.rb
  spec/models/color_scheme_spec.rb
  spec/system/settings/color_schemes_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Allow select color scale for preview
  app/controllers/color_themes_controller.rb
  app/views/application/theme/_color.html.erb
  app/views/color_themes/show_view.rb
Due: bin/standardrb --fix, bin/erblint -a

Update styles for buttons, selects, color scheme
  app/javascript/css/application.css
  app/javascript/css/components/button.css
  app/javascript/css/components/color-scheme.scss
  app/javascript/css/components/select.css
  app/javascript/css/config/theme.css
Due: none

Generate list of curated colors and color scales
  app/models/color_scale.rb
  config/curated_colors.yml
Due: bin/standardrb --fix

Extract color theme model
  app/controllers/color_themes_controller.rb
  app/models/color_theme.rb
  app/views/color_themes/show_view.rb
Due: bin/standardrb --fix

Ability to set color scheme in session
  app/controllers/application_controller.rb
  app/controllers/color_themes_controller.rb
  app/models/color_scale.rb
  app/models/color_theme.rb
  app/views/application/theme/_color.html.erb
  app/views/color_themes/show_view.rb
  spec/models/color_scale_spec.rb
  spec/system/color_themes/customize_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

WIP Color theme page
  app/controllers/color_themes_controller.rb
  app/javascript/css/application.css
  app/javascript/css/components/color-theme.css
  app/javascript/css/utilities/custom.css
  app/models/color_scale.rb
  app/views/color_themes/show_view.rb
  config/routes.rb
  spec/system/color_themes/customize_spec.rb
Due: bin/standardrb --fix

Render default color scheme from db
  app/javascript/css/application.css
  app/models/color_scale.rb
  app/views/application/theme/_color.html.erb
  app/views/components/color_scales/css.rb
Due: bin/standardrb --fix, bin/erblint -a

Render custom color scheme via css action; iterate on color scheme ux
  app/controllers/application_controller.rb
  app/controllers/settings/color_schemes_controller.rb
  app/views/application/theme/_color.html.erb
  app/views/color_schemes/show_view.rb
  app/views/components/color_schemes/css.rb
  spec/system/settings/color_schemes_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Skip http cache for custom color scheme
  app/controllers/site_controller.rb
Due: bin/standardrb --fix

Add request specs for color schemes
  spec/requests/settings/color_schemes_spec.rb
  spec/system/settings/color_schemes_spec.rb
Due: bin/standardrb --fix

Extract color scheming controller concern
  app/controllers/application_controller.rb
  app/controllers/concerns/color_scheming.rb
  app/controllers/settings/color_schemes_controller.rb
Due: bin/standardrb --fix

Update tests to avoid name collision for color schemes
  spec/factories/color_schemes.rb
  spec/requests/settings/color_schemes_spec.rb
  spec/system/settings/color_schemes_spec.rb
Due: bin/standardrb --fix

Add link to color scheme settings in footer
  app/views/application/_footer.html.erb
  spec/system/settings/color_schemes_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Skip custom color rendering for wasm
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Update section-content css
  app/javascript/css/components/article-content.css
Due: none
