Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

Refactor Page upsert methods
  app/jobs/pages/batch_upsert_pages_job.rb
  app/models/page.rb
  spec/system/articles_spec.rb
  spec/system/topics_spec.rb
Due: bin/standardrb --fix

Factor out Sitepress in favor of Page for article layout
  app/content/layouts/article.html.erb
  app/models/page.rb
  app/views/searches/results/page.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Use Page.published scope for topic detail path
  app/models/page.rb
  app/views/topics/show.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Use Page.published scope for analyzing topics
  app/jobs/pages/batch_analyze_topics_job.rb
  spec/jobs/pages/batch_analyze_topics_job_spec.rb
Due: bin/standardrb --fix

Use FactoryBot for Page creation
  spec/jobs/pages/analyze_topics_job_spec.rb
  spec/models/page_spec.rb
  spec/models/topic_spec.rb
  spec/requests/topics_spec.rb
Due: bin/standardrb --fix

Rename job
  app/jobs/pages/refresh_search_index_job.rb
  app/jobs/pages/search_index_refresh_job.rb
  lib/tasks/deploy.rake
  spec/jobs/pages/refresh_search_index_job_spec.rb
  spec/jobs/pages/search_index_refresh_job_spec.rb
  spec/lib/tasks/deploy_spec.rb
  spec/support/tasks.rb
Due: bin/standardrb --fix

Search indexing must now be explicit
  app/models/page/searchable.rb
  spec/factories/pages.rb
  spec/jobs/pages/refresh_search_index_job_spec.rb
  spec/models/page_spec.rb
  spec/requests/search_spec.rb
  spec/system/searches_spec.rb
Due: bin/standardrb --fix

Remove unused method
  app/models/page.rb
Due: bin/standardrb --fix

Apply batch upsert to all sitepress pages
  app/models/page.rb
  spec/jobs/pages/batch_upsert_pages_job_spec.rb
  spec/system/articles_spec.rb
Due: bin/standardrb --fix

Run upsert on deploy and fanout index jobs
  app/jobs/pages/batch_upsert_pages_job.rb
  lib/tasks/deploy.rake
  spec/jobs/pages/batch_upsert_pages_job_spec.rb
Due: bin/standardrb --fix

Remove published from hatchbox page
  app/content/pages/deploy/hatchbox.html.mdrb
Due: none

Load sqlite-vec via database.yml declaration
  config/database.yml
Due: none

Add sqlite-vec extension as gem
  Gemfile
  Gemfile.lock
Due: none

Fix for page search migration method name
  db/migrate/20241027034443_create_page_searches.rb
Due: bin/standardrb --fix

MIGRATION: Add page embeddings vec0 virtual table
  db/migrate/20241115130544_create_page_embeddings.rb
  db/schema.rb
Due: bin/standardrb --fix

Add ability to generate random embedding data
  app/models/page_embedding.rb
  lib/tasks/pages/embeddings.rake
  spec/jobs/pages/embedding_job_spec.rb
Due: bin/standardrb --fix

EmbeddingJob with OpenAI integration
  app/jobs/pages/embedding_job.rb
  spec/jobs/pages/embedding_job_spec.rb
Due: bin/standardrb --fix

Add PageEmbedding model with method to create, update, and query
  app/models/page.rb
  app/models/page_embedding.rb
  app/models/types/vector.rb
Due: bin/standardrb --fix

Rename method
  app/jobs/pages/embedding_job.rb
  app/models/page_embedding.rb
Due: bin/standardrb --fix

Implement Page#related_articles
  app/models/page.rb
  spec/fixtures/embeddings.yml
  spec/models/page_spec.rb
Due: bin/standardrb --fix

Only run batch embedding for published pages
  app/jobs/pages/batch_embedding_job.rb
Due: bin/standardrb --fix

Add basic model spec
  spec/models/page_embedding_spec.rb
Due: bin/standardrb --fix

Render related articles on article page
  app/content/layouts/article.html.erb
  spec/system/articles_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Run batch embedding job after batch upsert
  app/jobs/pages/batch_embedding_job.rb
  app/jobs/pages/batch_upsert_pages_job.rb
  spec/jobs/pages/batch_embedding_job_spec.rb
Due: bin/standardrb --fix

Add fragement caching to related article content
  app/content/layouts/article.html.erb
  app/models/page_embedding.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Update list styles
  app/javascript/css/components/article-content.css
  app/javascript/css/utilities/tailwind.css
Due: none

Add spec
  lib/tasks/pages/embeddings.rake
  spec/lib/tasks/embeddings_spec.rb
Due: bin/standardrb --fix

Update spec to improve coverage
  spec/jobs/pages/batch_embedding_job_spec.rb
Due: bin/standardrb --fix

Remove Brewfile, not needed
  Brewfile
  Brewfile.lock.json
Due: none

Move github docs
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Due: none

Update rails_admin
  Gemfile.lock
Due: none

Run bundle update and bx vite upgrade
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Upgrade to rails 8.0.0.rc2
  Gemfile
  Gemfile.lock
Due: none

Extract Page::Similarity
  app/models/page.rb
  app/models/page/similarity.rb
  spec/models/page/similarity_spec.rb
Due: bin/standardrb --fix

Extract searchable spec
  app/models/page/similarity.rb
  spec/models/page/searchable_spec.rb
  spec/models/page_spec.rb
Due: bin/standardrb --fix

Extract Page::Sitepressed
  app/models/page.rb
  app/models/page/sitepressed.rb
Due: bin/standardrb --fix

Fix view logic
  app/content/layouts/article.html.erb
Due: bin/erb_lint -a

Update batch embedding job query
  app/content/layouts/article.html.erb
  app/jobs/pages/batch_embedding_job.rb
  spec/jobs/pages/batch_embedding_job_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Upgrade to text-embedding-3-small
  app/jobs/pages/embedding_job.rb
  spec/jobs/pages/embedding_job_spec.rb
Due: bin/standardrb --fix

Update test and presentation
  app/content/layouts/article.html.erb
  app/views/components/pages/topics.rb
  spec/system/articles_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a
