Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Ensure custom syntax highlighting skips http cache for content pages
  app/controllers/concerns/color_scheming.rb
  app/controllers/concerns/syntax_highlighting.rb
  app/controllers/site_controller.rb
  app/views/application/theme/_code.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update meta tags and comments in head
  app/helpers/application_helper.rb
  app/views/application/theme/_color.html.erb
  app/views/layouts/application.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Remove unused helper
  app/helpers/color_schemes_helper.rb
Due: bin/standardrb --fix

Add stubbed spec
  spec/views/components/markdown/base_spec.rb
Due: bin/standardrb --fix

Ensure pygments css can match spec with full hex code
  app/assets/stylesheets/pygments/vim.css
  vendor/assets/syntax-themes/pygments/pygments-vim.css
Due: none

Update article generator
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.md
  lib/generators/article/article_generator.rb
  lib/generators/article/templates/article.html.mdrb.tt
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix

Fix for cycling home page left/right classes
  app/content/pages/index.html.erb
Due: bin/erblint -a

Refactor ColorSchemes::ShowView with shared components
  app/views/application/theme/_color.html.erb
  app/views/color_schemes/form.rb
  app/views/color_schemes/show_view.rb
Due: bin/standardrb --fix, bin/erblint -a

Fix color scheme reset button ordering
  app/views/color_schemes/form.rb
Due: bin/standardrb --fix

Reorder parts of color scheme form
  app/views/color_schemes/form.rb
Due: bin/standardrb --fix

Implement ColorSchemesController#preview
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
  app/controllers/settings/color_schemes_controller.rb
  app/models/color_scheme.rb
  app/views/color_schemes/preview_view.rb
  app/views/color_schemes/select.rb
  app/views/color_schemes/swatches.rb
  config/routes.rb
  spec/system/articles/how_to_render_css_dynamically_in_rails_spec.rb
Due: bin/standardrb --fix

Update home page css layout
  app/javascript/css/layout.scss
  app/javascript/css/utilities/tailwind-media.scss
  app/javascript/css/utilities/tailwind.css
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix

Add regression system spec for custom color scheme article
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  spec/system/articles/custom_color_schemes_with_ruby_on_rails_spec.rb
Due: bin/standardrb --fix

Update md:space-row-4 css
  app/javascript/css/utilities/tailwind-media.scss
Due: none

Extract link helper for to PhlexConcerns
  app/helpers/articles_helper.rb
  app/views/components/application_component.rb
  app/views/components/code_block/app_file.rb
  app/views/components/markdown/application.rb
  app/views/components/markdown/article.rb
  app/views/components/phlex_concerns/has_invisible_captcha.rb
  app/views/components/phlex_concerns/links.rb
  app/views/users/newsletter_subscriptions/form.rb
  app/views/users/registrations/new_view.rb
Due: bin/standardrb --fix

Skip rerending default color scheme in turbo frame
  app/views/color_schemes/preview_view.rb
  app/views/color_schemes/show_view.rb
Due: bin/standardrb --fix

Inline default color scheme to static css
  app/javascript/css/config/theme.css
  app/views/application/theme/_color.html.erb
  app/views/components/color_schemes/css_variables.rb
Due: bin/standardrb --fix, bin/erblint -a

Consolidate phlex color scheme css rendering
  app/views/application/theme/_color.html.erb
  app/views/color_schemes/preview_view.rb
  app/views/color_schemes/show_view.rb
  app/views/components/color_schemes/css.rb
  app/views/components/color_schemes/css_variables.rb
  app/views/components/color_schemes/my_css_variables.rb
Due: bin/standardrb --fix, bin/erblint -a

Update svg css
  app/javascript/css/components/code.scss
Due: none

Update article content
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
  app/javascript/css/components/article-content.css
  spec/requests/feed_spec.rb
Due: bin/standardrb --fix

Extract color scheme components to new directories
  app/controllers/settings/color_schemes_controller.rb
  app/views/components/application_component.rb
  app/views/components/color_schemes/swatches.rb
  app/views/settings/color_schemes/form.rb
  app/views/settings/color_schemes/preview_view.rb
  app/views/settings/color_schemes/select.rb
  app/views/settings/color_schemes/show_view.rb
Due: bin/standardrb --fix

Add base color scheme controller and views
  app/controllers/color_schemes_controller.rb
  app/views/color_schemes/index_view.rb
  app/views/color_schemes/show_view.rb
  config/routes.rb
  spec/requests/color_schemes_spec.rb
Due: bin/standardrb --fix

Adjust svg
  app/assets/images/external-link.svg
Due: none

Update article css
  app/javascript/css/components/article-content.css
Due: none

Refactor color schemes components
  app/views/color_schemes/show_view.rb
  app/views/components/application_component.rb
  app/views/components/phlex_concerns/flex_block.rb
  app/views/settings/color_schemes/form.rb
  app/views/settings/color_schemes/preview_remarks.rb
  app/views/settings/color_schemes/preview_view.rb
  app/views/settings/color_schemes/select.rb
  app/views/settings/color_schemes/show_view.rb
  app/views/settings/syntax_highlights/form.rb
Due: bin/standardrb --fix

Use conditional GET for ColorSchemes#show
  app/controllers/color_schemes_controller.rb
Due: bin/standardrb --fix

Update article content
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
Due: none

Update test for stricter matching, less likely to flake
  spec/requests/settings/color_schemes_spec.rb
Due: bin/standardrb --fix

Add specs for validating css for color schemes
  spec/rails_helper.rb
  spec/requests/color_schemes_spec.rb
  spec/requests/feed_spec.rb
  spec/support/webmock_vcr.rb
  spec/views/components/color_schemes/css_spec.rb
Due: bin/standardrb --fix

Remove method
  app/views/components/application_component.rb
Due: bin/standardrb --fix

Update article content
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
  app/views/settings/color_schemes/preview_view.rb
Due: bin/standardrb --fix

Mark article as draft
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
Due: none

Update article generator
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
  lib/generators/article/templates/article.html.mdrb.tt
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix

Update ArticlePage.published logic
  app/content/models/article_page.rb
  app/content/pages/articles/index.html.erb
  spec/requests/site/articles_spec.rb
  spec/requests/site/conditional_get_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Fix icon color and code title rendering
  app/javascript/css/components/article-content.css
  app/javascript/css/components/code.scss
  app/javascript/css/utilities/tailwind.css
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Add wasm stub
  lib/rails-wasm/rails-wasm-shim/stubs/rails-html-sanitizer.rb
Due: bin/standardrb --fix

Add exception for Rails.env.wasm?
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Remove unused methods
  app/helpers/articles_helper.rb
  app/views/settings/color_schemes/show_view.rb
Due: bin/standardrb --fix

Fix false positive in request spec
  spec/requests/color_schemes_spec.rb
Due: bin/standardrb --fix
