Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

Add helper for lazy polls
  app/content/helpers/poll_helper.rb
  app/models/polls/lazy.yml
Due: bin/standardrb --fix

Update article content
  app/content/layouts/article.html.erb
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: bin/erb_lint -a

Update text-subtle for dark theme
  app/javascript/css/config/theme.css
Due: none

Update article content
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: none

Update heading spacing
  app/javascript/css/components/article-content.css
Due: none

Updates for ruby enumeration demo
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/javascript/controllers/demos/ruby-enumeration.js
  app/views/components/demo/ruby_enumeration.rb
Due: bin/standardrb --fix

Update demo logic
  app/views/components/demo/ruby_enumeration.rb
Due: bin/standardrb --fix

Just render the demo straight to iframe
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/controllers/examples/ruby_enumerations_controller.rb
  app/javascript/controllers/demos/ruby-enumeration.js
  app/views/components/demo/ruby_enumeration.rb
  config/routes.rb
Due: bin/standardrb --fix

Fix articles request spec
  spec/requests/site/articles_spec.rb
Due: bin/standardrb --fix

Update homepage tagline
  app/content/pages/index.html.erb
Due: bin/erb_lint -a

Update text contrast on homepage
  app/javascript/css/components/page-header.css
Due: none

Add microformats classes to article
  app/content/layouts/article.html.erb
Due: bin/erb_lint -a

Edit article summary
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: none

Fix heading level
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: none

Fix for heartbeat channel
  app/channels/heartbeat_channel.rb
  spec/channels/heartbeat_channel_spec.rb
Due: bin/standardrb --fix

Add screenshot
  app/assets/images/articles/simple-trick-to-understand-ruby-lazy-enumerator/screenshot.jpg
Due: none

Update meta image
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: none

Update simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: none

Update ruby_enumeration.rb
  app/views/components/demo/ruby_enumeration.rb
Due: bin/standardrb --fix

Fix typo
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: none

Update content
  app/content/pages/articles/simple-trick-to-understand-ruby-lazy-enumerator.html.mdrb
Due: none

Fix height, padding, and scrolling for Ruby Enumeration demo
  app/views/components/demo/ruby_enumeration.rb
Due: bin/standardrb --fix

Add request specs for new upserted_at timestamp
  app/models/page/sitepressed.rb
  spec/requests/site/conditional_get_spec.rb
Due: bin/standardrb --fix

Leverage revision timestamps during page upserts
  app/models/page/sitepressed.rb
Due: bin/standardrb --fix

MIGRATION: Add revision timestamps to Page
  app/models/page.rb
  db/cable_schema.rb
  db/cache_schema.rb
  db/migrate/20250116121529_add_revision_timestamps_to_pages.rb
  db/queue_schema.rb
  db/schema.rb
  spec/factories/pages.rb
  spec/models/page_spec.rb
Due: bin/standardrb --fix

Use Page#upserted_at timestamp for SiteController http caching
  app/controllers/site_controller.rb
Due: bin/standardrb --fix

Update content on design page
  app/content/pages/about/design.html.mdrb
Due: none

Rename local variable
  app/content/pages/articles.html.erb
Due: bin/erb_lint -a

Add basic sitemaps
  app/controllers/sitemaps_controller.rb
  app/views/sitemaps/index.xml.builder
  app/views/sitemaps/pages.xml.builder
  config/routes.rb
  spec/requests/sitemaps_spec.rb
Due: bin/standardrb --fix

Update README.md
  README.md
Due: none

Update robots.txt with sitemaps
  public/robots.txt
Due: none

MIGRATION: Add application_events table
  db/migrate/20250122224749_create_application_events.rb
  db/schema.rb
Due: bin/standardrb --fix

Record deploy event for current sha
  app/models/application_events/deploy.rb
  lib/tasks/deploy.rake
Due: bin/standardrb --fix

Add ApplicationEvent model
  app/models/application_event.rb
  spec/factories/application_events.rb
  spec/models/application_event_spec.rb
Due: bin/standardrb --fix

Alphabetize gemfile sections
  Gemfile
Due: none

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erb_lint -a: any of: *.erb
