Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Remove .wasm dir
  .github/workflows/verify.yml
  .wasm/.keep
  bin/wasm/all
Due: none

Add adminstrate gem
  Gemfile
  Gemfile.lock
Due: none

MIGRATION: Add Newsletter table and model
  app/models/newsletter.rb
  db/migrate/20240806232759_create_newsletters.rb
  db/schema.rb
  spec/factories/newsletters.rb
  spec/models/newsletter_spec.rb
Due: bin/standardrb --fix

Add failing test for administering newsletters
  spec/system/admin/newsletter_spec.rb
Due: bin/standardrb --fix

Add display table css
  app/javascript/css/application.css
  app/javascript/css/components/table.css
  app/javascript/css/utilities/tailwind.css
Due: none

Add User to development seeds
  db/seeds/development.rb
Due: bin/standardrb --fix

Add stubbed spec
  spec/requests/admin/newsletters_spec.rb
Due: bin/standardrb --fix

Add alias methods for test helpers
  spec/support/warden_helpers.rb
Due: bin/standardrb --fix

Remove administrate
  Gemfile
  Gemfile.lock
Due: none

Implement Newsletter CRUD for Admin
  app/controllers/admin/newsletters_controller.rb
  app/helpers/markdown_helper.rb
  app/models/newsletter.rb
  app/views/admin/home/index.html.erb
  app/views/admin/newsletters/_form.html.erb
  app/views/admin/newsletters/_newsletter.html.erb
  app/views/admin/newsletters/edit.html.erb
  app/views/admin/newsletters/index.html.erb
  app/views/admin/newsletters/new.html.erb
  app/views/admin/newsletters/show.html.erb
  config/routes.rb
  spec/system/admin/newsletter_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add comment
  app/javascript/controllers/forms/frame.js
Due: none

Update baseline css
  app/javascript/css/baseline.css
Due: none

Update custom utilities css
  app/javascript/css/utilities/custom.css
Due: none

Update grid usage on homepage
  app/javascript/css/layout.scss
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix

Extract settings for system email addresses
  app/mailers/application_mailer.rb
  config/application.rb
  config/credentials/production.yml.enc
  config/environments/production.rb
  config/initializers/emails.rb
  spec/mailers/emails/admin_user_mailer_spec.rb
  spec/mailers/emails/heartbeat_mailer_spec.rb
  spec/mailers/emails/magic_session_mailer_spec.rb
  spec/mailers/emails/user_mailer_spec.rb
Due: bin/standardrb --fix

Fix admin root path
  config/routes.rb
Due: bin/standardrb --fix

Add wrapper for Postmark client
  app/clients/postmark_client.rb
Due: bin/standardrb --fix

Implement Newsletter bulk delivery
  app/controllers/admin/newsletters_controller.rb
  app/jobs/notifications/event_job.rb
  app/mailers/application_mailer.rb
  app/mailers/emails/newsletter_mailer.rb
  app/models/notification_event.rb
  app/models/user.rb
  app/notifiers/newsletter_notifier.rb
  app/views/admin/newsletters/show.html.erb
  app/views/components/markdown/base.rb
  app/views/emails/newsletter_mailer/newsletter.html.erb
  app/views/emails/newsletter_mailer/newsletter.text.erb
  config/routes.rb
  spec/cassettes/Admin_for_Newsletters/send_a_newsletter_live.yml
  spec/cassettes/Admin_for_Newsletters/send_a_newsletter_test.yml
  spec/factories/newsletters.rb
  spec/system/admin/newsletter_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add more tests for newsletters
  app/controllers/admin/newsletters_controller.rb
  app/models/user.rb
  spec/mailers/emails/newsletter_mailer_spec.rb
  spec/mailers/previews/emails/newsletter_mailer_preview.rb
  spec/models/newsletter_spec.rb
  spec/requests/admin/newsletters_spec.rb
Due: bin/standardrb --fix

MIGRATION edit
  db/migrate/20240806232759_create_newsletters.rb
  db/schema.rb
Due: bin/standardrb --fix

Implement public actions to view newsletters
  app/controllers/newsletters_controller.rb
  app/models/newsletter.rb
  app/views/newsletters/_newsletter.html.erb
  app/views/newsletters/index.html.erb
  app/views/newsletters/show.html.erb
  config/routes.rb
  spec/requests/admin/newsletters_spec.rb
  spec/requests/newsletter_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update db seeds
  db/seeds/development.rb
Due: bin/standardrb --fix

Add tailwind utility
  app/javascript/css/utilities/tailwind.css
Due: none

Iterate on newsletter sending logic
  app/controllers/admin/newsletters_controller.rb
  app/notifiers/newsletter_notifier.rb
  app/views/admin/newsletters/show.html.erb
  app/views/application/_flash.html.erb
  config/routes.rb
  spec/factories/newsletters.rb
  spec/mailers/emails/newsletter_mailer_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add unsubscribe url to newsletter emails
  app/mailers/emails/newsletter_mailer.rb
  app/views/emails/newsletter_mailer/newsletter.html.erb
  app/views/emails/newsletter_mailer/newsletter.text.erb
  config/credentials/development.yml.enc.sample
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
Due: bin/standardrb --fix, bin/erblint -a

Add ability to test postmark email in development
  config/environments/development.rb
Due: bin/standardrb --fix

Update wasm settings
  config/application_wasm.rb
  config/credentials/wasm.yml.enc
Due: bin/standardrb --fix

Update newsletter navigation and css
  app/javascript/css/layout.scss
  app/views/admin/newsletters/index.html.erb
  app/views/admin/newsletters/show.html.erb
Due: bin/erblint -a

Update article image
  app/assets/images/articles/how-to-render-css-dynamically-in-rails/placeholder.jpg
  app/assets/images/articles/how-to-render-css-dynamically-in-rails/style-rainbow.jpg
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
Due: none

Add support for previewing publishable articles on home page
  app/content/models/article_page.rb
  app/content/pages/index.html.erb
  spec/requests/site/articles_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update article content
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
Due: none

Add basic test for heartbeat channel
  app/channels/application_cable/connection.rb
  app/channels/heartbeat_channel.rb
  spec/channels/connection_spec.rb
  spec/channels/heartbeat_channel_spec.rb
  spec/support/channels.rb
  spec/support/warden_helpers.rb
Due: bin/standardrb --fix

Fix typo
  app/views/components/pwa/web_push_demo.rb
Due: bin/standardrb --fix

Add spec for pwa installation instructions
  spec/requests/pwa/installation_instructions_spec.rb
Due: bin/standardrb --fix

Add spec for web push controller
  spec/requests/pwa/web_pushes_spec.rb
Due: bin/standardrb --fix

Extract credential for vapid subject
  app/jobs/pwa/web_push_job.rb
  config/credentials/development.yml.enc.sample
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/credentials/wasm.yml.enc
Due: bin/standardrb --fix

Delete unused method
  app/helpers/articles_helper.rb
Due: bin/standardrb --fix

Fix for admin newsletter edit turbo frame ux
  app/controllers/admin/newsletters_controller.rb
  app/views/admin/newsletters/_form.html.erb
  app/views/admin/newsletters/_newsletter.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Style updates for newsletter
  app/javascript/css/utilities/custom.css
  app/views/admin/newsletters/show.html.erb
  app/views/newsletters/_newsletter.html.erb
Due: bin/erblint -a

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
