Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Enable user authorization for snippet CRUD
  app/models/user.rb
  app/views/share/snippets/show.html.erb
  app/views/share/snippets/toolbar.rb
  spec/requests/share/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Rework turbo interaction for snippet and screenshot
  app/controllers/share/snippets_controller.rb
  app/javascript/controllers/snippets/preview.ts
  app/views/share/snippet_screenshots/form.rb
  app/views/share/snippet_screenshots/new.html.erb
  app/views/share/snippets/edit.html.erb
  app/views/share/snippets/form.rb
  app/views/share/snippets/new.html.erb
  app/views/share/snippets/show.html.erb
  spec/requests/share/snippets_spec.rb
  spec/system/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Refactor snippet form to Phlex component
  app/javascript/controllers/snippets/editor.ts
  app/javascript/controllers/snippets/preview.ts
  app/views/components/code_block/snippet.rb
  app/views/snippets/_form.html.erb
  app/views/snippets/edit.html.erb
  app/views/snippets/form.rb
  app/views/snippets/new.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update link colors
  app/javascript/css/config/theme.css
Due: none

Add conditional GET for snippet show
  app/controllers/share/snippets_controller.rb
Due: bin/standardrb --fix

Configure activestorage for digital ocean spaces
  config/credentials/production.yml.enc
  config/environments/development.rb
  config/storage.yml
Due: bin/standardrb --fix

Extract shared meta tags to application helper
  app/content/layouts/article.html.erb
  app/helpers/application_helper.rb
Due: bin/standardrb --fix, bin/erblint -a

Add aws-sdk gem for activestorage uploads to S3
  Gemfile
  Gemfile.lock
Due: none

Update code title css
  app/javascript/css/components/code.scss
Due: none

Consolidate snippet component
  app/views/components/code_block/article.rb
  app/views/components/code_block/snippet.rb
Due: bin/standardrb --fix

Add Tweet button for Snippet
  app/controllers/share/snippet_screenshots_controller.rb
  app/controllers/share/snippet_tweets_controller.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/snippets/screenshot.ts
  app/javascript/controllers/snippets/tweet.ts
  app/javascript/css/utilities/tailwind.css
  app/views/share/snippet_screenshots/form.rb
  app/views/share/snippet_screenshots/new.html.erb
  app/views/share/snippet_tweets/new.html.erb
  app/views/share/snippet_tweets/tweet.rb
  app/views/share/snippets/edit.html.erb
  app/views/share/snippets/form.rb
  app/views/share/snippets/new.html.erb
  app/views/share/snippets/toolbar.rb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Set seo meta tags for snippet show
  app/models/snippet.rb
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/new.html.erb
  app/views/share/snippets/show.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Cleanup snippet
  app/javascript/controllers/snippets/preview.ts
  app/views/components/code_block/snippet.rb
Due: bin/standardrb --fix

Add Emojoy refinement to add some joy to flash messages
  app/controllers/share/snippet_screenshots_controller.rb
  app/controllers/share/snippets_controller.rb
  app/lib/refinements/emojoy.rb
Due: bin/standardrb --fix

Update flash
  app/javascript/controllers/flash.ts
Due: none

Allow public access for Snippets show and index pages
  app/controllers/share/snippets_controller.rb
  app/views/share/snippets/index.html.erb
  spec/requests/share/snippets_spec.rb
  spec/support/requests.rb
  spec/system/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add :slow tag to example specs for filter by tag
  spec/system/examples_spec.rb
Due: bin/standardrb --fix

Extract stimulus screenshot controller
  app/javascript/controllers/index.js
  app/javascript/controllers/snippets/editor.ts
  app/javascript/controllers/snippets/preview.ts
  app/javascript/controllers/snippets/screenshot.ts
  app/javascript/css/components/code.scss
  app/views/snippets/form.rb
Due: bin/standardrb --fix

MIGRATION Add author to snippets
  db/migrate/20240901114558_add_author_to_snippets.rb
  db/schema.rb
Due: bin/standardrb --fix

Auto tweet only when going through screenshot flow
  app/controllers/share/snippet_screenshots_controller.rb
  app/controllers/share/snippet_tweets_controller.rb
  app/javascript/controllers/snippets/tweet.ts
  app/views/share/snippet_tweets/new.html.erb
  app/views/share/snippet_tweets/tweet.rb
Due: bin/standardrb --fix, bin/erblint -a

Update snippet css
  app/javascript/css/baseline.css
  app/javascript/css/components/article-content.css
  app/javascript/css/components/code.scss
  app/javascript/css/components/snippet.css
  app/javascript/css/utilities/custom.css
Due: none

Associate author with snippet
  app/controllers/share/snippets_controller.rb
  app/models/snippet.rb
  app/models/user.rb
  spec/factories/snippets.rb
  spec/requests/share/snippets_spec.rb
Due: bin/standardrb --fix

Move snippet controller to share namespace
  app/controllers/share/snippets_controller.rb
  app/views/share/snippets/_snippet.html.erb
  app/views/share/snippets/edit.html.erb
  app/views/share/snippets/form.rb
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/new.html.erb
  app/views/share/snippets/show.html.erb
  app/views/snippets/edit.html.erb
  config/routes.rb
  spec/requests/share/snippets_spec.rb
  spec/routing/share/snippets_routing_spec.rb
  spec/routing/snippets_routing_spec.rb
  spec/system/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add image processing gem
  Gemfile
  Gemfile.lock
Due: none

Add .rspec to .gitignore
  .gitignore
  .rspec
Due: none

Style and behavior for flash messages
  app/javascript/controllers/flash.js
  app/javascript/controllers/index.js
  app/javascript/controllers/snippets/preview.ts
  app/javascript/controllers/snippets/screenshot.ts
  app/javascript/css/application.css
  app/javascript/css/components/flash.css
  app/javascript/css/config/theme.css
Due: none

Disable wasm system specs—too flaky
  spec/system/examples_spec.rb
Due: bin/standardrb --fix

Update screenshot and share ux
  app/javascript/controllers/snippets/tweet.ts
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/show.html.erb
  app/views/share/snippets/toolbar.rb
  spec/rails_helper.rb
  spec/system/snippets_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Handle snippet index page N+1 queries with includes
  app/controllers/share/snippets_controller.rb
Due: bin/standardrb --fix

Update page title
  app/views/share/snippet_tweets/new.html.erb
Due: bin/erblint -a

Move wasm build to separate workflow on main
  .github/workflows/verify.yml
  .github/workflows/wasm.yml
Due: none

Make Twitter share url point to snippet page
  app/views/share/snippet_tweets/tweet.rb
Due: bin/standardrb --fix

Update Turbo flow through snippet share screens
  app/javascript/controllers/snippets/tweet.ts
  app/views/share/snippet_screenshots/form.rb
  app/views/share/snippet_screenshots/new.html.erb
  app/views/share/snippet_tweets/new.html.erb
  app/views/share/snippet_tweets/tweet.rb
  app/views/share/snippets/edit.html.erb
  app/views/share/snippets/new.html.erb
  app/views/share/snippets/show.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Make screenshot new work with auto param
  app/controllers/share/snippet_screenshots_controller.rb
  app/controllers/share/snippets_controller.rb
  app/javascript/controllers/snippets/screenshot.ts
  app/views/share/snippet_screenshots/form.rb
  app/views/share/snippet_screenshots/new.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update snippet html & css for consistency between edit and show
  app/javascript/css/components/snippet.css
  app/views/components/code_block/snippet.rb
  app/views/share/snippets/form.rb
Due: bin/standardrb --fix

Fix system spec warning
  spec/system/snippets_spec.rb
Due: bin/standardrb --fix

Update flash message
  app/controllers/share/snippet_screenshots_controller.rb
Due: bin/standardrb --fix

Refactor stimulus tweet options
  app/javascript/controllers/snippets/tweet.ts
  app/views/share/snippets/toolbar.rb
Due: bin/standardrb --fix

Rework snippet css with 2/1 aspect ratio for Twitter
  app/javascript/css/components/snippet.css
  app/views/share/snippets/form.rb
Due: bin/standardrb --fix

Rework article/section content bottom spacing
  app/content/layouts/article.html.erb
  app/javascript/css/components/article-content.css
  app/javascript/css/utilities/custom.css
  app/views/admin/newsletters/edit.html.erb
  app/views/admin/newsletters/index.html.erb
  app/views/admin/newsletters/new.html.erb
  app/views/admin/newsletters/show.html.erb
  app/views/color_schemes/index_view.rb
  app/views/color_schemes/show_view.rb
  app/views/examples/posts/index_view.rb
  app/views/examples/posts/new_view.rb
  app/views/newsletters/index.html.erb
  app/views/newsletters/show.html.erb
  app/views/settings/color_schemes/preview_view.rb
  app/views/settings/color_schemes/show_view.rb
  app/views/settings/syntax_highlights/show_view.rb
  app/views/share/snippet_screenshots/new.html.erb
  app/views/share/snippet_tweets/new.html.erb
  app/views/share/snippets/edit.html.erb
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/new.html.erb
  app/views/share/snippets/show.html.erb
  app/views/users/newsletter_subscriptions/banner.rb
Due: bin/standardrb --fix, bin/erblint -a
