Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

Make page batch jobs nested classes of their counterparts
  app/jobs/pages/analyze_topics_job.rb
  app/jobs/pages/batch_analyze_topics_job.rb
  app/jobs/pages/batch_embedding_job.rb
  app/jobs/pages/batch_upsert_pages_job.rb
  app/jobs/pages/embedding_job.rb
  app/jobs/pages/refresh_search_index_job.rb
  spec/jobs/pages/analyze_topics_job_spec.rb
  spec/jobs/pages/batch_analyze_topics_job_spec.rb
  spec/jobs/pages/batch_embedding_job_spec.rb
  spec/jobs/pages/batch_upsert_pages_job_spec.rb
  spec/jobs/pages/embedding_job_spec.rb
  spec/jobs/pages/refresh_search_index_job_spec.rb
  spec/models/page/searchable_spec.rb
  spec/requests/search_spec.rb
  spec/system/searches_spec.rb
Due: bin/standardrb --fix

Re-enable system test
  spec/system/content/what-you-need-to-know-about-sqlite_spec.rb
Due: bin/standardrb --fix

Upgrade to commonmarker v2
  Gemfile
  Gemfile.lock
  app/views/components/markdown/base.rb
Due: bin/standardrb --fix

Improve poll style consistency between results and ballot
  app/javascript/css/components/poll.css
  app/views/share/polls/results.rb
Due: bin/standardrb --fix

Improve style consistency between page summary and header
  app/content/layouts/article.html.erb
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Fix for search form label for attribute
  app/views/searches/combobox.rb
Due: bin/standardrb --fix

Add a homepage tagline
  app/content/pages/index.html.erb
  app/javascript/css/components/page-header.css
  app/javascript/css/config/theme.css
  app/javascript/css/utilities/tailwind.css
  app/views/components/pages/header.rb
Due: bin/standardrb --fix, bin/erb_lint -a

CSS update for article headings
  app/javascript/css/components/article-content.css
Due: none

Adjust color setting
  app/javascript/css/config/theme.css
Due: none

Refactor away from Current.page
  app/content/layouts/article.html.erb
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
  app/content/pages/articles/zee-kitchen-sink-permanent-draft.html.mdrb
  app/content/pages/index.html.erb
  app/controllers/concerns/current_page.rb
  app/controllers/feed_controller.rb
  app/controllers/site_controller.rb
  app/models/current.rb
  app/views/components/atom/entry_content.rb
  app/views/feed/index.atom.builder
Due: bin/standardrb --fix, bin/erb_lint -a

Refactor methods for rendering Page text and html inline
  app/content/models/sitepress_page.rb
  app/models/page.rb
  app/models/page/sitepressed.rb
  spec/models/page_spec.rb
Due: bin/standardrb --fix

Refactor atom article rendering with new Page#body_html method
  app/views/components/atom/entry_content.rb
  spec/views/components/atom/entry_content_spec.rb
Due: bin/standardrb --fix

Update js text fixture to match new label for attribute
  app/javascript/test/fixtures/views/searches/combobox.html
Due: none

Refactor to adapter model Page::Sitepressed::Resource
  app/models/page.rb
  app/models/page/sitepressed.rb
  spec/jobs/pages/analyze_topics_job_spec.rb
  spec/models/page_spec.rb
Due: bin/standardrb --fix

Update use of instance variable in article
  app/content/pages/articles/zee-kitchen-sink-permanent-draft.html.mdrb
Due: none

Fix URL to web-push GitHub repo
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Update copy
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Update copy
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Tune SQLite pragmas for each db
  config/database.yml
Due: none

Bundle update rails
  Gemfile.lock
Due: none

Update README, housekeeping in root dir
  Brewfile
  Brewfile.lock.json
  README.md
  codecov.yml
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
  script/Procfile.litestream.dev
Due: none

Make githook optional, remove husky
  .githooks/README.md
  .githooks/pre-commit
  package-lock.json
  package.json
Due: none

Update github verify workflow
  .github/workflows/verify.yml
Due: none

Delete SitepressSlashPage
  app/content/models/sitepress_slash_page.rb
  db/seeds/development/pages.rb
Due: bin/standardrb --fix

Users need to be created before snippets
  db/seeds/development.rb
Due: bin/standardrb --fix

Allow test credentials to be used by all
  .gitignore
  config/credentials/test.key
Due: none

Make verify ci workflow work without github secrets
  .github/workflows/verify.yml
Due: none

Support branch specific databases for dev
  config/database.yml
  config/environments/development.rb
Due: bin/standardrb --fix

Add task to prune dev data
  lib/tasks/development/prune.rake
Due: none

Update app file spec
  db/cable_schema.rb
  db/cache_schema.rb
Due: bin/standardrb --fix

Add fixture file for specs
  spec/fixtures/example_file_for_app_file_test.rb
Due: bin/standardrb --fix

Add comment
  config/database.yml
Due: none

Ignore additional db schemas from standard linting
  .standard.yml
Due: none

Add specs for color scheme seed
  spec/models/color_schemes/seed_spec.rb
Due: bin/standardrb --fix

Extract seeding of ColorSchemes, add to db seed
  app/models/color_schemes/seed.rb
  lib/tasks/color_schemes/seed.rake
Due: bin/standardrb --fix

Add script for converting images to webp
  script/convert-webp
Due: none

Make image loading lazy for homepage and articles
  app/views/components/markdown/article.rb
  app/views/components/pages/card.rb
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix
