Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Configure solid queue
  Procfile.dev
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/solid_queue.yml
Due: bin/standardrb --fix

Migrate from jest to vitest
  app/javascript/controllers/darkmode.spec.js
  app/javascript/jest/jest.config.js
  app/javascript/jest/setup.js
  app/javascript/test/setup.js
  app/javascript/test/utils.js
  config/tailwind.config.js
  config/tailwind/colors.js
  config/tailwind/typography-overrides.js
  config/tailwind/typography.js
  package-lock.json
  package.json
  postcss.config.js
  vitest.config.mts
Due: none

Add npm tests to CI
  .github/workflows/verify.yml
Due: none

Upgrade rails to address CVE notices
  Gemfile.lock
Due: none

Notify honeybadger of deploy
  .github/workflows/deploy.yml
Due: none

Safeguard access to honeybadger credentials
  config/honeybadger.yml
Due: none

Fix honeybadger deploy notice in ci
  .github/workflows/deploy.yml
  .github/workflows/verify.yml
Due: none

Generate html fixtures before running vitest
  .github/workflows/verify.yml
  app/javascript/controllers/darkmode.spec.js
  app/javascript/test/fixtures/views/darkmode/switch.html
  app/views/darkmode/_switch.html.erb
  bin/vitest
  lib/tasks/fixtures/html.rake
  lib/tasks/jest.rake
  lib/tasks/vitest.rake
  package.json
Due: bin/erblint -a

Update vitest scripts
  .github/workflows/verify.yml
  bin/vitest
  package.json
Due: none

Fix honeybadger deploy notice env
  .github/workflows/deploy.yml
Due: none

Generate html fixtures before running vitest (#38)
  .github/workflows/verify.yml
  app/javascript/controllers/darkmode.spec.js
  app/javascript/test/fixtures/views/darkmode/switch.html
  app/views/darkmode/_switch.html.erb
  bin/vitest
  lib/tasks/fixtures/html.rake
  lib/tasks/jest.rake
  lib/tasks/vitest.rake
  package.json
Due: bin/erblint -a

Add activerecord-enhancedsqlite3-adapter
  Gemfile
  Gemfile.lock
Due: none

Remove litestack
  .env.example
  Gemfile
  Gemfile.lock
  app/lib/litestream_extensions/setup.rb
  config/cable.yml
  config/routes.rb
  spec/requests/admin_spec.rb
Due: bin/standardrb --fix

Remove unneeded honeybadger deploy test
  .github/workflows/verify.yml
Due: none

Update sqlite to use optimized compile time flags
  Gemfile
  Gemfile.lock
Due: none

Fix honeybadger deploy notice command
  .github/workflows/deploy.yml
Due: none

Revert "Update sqlite to use optimized compile time flags"
  Gemfile
  Gemfile.lock
Due: none

Revert "Revert "Update sqlite to use optimized compile time flags""
  Gemfile
  Gemfile.lock
Due: none

Bump litestream gem, use original command
  Gemfile.lock
  app/lib/litestream_extensions/commands.rb
  app/lib/litestream_extensions/setup.rb
  config/initializers/litestream.rb
  lib/tasks/litestream.rake
  spec/config/litestream_spec.rb
Due: bin/standardrb --fix

Run bundle update
  Gemfile.lock
Due: none

Solid Cache now respect solid_cache.yml multi database settings
  config/application.rb
Due: bin/standardrb --fix

Address deprecation warning for dotenv
  config/application.rb
Due: bin/standardrb --fix

Bump npm dependencies
  package-lock.json
  package.json
Due: none

Enable removal of sqlite3 in production warning
  config/environments/production.rb
Due: bin/standardrb --fix

Revert "Upgrade litestream"
  Gemfile.lock
  app/lib/litestream_extensions/commands.rb
  app/lib/litestream_extensions/setup.rb
  config/initializers/litestream.rb
  lib/tasks/litestream.rake
  spec/config/litestream_spec.rb
Due: bin/standardrb --fix

Bump litestream gem, use original command
  Gemfile.lock
  app/lib/litestream_extensions/commands.rb
Due: bin/standardrb --fix

Refactor litestream config setup
  app/lib/litestream_extensions/setup.rb
  spec/config/litestream_spec.rb
Due: bin/standardrb --fix

Operate litestream as an executable without rails
  bin/litestream
  config/initializers/litestream.rb
Due: bin/standardrb --fix

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update bin/setup
  bin/setup
  db/cache_schema.rb
Due: bin/standardrb --fix

Ensure default rake task exits on success
  Rakefile
  bin/vitest
  lib/tasks/vitest.rake
Due: none

Updates for testing
  spec/support/flipper.rb
Due: bin/standardrb --fix

Add development instructions
  README.md
Due: none

Add bin/verify
  Rakefile
  bin/verify
Due: none

Update README
  README.md
Due: none

Set vite flag for development
  Procfile.dev
Due: none

Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add pull_request_template.md
  .github/pull_request_template.md
Due: none

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
