Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

Remove test before
  spec/requests/author/snippets_spec.rb
Due: bin/standardrb --fix

Add request specs for poll answers
  app/models/polls/answer.rb
  spec/requests/author/polls/answers_spec.rb
Due: bin/standardrb --fix

Update polls controller
  app/controllers/author/polls_controller.rb
Due: bin/standardrb --fix

Update question partial answer footer
  app/views/author/polls/questions/_question.html.erb
  spec/system/author/polls_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Use Current.user
  app/controllers/author/polls/answers_controller.rb
  app/controllers/author/polls/questions_controller.rb
  app/controllers/share/polls_controller.rb
Due: bin/standardrb --fix

Add request specs for poll questions
  app/models/polls/question.rb
  spec/requests/author/polls/questions_spec.rb
Due: bin/standardrb --fix

Extract Phlex component for poll ballot
  app/views/share/polls/_ballot.html.erb
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/ballot.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Add clarifying comment
  app/views/author/polls/questions/_question.html.erb
Due: bin/erb_lint -a

Fix poll result rendering when 0 votes
  app/views/share/polls/results.rb
  spec/factories/polls/votes.rb
  spec/views/share/polls/results_spec.rb
Due: bin/standardrb --fix

Make Polls look nice
  app/javascript/css/application.css
  app/javascript/css/components/button.css
  app/javascript/css/components/poll.css
  app/javascript/css/config/theme.css
  app/javascript/css/utilities/tailwind.css
  app/views/author/polls/index.html.erb
  app/views/author/snippets/edit.html.erb
  app/views/author/snippets/index.html.erb
  app/views/author/snippets/new.html.erb
  app/views/author/snippets/show.html.erb
  app/views/share/polls/_ballot.html.erb
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/_results.html.erb
  app/views/share/polls/index.html.erb
  app/views/share/polls/show.html.erb
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/show.html.erb
Due: bin/erb_lint -a

Delete unused specs
  spec/models/polls/answer_spec.rb
  spec/models/polls/question_spec.rb
  spec/models/polls/vote_spec.rb
Due: bin/standardrb --fix

Introduce Page.primary_author
  app/models/page.rb
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/initializers/emails.rb
  db/seeds/development/users.rb
  lib/tasks/deploy.rake
  spec/factories/users.rb
  spec/lib/tasks/deploy_spec.rb
Due: bin/standardrb --fix

MIGRATION: Add PagePoll join model
  app/models/page.rb
  app/models/page_poll.rb
  app/models/poll.rb
  db/migrate/20241206145040_create_page_polls.rb
  db/schema.rb
  spec/models/poll_spec.rb
Due: bin/standardrb --fix

Cleanup for questions and answers requests
  app/controllers/author/polls/answers_controller.rb
  app/controllers/author/polls/questions_controller.rb
  spec/requests/author/polls/answers_spec.rb
  spec/requests/author/polls/questions_spec.rb
Due: bin/standardrb --fix

DANGER: Remove deploy article from featured
  app/content/pages/meta/deployment/hatchbox.html.mdrb
  config/routes.rb
Due: bin/standardrb --fix

Format acknowledgements
  app/content/pages/about/acknowledgements.html.mdrb
Due: none

Update footer link spacers
  app/javascript/css/components/footer.css
Due: none

Move images
  app/assets/images/articles/placeholder.jpg
  app/assets/images/meta/deployment/hatchbox/conversation-bundler-config.jpg
  app/assets/images/meta/deployment/hatchbox/conversation-pwa.jpg
  app/assets/images/meta/deployment/hatchbox/conversation-systemd-1.jpg
  app/assets/images/meta/deployment/hatchbox/conversation-systemd-2.jpg
  app/assets/images/meta/deployment/hatchbox/hatchbox.jpg
  app/assets/images/meta/deployment/hatchbox/homepage.jpg
  app/content/pages/meta/deployment/hatchbox.html.mdrb
Due: none

Add tests to account for page out of sync with sitepress resource
  app/content/pages/meta/deployment/hatchbox.html.mdrb
  app/models/page/sitepressed.rb
  app/views/feed/index.atom.builder
  spec/requests/feed_spec.rb
  spec/system/home_spec.rb
Due: bin/standardrb --fix

Apply data fix to hatchbox article
  lib/tasks/deploy.rake
Due: none

Refactor Pages::Summary
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix

Add style for time element
  app/javascript/css/application.css
  app/javascript/css/components/time.css
Due: none

Add more Tailwind style utilities
  app/javascript/css/utilities/tailwind-media.scss
  app/javascript/css/utilities/tailwind.css
Due: none

Increase article content header top margins
  app/javascript/css/components/article-content.css
Due: none

Update page header styles
  app/javascript/css/components/page-header.css
  app/views/components/pages/header.rb
Due: bin/standardrb --fix

Update page summary style for homepage
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix

Pages::Timestamp is no longer assumed to be have class block
  app/views/author/snippets/snippet.rb
  app/views/components/pages/header.rb
  app/views/components/pages/summary.rb
  app/views/components/pages/timestamp.rb
  app/views/share/snippets/snippet.rb
Due: bin/standardrb --fix

Remove whitespace
  app/content/pages/articles/add-your-rails-app-to-the-home-screen.html.mdrb
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/content/pages/articles/mastering-custom-configuration-in-rails.html.mdrb
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Rework article page header with topics
  app/content/layouts/article.html.erb
  app/views/components/pages/topics.rb
  spec/system/articles_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Extract poll component
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/poll_component.rb
Due: bin/standardrb --fix, bin/erb_lint -a

HACK: Render lazy created poll inline with article
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
  app/controllers/site_controller.rb
  app/models/current.rb
  app/models/page.rb
  app/models/poll.rb
  app/views/feed/index.atom.builder
  app/views/share/polls/lazy_page_poll.rb
  spec/system/content/what-you-need-to-know-about-sqlite_spec.rb
Due: bin/standardrb --fix

Remove data fix
  lib/tasks/deploy.rake
Due: none

Disable inline poll for bug fixing
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
  spec/system/content/what-you-need-to-know-about-sqlite_spec.rb
Due: bin/standardrb --fix

Switch articles index to Page model
  app/content/pages/articles.html.erb
  spec/requests/site/articles_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Generate Zee Kitchen Sink permanent draft
  app/assets/images/articles/zee-kitchen-sink-permanent-draft/placeholder.jpg
  app/content/pages/articles/zee-kitchen-sink-permanent-draft.html.mdrb
  app/content/pages/drafts.html.erb
  spec/system/content/zee-kitchen-sink-permanent-draft_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Use turbo stream methods to update poll in vote response
  app/content/pages/articles/zee-kitchen-sink-permanent-draft.html.mdrb
  app/controllers/share/polls/votes_controller.rb
  app/models/page/sitepressed.rb
  spec/system/content/zee-kitchen-sink-permanent-draft_spec.rb
Due: bin/standardrb --fix

In which I reinstate turbo stream replace for polls
  app/controllers/share/polls/votes_controller.rb
  app/models/polls/question.rb
  app/views/share/polls/ballot.rb
  app/views/share/polls/lazy_page_poll.rb
  app/views/share/polls/poll_component.rb
  app/views/share/polls/question_component.rb
  app/views/share/polls/results.rb
  spec/system/share/polls_spec.rb
  spec/views/share/polls/question_component_spec.rb
Due: bin/standardrb --fix

Re-instate SQLite on Rails poll
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Add border to poll turbo frame
  app/views/share/polls/lazy_page_poll.rb
Due: bin/standardrb --fix

Ensure lazy page poll doesn’t blow up search index
  app/views/share/polls/lazy_page_poll.rb
  spec/jobs/pages/refresh_search_index_job_spec.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erb_lint -a: any of: *.erb
