Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

Update spacer
  app/views/components/pages/timestamp.rb
Due: bin/standardrb --fix

Implement Page#revised_on
  app/content/layouts/article.html.erb
  app/models/page.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Refactor Vector serialization to work better with AR
  app/models/page_embedding.rb
  app/models/types/vector.rb
  spec/factories/page_embeddings.rb
  spec/models/page_embedding_spec.rb
Due: bin/standardrb --fix

Implement Page#related_pages as association
  app/content/layouts/article.html.erb
  app/models/page/similarity.rb
  app/models/page_embedding.rb
  spec/jobs/pages/batch_embedding_job_spec.rb
  spec/models/page/similarity_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Limit related pages display to published articles
  app/content/layouts/article.html.erb
Due: bin/erb_lint -a

Restore extra embedding query to avoid error when embedding is missing
  app/models/page/similarity.rb
  spec/models/page/similarity_spec.rb
Due: bin/standardrb --fix

Add to ActiveRecord::SchemaDumper.ignore_tables for sqlite-vec
  config/initializers/schema_dumper.rb
  db/schema.rb
Due: bin/standardrb --fix

Update Page delegate methods
  app/content/models/sitepress_article.rb
  app/models/page.rb
  spec/models/page_spec.rb
Due: bin/standardrb --fix

Power atom feed from Page records instead of Sitepress collection
  app/controllers/feed_controller.rb
  app/views/feed/index.atom.builder
  spec/requests/feed_spec.rb
Due: bin/standardrb --fix

Update Article generator: uuid not needed now
  lib/generators/article/article_generator.rb
  lib/generators/article/templates/article.html.mdrb.tt
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix

Refactor Page#related_pages with ActiveRecord::Relation#with
  app/models/page/similarity.rb
  spec/models/page/similarity_spec.rb
Due: bin/standardrb --fix

Refactor Page.similar_to scope
  app/models/page/similarity.rb
Due: bin/standardrb --fix

Extract PageEmbedding.similar_to(page)
  app/models/page/similarity.rb
  app/models/page_embedding.rb
Due: bin/standardrb --fix

Use litestream config default in production
  app/lib/litestream_extensions/setup.rb
Due: bin/standardrb --fix

Set up Solid Queue to run litestream verification recurring
  config/schedule.yml
Due: none

Add custom systemctl command for Hatchbox
  app/lib/litestream_extensions/setup.rb
Due: bin/standardrb --fix

Rename solid queue recurring config to default
  config/recurring.yml
Due: none

Upgrade to sqlite3 2.3.0
  Gemfile.lock
Due: none

Refactor Litestream database paths, drop litedb reference
  app/lib/litestream_extensions/setup.rb
  spec/config/litestream_spec.rb
Due: bin/standardrb --fix

Bump cross-spawn npm dependency for security warning
  package-lock.json
Due: none

Query published Page records on Articles index page
  app/content/pages/index.html.erb
Due: bin/erb_lint -a

Add Page.draft scope
  app/models/page.rb
Due: bin/standardrb --fix

Fix generator typo
  lib/generators/article/templates/article.html.mdrb.tt
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix

Allow html in header tags for article markdown
  app/views/components/markdown/article.rb
Due: bin/standardrb --fix

Support highlight lines for CodeBlock::AppFile
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Update drafts layout
  app/content/pages/drafts.html.erb
Due: bin/erb_lint -a

Fix typo
  Gemfile
Due: none

Update hatchbox content
  app/assets/images/content/hatchbox/conversation-bundler-config.jpg
  app/assets/images/content/hatchbox/conversation-systemd-1.jpg
  app/assets/images/content/hatchbox/conversation-systemd-2.jpg
  app/assets/images/content/hatchbox/homepage.jpg
  app/assets/images/content/hatchbox/placeholder.jpg
  app/content/pages/deploy/hatchbox.html.mdrb
Due: none

Add image
  app/assets/images/content/hatchbox/conversation-pwa.jpg
  app/content/pages/deploy/hatchbox.html.mdrb
Due: none

Add link to video
  app/content/pages/deploy/hatchbox.html.mdrb
Due: none

Fix test
  spec/system/content/what-you-need-to-know-about-sqlite_spec.rb
Due: bin/standardrb --fix

Add content for sqlite article
  app/assets/images/articles/what-you-need-to-know-about-sqlite/placeholder.jpg
  app/assets/images/articles/what-you-need-to-know-about-sqlite/scaling.jpg
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Update article content and anticipated publish date
  app/assets/images/articles/what-you-need-to-know-about-sqlite/mountain-range.jpg
  app/assets/images/articles/what-you-need-to-know-about-sqlite/placeholder.jpg
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Add article content
  app/content/pages/articles/what-you-need-to-know-about-sq_lite.html.mdrb
Due: none

Add article content
  app/content/pages/articles/what-you-need-to-know-about-sq_lite.html.mdrb
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Generate new article
  app/assets/images/articles/what-you-need-to-know-about-sq_lite/placeholder.jpg
  app/content/pages/articles/what-you-need-to-know-about-sq_lite.html.mdrb
  spec/system/content/what-you-need-to-know-about-sq_lite_spec.rb
Due: bin/standardrb --fix

Update content
  app/content/pages/deploy/hatchbox.html.mdrb
Due: none

Update content
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none
