Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

Add contact page
  app/content/pages/contact/index.html.mdrb
Due: none

Updte footer
  app/views/application/_footer.html.erb
Due: bin/erb_lint -a

Update copy for Web Push
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Add Rails admin to index
  app/views/admin/home/index.html.erb
Due: bin/erb_lint -a

Add sqlpkg gem
  Gemfile
  Gemfile.lock
Due: none

Set up sqlpkg installer
  .gitignore
  config/initializers/sqlpkg.rb
  lib/enhanced_sqlite3/adapter.rb
  lib/sqlpkg_loader.rb
  sqlpkg.lock
Due: bin/standardrb --fix

Install sqlite-ulid with sqlpkg
  sqlpkg.lock
Due: none

Add sqlpkg binstub
  bin/sqlpkg
Due: none

Install sqlite extensions in setup and ci
  .github/workflows/verify.yml
  bin/setup
Due: none

MIGRATION: Create pages table
  db/migrate/20241027033302_create_pages.rb
  db/schema.rb
  db/seeds/development/pages.rb
Due: bin/standardrb --fix

Add Page model to represent Sitepress resource
  app/models/page.rb
  db/seeds/development.rb
  db/seeds/development/pages.rb
  spec/factories/pages.rb
  spec/models/page_spec.rb
Due: bin/standardrb --fix

Update migration
  db/migrate/20241027033302_create_pages.rb
  db/schema.rb
Due: bin/standardrb --fix

MIGRATION: Create pages search index
  db/migrate/20241027034443_create_page_searches.rb
  db/schema.rb
Due: bin/standardrb --fix

Update search index migration
  db/migrate/20241027034443_create_page_searches.rb
  db/schema.rb
Due: bin/standardrb --fix

Lazy init ivars embedded in content pages
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
Due: none

Add whitespace to article header to improve text rendering
  app/views/components/markdown/article.rb
Due: bin/standardrb --fix

Implement search index syncing for Page model
  app/models/page.rb
Due: bin/standardrb --fix

Rename articles index file to make it easier to select articles to search
  app/content/pages/articles.html.erb
Due: bin/erb_lint -a

Add Sitepress model collection for slash pages
  app/content/models/sitepress_slash_page.rb
Due: bin/standardrb --fix

Update db seeds for Page creation
  db/seeds/development/pages.rb
Due: bin/standardrb --fix

CSS more selective grid display of direct body children
  app/javascript/css/layout.scss
Due: none

Update Page#body_text to use Nokogiri so we don’t escape <>
  app/models/page.rb
Due: bin/standardrb --fix

Implement Page.search
  app/models/page.rb
Due: bin/standardrb --fix

Add search icon
  app/assets/images/icons/search.svg
Due: none

Add more Tailwind style utilities
  app/javascript/css/utilities/custom.css
  app/javascript/css/utilities/tailwind.css
Due: none

Modify Dialog::Layout to make margin required & customizable
  app/views/components/dialog/layout.rb
  app/views/users/header_navigations/show_view.rb
Due: bin/standardrb --fix

Update dialog css
  app/javascript/css/components/dialog.scss
Due: none

Implement search dialog layout (without search)
  app/views/application/_dialog.html.erb
  app/views/layouts/application.html.erb
  app/views/searches/dialog.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Implement search dialog Stimulus controller for open & close
  app/javascript/controllers/index.js
  app/javascript/controllers/search/dialog.js
Due: none

Implement basic search controller to search Pages
  app/controllers/searches_controller.rb
  app/views/searches/show.html.erb
  config/routes.rb
  spec/requests/search_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Add more Tailwind style utilities
  app/javascript/css/layout.scss
  app/javascript/css/utilities/tailwind.css
Due: none

Refactor click outside logic for search dialog
  app/javascript/controllers/search/dialog.js
Due: none

Implement search dialog and autosubmit
  app/javascript/controllers/dialog.js
  app/javascript/controllers/forms/autosubmit.js
  app/javascript/controllers/index.js
  app/javascript/controllers/modal-opener.js
  app/javascript/test/fixtures/views/darkmode/switch.html
  app/views/components/site_header/nav.rb
  app/views/searches/button.rb
  app/views/searches/dialog.rb
  app/views/searches/show.html.erb
  app/views/users/header_navigations/show_view.rb
  spec/system/searches_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Update site header spacing and styling
  app/javascript/css/components/logo.css
  app/javascript/css/layout.scss
  app/javascript/css/utilities/tailwind-media.scss
  app/views/components/dark_mode/switch.rb
  app/views/components/site_header/header.rb
  app/views/users/header_navigations/show_view.rb
Due: bin/standardrb --fix

Update page model search for fuzzy match and remove special characters
  app/models/page.rb
  spec/models/page_spec.rb
Due: bin/standardrb --fix

Add Tailwind utilities
  app/javascript/css/utilities/tailwind.css
Due: none

Fix bug in dialog stimulus controller
  app/javascript/controllers/dialog.js
Due: none

Refactor searches show view to Phlex
  app/controllers/searches_controller.rb
  app/views/searches/show.html.erb
  app/views/searches/show_view.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Implement search dialog combolist to navigate search results
  app/javascript/controllers/combolist.js
  app/javascript/controllers/index.js
  app/javascript/css/components/dialog.scss
  app/views/searches/dialog.rb
Due: bin/standardrb --fix

Make search work if navigating directly to search page
  app/controllers/searches_controller.rb
  app/views/application/_dialog.html.erb
  app/views/searches/dialog.rb
  app/views/searches/form.rb
  app/views/searches/show_view.rb
  spec/requests/search_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a
