Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Add vendor pygments stylesheet from gist
  vendor/assets/gist/pygments/solarized-dark.css
  vendor/assets/gist/pygments/solarized-light.css
Due: none

Add vendor assets from richieland repo
  vendor/assets/richieland/pygments/README.md
  vendor/assets/richieland/pygments/UNLICENSE.txt
  vendor/assets/richieland/pygments/autumn.css
  vendor/assets/richieland/pygments/borland.css
  vendor/assets/richieland/pygments/bw.css
  vendor/assets/richieland/pygments/colorful.css
  vendor/assets/richieland/pygments/default.css
  vendor/assets/richieland/pygments/emacs.css
  vendor/assets/richieland/pygments/friendly.css
  vendor/assets/richieland/pygments/fruity.css
  vendor/assets/richieland/pygments/makefile
  vendor/assets/richieland/pygments/manni.css
  vendor/assets/richieland/pygments/monokai.css
  vendor/assets/richieland/pygments/murphy.css
  vendor/assets/richieland/pygments/native.css
  vendor/assets/richieland/pygments/package.json
  vendor/assets/richieland/pygments/pastie.css
  vendor/assets/richieland/pygments/perldoc.css
  vendor/assets/richieland/pygments/requirements.txt
  vendor/assets/richieland/pygments/tango.css
  vendor/assets/richieland/pygments/trac.css
  vendor/assets/richieland/pygments/vim.css
  vendor/assets/richieland/pygments/vs.css
Due: none

Add example code file
  app/views/settings/syntax_highlights/hello_world.rb
Due: bin/standardrb --fix

Add quiet border to code block and use pygment css for app file name
  app/javascript/css/components/code.scss
  app/javascript/css/config/theme.css
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Add syntax form to preview other syntax highlights
  app/controllers/application_controller.rb
  app/controllers/concerns/syntax_highlighting.rb
  app/controllers/settings/syntax_highlights_controller.rb
  app/models/settings/syntax_highlight.rb
  app/views/application/_footer.html.erb
  app/views/application/theme/_code.html.erb
  app/views/settings/syntax_highlights/_example.html.erb
  app/views/settings/syntax_highlights/examples/hello_world.rb
  app/views/settings/syntax_highlights/form.rb
  app/views/settings/syntax_highlights/show_view.rb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Add example code file
  app/views/settings/syntax_highlights/examples/example.css
Due: none

Add stimulus controller for syntax highlight preview
  app/javascript/controllers/index.js
  app/javascript/controllers/syntax-highlight/preview.js
Due: none

Update syntax highlight css tag usage for dynamic preview
  app/views/application/theme/_code.html.erb
  app/views/settings/syntax_highlights/form.rb
Due: bin/standardrb --fix, bin/erblint -a

Update code block article api
  app/views/components/code_block/app_file.rb
  app/views/components/code_block/article.rb
  app/views/settings/syntax_highlights/form.rb
Due: bin/standardrb --fix

Add turbo data action advance for syntax highlight frame
  app/views/settings/syntax_highlights/show_view.rb
Due: bin/standardrb --fix

Update vendor css
  vendor/assets/jekyll/pygments/github.css
  vendor/assets/richieland/pygments/bw.css
Due: none

Add js example to syntax highlight preview
  app/javascript/controllers/syntax-highlight/preview.js
  app/views/settings/syntax_highlights/form.rb
Due: bin/standardrb --fix

Add task to generate and categorize syntax highlight data
  Gemfile
  Gemfile.lock
  config/syntax_highlights.yml
  lib/tasks/syntax_highlights/seed.rake
Due: none

Render optgroup for light / dark syntax highlighting
  app/models/settings/syntax_highlight.rb
  app/views/settings/syntax_highlights/form.rb
Due: bin/standardrb --fix

Update clipboard copy button for light / dark mode
  app/javascript/css/application.css
  app/javascript/css/components/clipboard-copy.css
  app/views/components/clipboard_copy.rb
Due: bin/standardrb --fix

Extract analytics partial
  app/views/application/_analytics.html.erb
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Add system spec for syntax highlight preview
  app/controllers/concerns/syntax_highlighting.rb
  app/controllers/settings/syntax_highlights_controller.rb
  app/models/settings.rb
  app/models/settings/syntax_highlight.rb
  app/views/application/_footer.html.erb
  app/views/settings/syntax_highlights/form.rb
  app/views/settings/syntax_highlights/show_view.rb
  spec/system/settings/syntax_highlights_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update syntax highlight config
  config/syntax_highlights.yml
Due: none

Iterate on ux for syntax highlight preview
  app/controllers/concerns/syntax_highlighting.rb
  app/controllers/settings/syntax_highlights_controller.rb
  app/views/color_schemes/form.rb
  app/views/settings/syntax_highlights/form.rb
  app/views/settings/syntax_highlights/show_view.rb
  spec/system/settings/syntax_highlights_spec.rb
Due: bin/standardrb --fix

Update baseline css for b, strong
  app/javascript/css/baseline.css
Due: none

Add ability to save chosen syntax highlight
  app/controllers/settings/syntax_highlights_controller.rb
  app/views/settings/syntax_highlights/form.rb
  app/views/settings/syntax_highlights/show_view.rb
  spec/system/settings/syntax_highlights_spec.rb
Due: bin/standardrb --fix

Add css to render code block list with flex wrap on desktop
  app/javascript/css/components/code.scss
Due: none

Add tailwind utility
  app/javascript/css/utilities/tailwind.css
Due: none

Refactor syntax highlight form with nested turbo frame and turbo stream
  app/javascript/controllers/syntax-highlight/preview.js
  app/views/settings/syntax_highlights/form.rb
  app/views/settings/syntax_highlights/show_view.rb
Due: bin/standardrb --fix

Update class method syntax
  app/models/settings/syntax_highlight.rb
Due: bin/standardrb --fix

Update color scheme show element
  app/views/color_schemes/show_view.rb
Due: bin/standardrb --fix

Respond to css format for syntax highlight with css file
  app/controllers/settings/syntax_highlights_controller.rb
Due: bin/standardrb --fix

Add request specs for syntax higlights
  spec/requests/settings/syntax_highlights_spec.rb
Due: bin/standardrb --fix

Add model spec for syntax highlight
  app/models/settings/syntax_highlight.rb
  spec/models/settings/syntax_highlight_spec.rb
Due: bin/standardrb --fix

Simplify footer html and css
  app/javascript/css/components/footer-content.css
  app/views/application/_footer.html.erb
  spec/system/settings/color_schemes_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add landing page for settings
  app/content/pages/about/design.html.mdrb
  app/content/pages/settings/index.html.mdrb
  app/views/application/_footer.html.erb
Due: bin/erblint -a

Fix for default revision param
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Remove error prone auto focus from syntax preview
  app/javascript/controllers/syntax-highlight/preview.js
Due: none

Update rexml
  Gemfile.lock
Due: none

Start dynamic css article
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
Due: none

Style updates
  app/javascript/css/components/article-content.css
  app/views/color_schemes/form.rb
Due: bin/standardrb --fix

Start dynamic css article
  app/assets/images/articles/how-to-render-css-dynamically-in-rails/placeholder.jpg
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.md
Due: none

Update turbo-frame spacing for articles
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
  app/javascript/css/components/article-content.css
  app/javascript/css/utilities/custom.css
Due: none

Embed syntax highlighting in article
  app/content/pages/articles/how-to-render-css-dynamically-in-rails.html.mdrb
  app/controllers/concerns/syntax_highlighting.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
