Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Limit color scheme request to manifest
  app/controllers/rails/pwa_controller.rb
  app/views/pwa/manifest.json.erb
Due: bin/standardrb --fix, bin/erblint -a

Add screenshots to PWA manifest
  app/assets/images/screenshots/color-schemes-narrow.jpg
  app/assets/images/screenshots/color-schemes.jpg
  app/assets/images/screenshots/homepage-narrow.jpg
  app/assets/images/screenshots/homepage.jpg
  app/views/pwa/manifest.json.erb
Due: bin/erblint -a

Install railsadmin and its dependencies
  app/controllers/admin/base_controller.rb
  app/controllers/admin/home_controller.rb
  app/controllers/admin/newsletters_controller.rb
  app/controllers/concerns/authentication.rb
  app/javascript/entrypoints/rails_admin.js
  app/javascript/stylesheets/rails_admin.scss
  config/initializers/rails_admin.rb
  config/routes.rb
  package-lock.json
  package.json
Due: bin/standardrb --fix

Add railsadmin gem
  Gemfile
  Gemfile.lock
Due: none

Bump webrick for CVE
  Gemfile.lock
Due: none

Remove ruby wasm javascript dependencies
  app/javascript/controllers/code-example/rails.js
  app/javascript/controllers/index.js
  app/javascript/ruby-wasm/index.js
  app/javascript/ruby-wasm/rails/boot.js
  app/javascript/ruby-wasm/rails/url.js
  app/javascript/ruby-wasm/rails/worker.js
  app/javascript/ruby-wasm/ruby/url.js
  app/javascript/ruby-wasm/vm.js
  package-lock.json
  package.json
Due: none

Update footer to look better on small screens
  app/javascript/css/application.css
  app/javascript/css/components/footer.css
  app/javascript/css/components/footer.scss
  app/views/application/_footer.html.erb
  spec/system/settings/syntax_highlights_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Bump sqlite3
  Gemfile.lock
Due: none

Bump phlex 2 beta 2
  Gemfile
  Gemfile.lock
Due: none

Upgrade to Rails 8 beta 1
  Gemfile
  Gemfile.lock
  bin/brakeman
  bin/thrust
  config/environments/production.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_8_0.rb
  config/puma.rb
  public/406-unsupported-browser.html
Due: bin/standardrb --fix

Upgrade Brakeman
  Gemfile.lock
Due: none

Add custom sqlite3 adapter for extensions in place of activerecord-enhancedsqlite3-adapter
  Gemfile
  Gemfile.lock
  config/initializers/enhanced_sqlite3.rb
  lib/enhanced_sqlite3.rb
  lib/enhanced_sqlite3/adapter.rb
Due: bin/standardrb --fix

Add basic test for enhanced sqlite adapter
  spec/lib/enhanced_sqlite3/adapter_spec.rb
Due: bin/standardrb --fix

Fix css discrepancy between snippet code read-only and editor view
  app/javascript/css/components/code.scss
  app/javascript/css/components/snippet.css
Due: none

Add spacing to bottom of user dashboard view
  app/views/users/dashboard/index_view.rb
Due: bin/standardrb --fix

Convert vapid credentials to Rails custom configuration
  app/helpers/pwa_helper.rb
  app/jobs/pwa/web_push_job.rb
  config/initializers/vapid.rb
  spec/config/x_spec.rb
  spec/requests/pwa/web_pushes_spec.rb
Due: bin/standardrb --fix

Convert application name to config.x
  app/helpers/application_helper.rb
  app/views/components/layouts/front_door_form.rb
  app/views/feed/index.atom.builder
  app/views/pwa/manifest.json.erb
  config/application.rb
  config/initializers/joy.rb
  spec/config/x_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Convert postmark configuration to config.x
  app/clients/postmark_client.rb
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/postmark.rb
  spec/config/x_spec.rb
Due: bin/standardrb --fix

Update test
  spec/config/x_spec.rb
Due: bin/standardrb --fix

Convert skip http cache to custom config
  app/controllers/color_schemes_controller.rb
  app/controllers/feed_controller.rb
  app/controllers/site_controller.rb
  config/application.rb
  config/initializers/http_cache.rb
  spec/config/x_spec.rb
Due: bin/standardrb --fix

Convert emails settings to config.x
  app/mailers/application_mailer.rb
  app/mailers/emails/newsletter_mailer.rb
  config/initializers/emails.rb
  db/seeds/development.rb
  spec/config/x_spec.rb
  spec/system/admin/newsletter_spec.rb
Due: bin/standardrb --fix

Remove custom settings object
  config/application.rb
Due: bin/standardrb --fix

Update Phlex configuration
  app/views/application/application_view.rb
  config/application.rb
  config/initializers/phlex.rb
Due: bin/standardrb --fix

Update custom configuration article
  app/assets/images/articles/mastering-custom-configuration-in-ruby-on-rails/placeholder.jpg
  app/content/pages/articles/mastering-custom-configuration-in-ruby-on-rails.html.mdrb
  lib/generators/article/templates/article.html.mdrb.tt
Due: none

Update development db seeds
  db/seeds/development.rb
Due: bin/standardrb --fix

Update custom configuration article
  app/content/pages/articles/mastering-custom-configuration-in-ruby-on-rails.html.mdrb
Due: none

Fix spelling in comment
  config/initializers/vapid.rb
Due: bin/standardrb --fix

Improve CSS spacing for article list item content
  app/javascript/css/components/article-content.css
Due: none

Change article twitter cards to use smaller thumbnail
  app/content/layouts/article.html.erb
Due: bin/erblint -a

Update custom configuration article image
  app/assets/images/articles/mastering-custom-configuration-in-ruby-on-rails/ice-cream.jpg
  app/assets/images/articles/mastering-custom-configuration-in-ruby-on-rails/placeholder.jpg
  app/content/pages/articles/mastering-custom-configuration-in-ruby-on-rails.html.mdrb
Due: none

Rename article
  app/assets/images/articles/mastering-custom-configuration-in-rails/ice-cream.jpg
  app/content/pages/articles/mastering-custom-configuration-in-rails.html.mdrb
Due: none

Add spec for article
  spec/system/articles/mastering-custom-configuration-in-rails_spec.rb
Due: bin/standardrb --fix

Add spec template for article gemerator
  lib/generators/article/article_generator.rb
  lib/generators/article/templates/article_spec.rb.tt
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix

Fix newsletter configuration
  config/initializers/emails.rb
Due: bin/standardrb --fix

Remove DeferredRender from CodeBlock::Article
  app/views/components/code_block/article.rb
Due: bin/standardrb --fix

Remove DeferredRender from CodeBlock::Snippet
  app/views/components/code_block/snippet.rb
Due: bin/standardrb --fix

Extract ColorScheme.bulk_load from rake task
  app/models/color_scheme.rb
  lib/tasks/color_schemes/seed.rake
  spec/models/color_scheme_spec.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
