Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Mobile web css fixes
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
  app/content/pages/pwa-showcase.html.erb
  app/helpers/pwa_helper.rb
  app/javascript/css/components/code.css
  app/javascript/css/components/scrollbar.css
  app/views/components/_clipboard_copy.html.erb
  app/views/components/pwa/_web_push_demo.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Hack md with ERB in code fences by gsubbing _ERB_
  app/markdown/erb_markdown.rb
Due: bin/standardrb --fix

Disable scrollbar css
  app/javascript/css/components.css
Due: none

Filter draft articles index from production
  app/content/pages/articles.html.erb
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
  app/helpers/articles_helper.rb
  app/helpers/pwa_helper.rb
Due: bin/standardrb --fix, bin/erblint -a

Add debug.js wrapper to use console log, error, and warn
  app/javascript/utils/debug.js
Due: none

Update article content
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
Due: none

Make scrollbar colors themeable
  app/javascript/css/components/scrollbar.css
  app/javascript/css/themes/colors.css
Due: none

Update button line-height
  app/javascript/css/components/buttons.css
Due: none

Implement web push subscription UX with stimulus, embedded in article
  app/content/pages/articles/web-push-notifications-from-rails.html.markderb
  app/helpers/pwa_helper.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/pwa/web-push.js
  app/javascript/css/components.css
  app/javascript/css/components/pwa.css
  app/javascript/initializers/serviceworker-companion.js
  app/views/application/_config.html.erb
  app/views/components/pwa/_web_push_subscribe.html.erb
  app/views/layouts/application.html.erb
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/initializers/markdown.rb
Due: bin/standardrb --fix, bin/erblint -a

Implement web push request and response
  app/controllers/pwa/web_pushes_controller.rb
  app/helpers/pwa_helper.rb
  app/javascript/controllers/pwa/web-push.js
  app/javascript/css/components/buttons.css
  app/javascript/css/components/pwa.css
  app/javascript/initializers/serviceworker-companion.js
  app/jobs/pwa/web_push_job.rb
  app/views/application/_config.html.erb
  app/views/components/pwa/_web_push_subscribe.html.erb
  app/views/components/pwa/_web_push_subscribe_demo.html.erb
  app/views/pwa/serviceworker.js.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Rename markdown erb extension
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
  config/initializers/markdown.rb
Due: bin/standardrb --fix

Move pwa controller to rails namespace, similar to Rails 8
  app/controllers/rails/pwa_controller.rb
  config/routes.rb
Due: bin/standardrb --fix

Update web push html
  app/views/components/pwa/_web_push_demo.html.erb
  app/views/components/pwa/_web_push_subscription.html.erb
Due: bin/erblint -a

Add web push article draft
  app/content/pages/articles/web-push-notifications-from-rails.html.markderb
Due: none

Iterate on web push article
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
Due: none

Use async/await syntax in serviceworker companion
  app/javascript/initializers/serviceworker-companion.js
Due: none

Add error message UX to web push demo
  app/javascript/controllers/pwa/web-push-demo.js
  app/javascript/controllers/pwa/web-push-subscription.js
  app/javascript/utils/web-push.js
  app/views/components/pwa/_web_push_demo.html.erb
Due: bin/erblint -a

Rework web push demo as two stimulus controllers
  app/javascript/controllers/index.js
  app/javascript/controllers/pwa/web-push-demo.js
  app/javascript/controllers/pwa/web-push-subscription.js
  app/javascript/controllers/pwa/web-push.js
  app/javascript/utils/web-push.js
  app/views/components/pwa/_web_push_demo.html.erb
  app/views/components/pwa/_web_push_subscribe_demo.html.erb
  app/views/components/pwa/_web_push_subscription.html.erb
Due: bin/erblint -a

Rework web push behavior with form fields
  app/content/pages/pwa-showcase.html.erb
  app/controllers/pwa/web_pushes_controller.rb
  app/javascript/controllers/pwa/web-push.js
  app/javascript/css/components/buttons.css
  app/javascript/css/components/forms.css
  app/jobs/pwa/web_push_job.rb
  app/views/components/pwa/_web_push_subscribe_demo.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Disable web push demo subscribe button during subscribe process
  app/javascript/controllers/pwa/web-push-subscription.js
Due: none

Add web-push gem
  Gemfile
  Gemfile.lock
Due: none

Cache footer
  app/views/application/_footer.html.erb
Due: bin/erblint -a

Push manager registration accepts unpadded url-safe base64 encoded key
  app/helpers/pwa_helper.rb
  app/javascript/utils/web-push.js
Due: bin/standardrb --fix

Update web push job and serviceworker push interaction
  app/jobs/pwa/web_push_job.rb
  app/views/pwa/serviceworker.js.erb
Due: bin/standardrb --fix, bin/erblint -a

Update to latest reek supporting latest parser
  Gemfile
  Gemfile.lock
Due: none

Add flipper flag for pwa showcase navigation
  app/views/application/_footer.html.erb
  spec/support/flipper.rb
  spec/system/pwa_showcase_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Run bundle update nokogiri --conservative
  Gemfile.lock
Due: none

Switch back to sqlite3 database adapter
  config/database.yml
Due: none

Upgrade to litestack edge for dbconsole fix
  Gemfile
  Gemfile.lock
Due: none

Add solid_cache to bundle
  Gemfile
  Gemfile.lock
Due: none

MIGRATION: Add solid queue migrations
  db/migrate_queue/20240211043212_create_solid_queue_tables.solid_queue.rb
  db/migrate_queue/20240211043213_add_missing_index_to_blocked_executions.solid_queue.rb
  db/queue_schema.rb
Due: bin/standardrb --fix

MIGRATION: Add solid cache migration
  db/cache_schema.rb
  db/migrate_cache/20240210145644_create_solid_cache_entries.solid_cache.rb
Due: bin/standardrb --fix

Add solid_queue to bundle
  Gemfile
  Gemfile.lock
Due: none

Run npm audit fix: updates vite and postcss
  package-lock.json
Due: none

Update database.yml for multiple databases
  config/database.yml
  db/cache_schema.rb
  db/queue_schema.rb
Due: bin/standardrb --fix

Configure solid cache
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/solid_cache.yml
Due: bin/standardrb --fix
