Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

First pass at Turbo topic navigation with sidebar
  app/controllers/topics_controller.rb
  app/views/topics/_topic.html.erb
  app/views/topics/index.html.erb
  app/views/topics/show.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Extract method for Page text rendering to SitepressPage
  app/content/models/sitepress_page.rb
  app/models/page.rb
Due: bin/standardrb --fix

Update topics list
  app/jobs/pages/analyze_topics_job.rb
Due: bin/standardrb --fix

Make cursor: pointer explicit for anchor tags
  app/javascript/css/baseline.css
  app/javascript/css/utilities/tailwind.css
Due: none

Update Searchable
  app/models/page/searchable.rb
Due: bin/standardrb --fix

Extract Page upsert method
  app/jobs/pages/batch_upsert_pages_job.rb
  app/models/page.rb
  spec/jobs/pages/batch_upsert_pages_job_spec.rb
Due: bin/standardrb --fix

AnalyzeTopicsJob with OpenAI
  app/jobs/pages/analyze_topics_job.rb
  spec/jobs/pages/analyze_topics_job_spec.rb
Due: bin/standardrb --fix

Update slash page glob
  app/content/models/sitepress_slash_page.rb
Due: bin/standardrb --fix

Provide option to enable SimpleCov in tests
  spec/rails_helper.rb
  spec/simplecov_helper.rb
Due: bin/standardrb --fix

MIGRATION: Topics and PageTopics
  db/migrate/20241109030814_create_topics.rb
  db/migrate/20241109124854_create_page_topics.rb
  db/schema.rb
Due: bin/standardrb --fix

Update test credentials
  config/credentials/test.yml.enc
Due: none

Add tasks to seed and analyze article topics
  app/jobs/pages/analyze_topics_job.rb
  app/jobs/pages/batch_analyze_topics_job.rb
  app/models/page.rb
  db/seeds/development/topics.rb
  lib/tasks/pages/topics.rake
  lib/tasks/topics/approve.rake
Due: bin/standardrb --fix

Add and configure OpenAI gem
  Gemfile
  Gemfile.lock
  config/initializers/openai.rb
Due: bin/standardrb --fix

Update tailwindcss
  app/javascript/css/utilities/tailwind-media.scss
Due: none

Second pass at Turbo topic navigation with sidebar
  app/javascript/css/components/article-content.css
  app/views/topics/index.html.erb
  app/views/topics/show.html.erb
Due: bin/erb_lint -a

Add info component for pages
  app/views/components/pages/info.rb
Due: bin/standardrb --fix

Update web push article content
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Add Page#analyze_topics! method
  app/models/page.rb
Due: bin/standardrb --fix

Fix dom_id in newsletter view
  app/views/newsletters/index.html.erb
Due: bin/erb_lint -a

Analyze untagged pages on deploy
  app/jobs/pages/analyze_topics_job.rb
  app/jobs/pages/batch_analyze_topics_job.rb
  lib/tasks/deploy.rake
Due: bin/standardrb --fix

Add spec helper method for WebMock
  spec/support/webmock_vcr.rb
Due: bin/standardrb --fix

Topic detail page update
  app/views/topics/show.html.erb
Due: bin/erb_lint -a

Add navigation select component for topic mobile view
  app/javascript/controllers/forms/select-nav.js
  app/javascript/controllers/index.js
  app/views/topics/index.html.erb
  app/views/topics/select.rb
  app/views/topics/show.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Remove block display from select menus
  app/javascript/css/components/select.css
Due: none

bundle lock --add-platform x86_64-linux
  Gemfile.lock
Due: none

Remove unused file
  app/views/topics/_topic.html.erb
Due: bin/erb_lint -a

Disable smooth scrolling in cuprite for perf
  spec/support/system.rb
Due: bin/standardrb --fix

Refactor topics nav to component
  app/content/layouts/article.html.erb
  app/views/topics/index.html.erb
  app/views/topics/nav.rb
  app/views/topics/select.rb
  app/views/topics/show.html.erb
  spec/system/articles_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Add basic system test for topic navigation
  spec/system/topics_spec.rb
Due: bin/standardrb --fix

Make flex_block helper more flexible for options
  app/views/components/phlex_concerns/flex_block.rb
Due: bin/standardrb --fix

Add css utility
  app/javascript/css/utilities/tailwind-media.scss
Due: none

Only show approved topics on article
  app/content/layouts/article.html.erb
  spec/system/articles_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Update current-page controller
  app/javascript/controllers/current-page.js
Due: none

Update spacing
  app/javascript/css/utilities/custom.css
  app/javascript/css/utilities/tailwind.css
  app/views/topics/show.html.erb
Due: bin/erb_lint -a

Update styling for column content nav
  app/javascript/css/application.css
  app/javascript/css/components/article-content.css
  app/javascript/css/components/column-content.css
  app/javascript/css/config/theme.css
Due: none

Ensure selected topic select option for current page
  app/javascript/controllers/current-page.js
  app/views/topics/nav.rb
Due: bin/standardrb --fix

Implement current page controller to update active state of nav links
  app/javascript/controllers/current-page.js
  app/javascript/controllers/index.js
  app/views/topics/nav.rb
Due: bin/standardrb --fix

Update bsky.app link since updating username to rossta.net
  app/content/pages/about/index.html.mdrb
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
  app/content/pages/contact/index.html.mdrb
  app/views/application/_footer.html.erb
Due: bin/erb_lint -a

MIGRATION: Add more Page timestamps
  app/models/page.rb
  app/models/page_topic.rb
  app/models/topic.rb
  db/migrate/20241114211454_add_published_at_to_pages.rb
  db/migrate/20241114213838_add_indexed_at_to_pages.rb
  db/schema.rb
  spec/factories/pages.rb
  spec/factories/topics.rb
  spec/models/page_spec.rb
  spec/models/topic_spec.rb
Due: bin/standardrb --fix

Add Page published and indexed scopes
  app/models/page.rb
Due: bin/standardrb --fix
