Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Update phlex for security fix
  Gemfile.lock
Due: none

Make counter countroller work with redirects only
  app/controllers/examples/counters_controller.rb
  spec/requests/examples/counters_spec.rb
Due: bin/standardrb --fix

Update counter partial formatting
  app/views/examples/counters/_counter.html.erb
Due: bin/erblint -a

Update counter background
  app/views/examples/counters/_counter.html.erb
Due: bin/erblint -a

Rework counters controller for turbo lazy loading
  app/controllers/examples/counters_controller.rb
  app/views/examples/counters/_counter.html.erb
  app/views/examples/counters/_form.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update counter model
  app/models/examples/counter.rb
Due: bin/standardrb --fix

Rename stimulus controller
  app/javascript/controllers/analytics/custom-event.js
  app/javascript/controllers/index.js
  app/views/examples/counters/_counter.html.erb
Due: bin/erblint -a

Update robots.txt
  public/robots.txt
Due: none

Update font sizes
  config/tailwind.config.js
  config/tailwind/typography-overrides.js
Due: none

Update prose link colors
  app/javascript/css/themes/colors.css
  app/javascript/css/themes/typography.css
Due: none

Update erb markdown logic inside paragraph
  app/views/components/markdown/erb.rb
  spec/views/components/markdown/erb_spec.rb
Due: bin/standardrb --fix

Add article: Introducing Joy of Rails (draft)
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
Due: none

Update article content
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
Due: none

Add link_to_app_file helper
  app/content/helpers/page_helper.rb
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
Due: bin/standardrb --fix

Add test for article
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  spec/system/articles/introducing_joy_of_rails_spec.rb
Due: bin/standardrb --fix

Update Gemfile comments
  Gemfile
Due: none

Update how article layout works without toc
  app/content/layouts/article.html.erb
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/javascript/css/themes/typography.css
Due: bin/erblint -a

Update article metadata
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
Due: none

Update to rack 3 and latest litestream
  Gemfile
  Gemfile.lock
Due: none

Reimplement phlex-markdown as markdown base component
  Gemfile
  Gemfile.lock
  app/views/components/markdown/base.rb
  config/application_wasm.rb
  spec/views/components/markdown/base_spec.rb
Due: bin/standardrb --fix

Adopt commonmarker for markdown parsing
  Gemfile
  Gemfile.lock
  app/views/components/markdown/application.rb
  app/views/components/markdown/base.rb
  app/views/components/markdown/erb.rb
  app/views/components/markdown/toc.rb
  spec/views/components/markdown/erb_spec.rb
Due: bin/standardrb --fix

Update article
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
Due: none

Add dependabot configuration
  .github/dependabot.yml
Due: none

Update postcss
  package-lock.json
  package.json
Due: none

Update tailwindcss
  package-lock.json
  package.json
Due: none

Remove stimulus-use
  package-lock.json
  package.json
Due: none

Update sass
  package-lock.json
  package.json
Due: none

Update vitest
  package-lock.json
  package.json
Due: none

Update autoprefixer
  package-lock.json
  package.json
Due: none

Dependabot does not have access to secrets
  .github/dependabot.yml
Due: none

Add http caching headers to sites pages
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  config/routes.rb
  spec/requests/site_spec.rb
Due: bin/standardrb --fix

Enable rack-mini-profiler in all environments
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/concerns/authentication.rb
  app/controllers/concerns/profiling.rb
  config/initializers/rack_mini_profiler.rb
Due: bin/standardrb --fix

Add admin index page
  app/controllers/admin/home_controller.rb
  app/controllers/admin_users/sessions_controller.rb
  app/controllers/concerns/authentication.rb
  app/views/admin/home/index.html.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Update admin index styles
  app/views/admin/home/index.html.erb
Due: bin/erblint -a

Skip litestream configuration without credentials
  app/lib/litestream_extensions/setup.rb
Due: bin/standardrb --fix

Update db seeds for cold startup locally
  db/seeds.rb
  db/seeds/production.rb
Due: bin/standardrb --fix

Update db schemas
  db/cache_schema.rb
Due: bin/standardrb --fix

Assert bin/setup in ci
  .github/workflows/verify.yml
Due: none
