Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Refactor code controller worker interaction
  app/javascript/controllers/code.js
  app/javascript/ruby/worker.js
Due: none

Remove initializer method for wasm mvp
  app/javascript/entrypoints/application.js
  app/javascript/initializers/index.js
  app/javascript/initializers/ruby-wasm-hello-world.js
Due: none

Refactor code controller and ruby wasm init
  app/javascript/controllers/code.js
  app/javascript/controllers/code/rails.js
  app/javascript/ruby-wasm/index.js
  app/javascript/ruby-wasm/rails/boot.js
  app/javascript/ruby-wasm/rails/worker.js
  app/javascript/ruby-wasm/ruby/url.js
  app/javascript/ruby-wasm/vm.js
  app/javascript/ruby/evaluator.js
  app/javascript/ruby/index.js
  app/javascript/ruby/init-vm.js
  app/javascript/ruby/rails.js
  app/javascript/ruby/ruby.js
  app/javascript/ruby/worker.js
Due: none

Add bin/pkill to kill hanging dev processes
  bin/pkill
Due: none

Add comments
  app/javascript/ruby-wasm/rails/boot.js
  app/javascript/ruby-wasm/rails/worker.js
  app/javascript/ruby-wasm/vm.js
Due: none

Rename code example stimulus controller
  app/helpers/code_helper.rb
  app/javascript/controllers/code-example.js
  app/javascript/controllers/code-example/rails.js
  app/javascript/controllers/index.js
Due: bin/standardrb --fix

Update code helper example option
  app/helpers/code_helper.rb
  app/javascript/controllers/code-example.js
  app/views/examples/_example.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Update code action css
  app/javascript/css/components/code.css
  app/views/components/_clipboard_copy.html.erb
Due: bin/erblint -a

Lint bin file
  bin/rougify
Due: none

Enable solid_queue yml config with defaults
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/solid_queue.yml
Due: bin/standardrb --fix

Bump sqlite3 production warning check
  config/environments/production.rb
Due: bin/standardrb --fix

Update mission_control-jobs
  Gemfile.lock
  spec/requests/admin_spec.rb
Due: bin/standardrb --fix

Switch to cuprite for system tests
  Gemfile
  Gemfile.lock
  spec/support/system.rb
  spec/system/examples_spec.rb
Due: bin/standardrb --fix

Add upload to wasm pipeline
  .github/workflows/verify.yml
  Gemfile
  Gemfile.lock
  app/jobs/wasm/clobber_wasm_job.rb
  app/jobs/wasm/upload_wasm_job.rb
  app/lib/cloud_storage/api.rb
  app/lib/wasm.rb
  bin/wasm-upload-web
  bin/wasm/all
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/initializers/version.rb
  lib/tasks/wasm.rake
  spec/jobs/wasm/clobber_wasm_job_spec.rb
  spec/jobs/wasm/upload_wasm_job_spec.rb
Due: bin/standardrb --fix

Integrate joyofrails wasm with code examples
  app/controllers/examples/hello_controller.rb
  app/helpers/code_helper.rb
  app/javascript/controllers/code-example.js
  app/javascript/css/components/code.css
  app/javascript/ruby-wasm/rails/boot.js
  app/views/examples/hello/show.html.erb
  app/views/examples/ruby/5.rb
  app/views/layouts/examples/minimal.html.erb
  bin/wasm/compress
  bin/wasm/test.rb
  config/application_wasm.rb
  config/routes.rb
  spec/system/examples_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Configure rspec failures file
  .gitignore
  spec/spec_helper.rb
Due: bin/standardrb --fix

Set Kernel srand to rspec seed
  spec/spec_helper.rb
Due: bin/standardrb --fix

Make rails wasm url dynamic to RAILS_ENV
  WASM_APP_VERSION
  app/javascript/controllers/code-example.js
  app/javascript/entrypoints/application.js
  app/javascript/initializers/index.js
  app/javascript/ruby-wasm/rails/boot.js
  app/javascript/ruby-wasm/rails/url.js
  app/lib/wasm.rb
  config/initializers/version.rb
  spec/jobs/wasm/clobber_wasm_job_spec.rb
  vite.config.ts
Due: bin/standardrb --fix

Extract rails evaluate function
  app/javascript/controllers/code-example.js
  app/javascript/controllers/code-example/rails.js
  app/javascript/ruby-wasm/rails/worker.js
Due: none

Refresh credential keys
  .github/workflows/verify.yml
  .gitignore
  config/credentials.yml.enc
  config/credentials/development.yml.enc.sample
  config/credentials/production.yml.enc
  config/credentials/test.key
  config/credentials/test.yml.enc
  config/honeybadger.yml
Due: none

Bump WASM_APP_VERSION
  WASM_APP_VERSION
Due: none

Bump ruby dependencies
  Gemfile.lock
Due: none

Update sqlite in prod check
  config/environments/production.rb
Due: bin/standardrb --fix

Refactor wasm pipeline to run wasm ci jobs as matrix
  .github/workflows/verify.yml
  .gitignore
  README.md
  bin/rbwasm
  bin/wasm-upload-web
  bin/wasm/all
  bin/wasm/build
  bin/wasm/pack
Due: none

Remove unused bin file
  bin/bundle-audit
Due: none

Fix for failing deploy notification
  .github/workflows/deploy.yml
Due: none

Upgrade to node v20 lts
  .node-version
Due: none

Remove geckodriver from ci
  .github/workflows/verify.yml
Due: none

Bump deploy ci checkout action
  .github/workflows/deploy.yml
Due: none

Implement plausible event for 404 page
  public/404.html
Due: none

Implement example counter
  app/controllers/examples/counters_controller.rb
  app/models/examples/counter.rb
  app/views/examples/counters/_counter.html.erb
  app/views/examples/counters/_form.html.erb
  app/views/examples/counters/show.html.erb
  config/routes.rb
  spec/models/examples/counter_spec.rb
  spec/requests/examples/counters_spec.rb
  spec/system/examples/counters_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update button colors
  app/javascript/css/components/buttons.css
  app/javascript/css/themes/colors.css
Due: none

Implement plausible event for counter
  app/views/examples/counters/_form.html.erb
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Attempt to fix plausible event
  app/views/examples/counters/_form.html.erb
Due: bin/erblint -a

Split out wasm ci workflow
  .github/workflows/deploy.yml
  .github/workflows/verify.yml
  .github/workflows/wasm.yml
Due: none

Attempt to fix plausible event again
  app/controllers/examples/counters_controller.rb
  app/views/examples/counters/_counter.html.erb
  app/views/examples/counters/_form.html.erb
  app/views/examples/counters/show.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Attempt to fix plausible event with form_class
  app/views/examples/counters/_form.html.erb
  app/views/examples/counters/show.html.erb
Due: bin/erblint -a

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
