Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

Hotfix: remove debug require from app code
  app/controllers/searches_controller.rb
Due: bin/standardrb --fix

Remove extenstion suggestions from rubocop
  .rubocop.yml
Due: none

Enable rubocop lint for debugger methods and requires
  .rubocop.yml
Due: none

Add frozen string literal
  app/controllers/searches_controller.rb
Due: bin/standardrb --fix

Make autosubmit min length configurable with stimulus value
  app/javascript/controllers/forms/autosubmit.js
  app/views/searches/combobox.rb
Due: bin/standardrb --fix

Enhance the search combobox open/close behavior
  app/javascript/controllers/dialog.js
  app/javascript/controllers/searches/combobox.js
  app/views/searches/combobox.rb
  app/views/searches/dialog.rb
  app/views/searches/listbox.rb
Due: bin/standardrb --fix

Update db seeds
  db/seeds/default/pages.rb
  db/seeds/development.rb
  db/seeds/production.rb
  db/seeds/production/admin_users.rb
  db/seeds/production/color_schemes.rb
Due: bin/standardrb --fix

Extract simple view spec helper for phlex components
  spec/support/phlex_helpers.rb
Due: bin/standardrb --fix

Extract class for rendering js html fixtures
  app/javascript/test/fixtures/views/searches/combobox.html
  lib/html_fixtures/renderer.rb
  lib/tasks/fixtures/html.rake
Due: bin/standardrb --fix

Update screenreader label
  app/views/searches/combobox.rb
Due: bin/standardrb --fix

Remove js console.logs
  app/javascript/controllers/searches/combobox.js
Due: none

Enable search request to set listbox_id for turbo stream by param
  app/controllers/searches_controller.rb
  app/views/searches/combobox.rb
Due: bin/standardrb --fix

Add basic javascript specs for combobox
  app/javascript/controllers/searches/combobox.js
  app/javascript/controllers/searches/combobox.spec.js
  app/javascript/test/fixtures/views/searches/combobox.html
  app/views/searches/listbox.rb
  lib/tasks/fixtures/html.rake
Due: bin/standardrb --fix

Inline SVG id generator consistency is now enabled for all tests
  lib/html_fixtures/patches/inline_svg_id_generator_randomness_override.rb
  lib/html_fixtures/renderer.rb
  lib/tasks/fixtures/html.rake
  spec/lib/html_fixtures/renderer_spec.rb
  spec/support/inline_svg.rb
Due: bin/standardrb --fix

Extract html fixture renderers
  lib/html_fixtures/renderer.rb
  lib/html_fixtures/renderers/base.rb
  lib/html_fixtures/renderers/darkmode_switch.rb
  lib/html_fixtures/renderers/searches_combobox.rb
Due: bin/standardrb --fix

Give combobox a dom id
  app/views/searches/combobox.rb
Due: bin/standardrb --fix

Whitespace
  app/notifiers/newsletter_notifier.rb
Due: bin/standardrb --fix

Update search system spec
  spec/system/searches_spec.rb
Due: bin/standardrb --fix

Normalize on render_component for view specs
  spec/views/components/clipboard_copy_spec.rb
  spec/views/components/code_block/app_file_run_spec.rb
  spec/views/components/color_schemes/css_spec.rb
  spec/views/components/markdown/article_spec.rb
  spec/views/components/markdown/atom_spec.rb
  spec/views/components/markdown/base_spec.rb
  spec/views/components/markdown/erb_spec.rb
  spec/views/components/markdown/toc_spec.rb
Due: bin/standardrb --fix

Refactor combobox for more flexible rendering
  app/controllers/searches_controller.rb
  app/models/page.rb
  app/views/application/_dialog.html.erb
  app/views/searches/combobox.rb
  app/views/searches/listbox.rb
  app/views/searches/result.rb
  app/views/searches/results/page.rb
  app/views/searches/show_view.rb
  spec/views/searches/listbox_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Apply Rubocop settings to erb_lint and make corrections
  .erb_lint.yml
  app/content/layouts/article.html.erb
  app/content/pages/articles.html.erb
  app/controllers/admin/home_controller.rb
  app/views/admin/home/index.html.erb
  app/views/admin/newsletters/_form.html.erb
  app/views/admin/newsletters/_newsletter.html.erb
  app/views/admin_users/sessions/new.html.erb
  app/views/application/theme/_code.html.erb
  app/views/emails/newsletter_mailer/newsletter.html.erb
  app/views/examples/counters/_counter.html.erb
  app/views/newsletters/_newsletter.html.erb
  app/views/pwa/installation_instructions/_installation_instructions.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_ios_safari.html.erb
  app/views/pwa/installation_instructions/user_agents/_ipados_chrome.html.erb
  app/views/pwa/installation_instructions/user_agents/_ipados_edge.html.erb
  app/views/pwa/installation_instructions/user_agents/_ipados_firefox.html.erb
  app/views/pwa/installation_instructions/user_agents/_ipados_safari.html.erb
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/show.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Fix for Rubocop
  script/highlight/syntax_themes_pygments
Due: none

Remove force_ruby_platform from sqlite
  Gemfile
Due: none

Add annotaterb gem
  Gemfile
  Gemfile.lock
Due: none

Run bin/rails g annotate_rb:install
  .annotaterb.yml
  lib/tasks/annotate_rb.rake
Due: none

Run bundle binstubs annotaterb
  bin/annotaterb
Due: none

Annotate models
  app/models/admin_user.rb
  app/models/color_scheme.rb
  app/models/email_exchange.rb
  app/models/examples/post.rb
  app/models/examples/posts/image.rb
  app/models/examples/posts/link.rb
  app/models/examples/posts/markdown.rb
  app/models/newsletter.rb
  app/models/newsletter_subscription.rb
  app/models/notification.rb
  app/models/notification_event.rb
  app/models/page.rb
  app/models/snippet.rb
  app/models/user.rb
  spec/factories/admin_users.rb
  spec/factories/color_schemes.rb
  spec/factories/examples/posts.rb
  spec/factories/examples/posts/images.rb
  spec/factories/examples/posts/links.rb
  spec/factories/examples/posts/markdowns.rb
  spec/factories/newsletter_subscriptions.rb
  spec/factories/newsletters.rb
  spec/factories/notification_events.rb
  spec/factories/notifications.rb
  spec/factories/pages.rb
  spec/factories/snippets.rb
  spec/factories/users.rb
  spec/models/admin_user_spec.rb
  spec/models/color_scheme_spec.rb
  spec/models/newsletter_spec.rb
  spec/models/page_spec.rb
  spec/models/snippet_spec.rb
  spec/models/user_spec.rb
Due: bin/standardrb --fix

Annotate routes
  config/routes.rb
Due: bin/standardrb --fix

Add new grid layout for sidebar columns
  app/javascript/css/layout.scss
Due: none

Add/update batch page tasks
  app/jobs/pages/batch_analyze_topics_job.rb
  app/jobs/pages/batch_upsert_pages_job.rb
  app/models/page.rb
  db/seeds/default/pages.rb
  spec/factories/pages.rb
  spec/jobs/pages/batch_analyze_topics_job_spec.rb
  spec/jobs/pages/batch_upsert_pages_job_spec.rb
Due: bin/standardrb --fix

Style improvements for home and articles index
  app/content/pages/index.html.erb
  app/javascript/css/utilities/tailwind-media.scss
  app/javascript/css/utilities/tailwind.css
  app/views/components/pages/card.rb
  app/views/components/pages/summary.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Save analyze topics VCR cassette
  spec/cassettes/Pages_AnalyzeTopicsJob/_perform/analyzes_the_topics_of_a_page.yml
  spec/support/webmock_vcr.rb
Due: bin/standardrb --fix

Configure OpenAI with Rails credentials
  config/credentials/production.yml.enc
  config/initializers/openai.rb
Due: bin/standardrb --fix

Add simple topics display to articles
  app/content/layouts/article.html.erb
  app/controllers/site_controller.rb
  app/views/application/_footer.html.erb
  app/views/components/pages/topics.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Update config/database.yml
  config/database.yml
Due: none

Update hll style for small screens
  app/javascript/css/components/code.scss
Due: none

Add basic Topic index and show page for articles
  app/content/models/sitepress_article.rb
  app/controllers/topics_controller.rb
  app/javascript/css/utilities/custom.css
  app/models/page.rb
  app/views/topics/index.html.erb
  app/views/topics/show.html.erb
  config/routes.rb
  spec/requests/topics_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Fix (finally) the content width issue on mobile
  app/javascript/css/baseline.css
Due: none

Add Topic and PageTopic models
  app/models/concerns/sluggable.rb
  app/models/page.rb
  app/models/page_topic.rb
  app/models/topic.rb
  spec/factories/topics.rb
  spec/models/topic_spec.rb
Due: bin/standardrb --fix

Add placeholder image for Pages::Card
  app/views/components/pages/card.rb
Due: bin/standardrb --fix
