Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Switch to npm for package management
  .github/workflows/verify.yml
  README.md
  bin/jest
  bin/setup
  package-lock.json
  package.json
  yarn.lock
Due: none

Remove jsbundling-rails which is tied to yarn
  Gemfile
  Gemfile.lock
Due: none

Workaround for npm bug with optional dependencies
  package-lock.json
  package.json
Due: none

Add plausible.io snippet
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Limit pwa resource requests to proper formats
  config/routes.rb
  spec/requests/home_spec.rb
  spec/requests/pwa_spec.rb
Due: bin/standardrb --fix

Add Brewfile with litestream
  Brewfile
  Brewfile.lock.json
Due: none

Add and generate installation for litestream-ruby
  Gemfile
  Gemfile.lock
  Procfile
  config/initializers/litestream.rb
  config/litestream.yml
Due: bin/standardrb --fix

Add amazon aws credentials
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
Due: none

Set development caching to litecache when enabled
  config/environments/development.rb
Due: bin/standardrb --fix

Build custom litestream.yml on boot for litestream-ruby
  .gitignore
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/initializers/litestream.rb
  config/litestream.yml
  spec/config/litestream_spec.rb
Due: bin/standardrb --fix

Extract litestream extensions module
  app/lib/litestream_extensions/setup.rb
  config/initializers/litestream.rb
Due: bin/standardrb --fix

Customize litestream replicate
  .gitignore
  Procfile.litestream.dev
  app/lib/litestream_extensions/commands.rb
  app/lib/litestream_extensions/setup.rb
  config/litestream/.gitkeep
  lib/tasks/litestream.rake
  spec/config/litestream_spec.rb
Due: bin/standardrb --fix

Restyle code blocks for copy button
  app/javascript/css/components/code.css
  app/markdown/application_markdown.rb
  app/views/components/_clipboard_copy.html.erb
  config/tailwind/typography-overrides.js
Due: bin/standardrb --fix, bin/erblint -a

Update development db seed
  db/seeds/development.rb
Due: bin/standardrb --fix

Add copy icon to markdown code blocks
  app/assets/images/checkbox-checked.svg
  app/assets/images/copy-text.svg
  app/javascript/css/components/code.css
  app/markdown/application_markdown.rb
  app/views/components/_clipboard_copy.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Implement copy code to clipboard stimulus
  app/assets/images/check-mark.svg
  app/assets/images/checkbox-checked.svg
  app/javascript/controllers/clipboard-copy.js
  app/javascript/controllers/index.js
  app/javascript/css/components/code.css
  app/views/components/_clipboard_copy.html.erb
Due: bin/erblint -a

Fix console.log
  app/javascript/controllers/clipboard-copy.js
Due: none

Disable Flipper preload
  config/initializers/flipper.rb
Due: bin/standardrb --fix

Deprioritize order of admin routes
  config/routes.rb
Due: bin/standardrb --fix

Remove admin header functionality
  app/views/application/_header.html.erb
  spec/system/admin_user_sessions_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add web-push gem
  Gemfile
  Gemfile.lock
Due: none

Add web push article draft
  app/content/pages/articles/web-push-notifications-from-rails.html.markderb
Due: none

Implement web push subscription UX with stimulus, embedded in article
  app/content/pages/articles/web-push-notifications-from-rails.html.markderb
  app/helpers/pwa_helper.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/pwa/web-push.js
  app/javascript/css/components.css
  app/javascript/css/components/pwa.css
  app/javascript/initializers/serviceworker-companion.js
  app/views/application/_config.html.erb
  app/views/components/pwa/_web_push_subscribe.html.erb
  app/views/layouts/application.html.erb
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
  config/initializers/markdown.rb
Due: bin/standardrb --fix, bin/erblint -a

Rename markdown erb extension
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
  config/initializers/markdown.rb
Due: bin/standardrb --fix

Implement web push request and response
  app/controllers/pwa/web_pushes_controller.rb
  app/helpers/pwa_helper.rb
  app/javascript/controllers/pwa/web-push.js
  app/javascript/css/components/buttons.css
  app/javascript/css/components/pwa.css
  app/javascript/initializers/serviceworker-companion.js
  app/jobs/pwa/web_push_job.rb
  app/views/application/_config.html.erb
  app/views/components/pwa/_web_push_subscribe.html.erb
  app/views/components/pwa/_web_push_subscribe_demo.html.erb
  app/views/pwa/serviceworker.js.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Rework web push behavior with form fields
  app/content/pages/pwa-showcase.html.erb
  app/controllers/pwa/web_pushes_controller.rb
  app/javascript/controllers/pwa/web-push.js
  app/javascript/css/components/buttons.css
  app/javascript/css/components/forms.css
  app/jobs/pwa/web_push_job.rb
  app/views/components/pwa/_web_push_subscribe_demo.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Rework web push demo as two stimulus controllers
  app/javascript/controllers/index.js
  app/javascript/controllers/pwa/web-push-demo.js
  app/javascript/controllers/pwa/web-push-subscription.js
  app/javascript/controllers/pwa/web-push.js
  app/javascript/utils/web-push.js
  app/views/components/pwa/_web_push_demo.html.erb
  app/views/components/pwa/_web_push_subscribe_demo.html.erb
  app/views/components/pwa/_web_push_subscription.html.erb
Due: bin/erblint -a

Add debug.js wrapper to use console log, error, and warn
  app/javascript/utils/debug.js
Due: none

Move pwa controller to rails namespace, similar to Rails 8
  app/controllers/rails/pwa_controller.rb
  config/routes.rb
Due: bin/standardrb --fix

Make scrollbar colors themeable
  app/javascript/css/components/scrollbar.css
  app/javascript/css/themes/colors.css
Due: none

Use async/await syntax in serviceworker companion
  app/javascript/initializers/serviceworker-companion.js
Due: none

Update article content
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
Due: none

Add error message UX to web push demo
  app/javascript/controllers/pwa/web-push-demo.js
  app/javascript/controllers/pwa/web-push-subscription.js
  app/javascript/utils/web-push.js
  app/views/components/pwa/_web_push_demo.html.erb
Due: bin/erblint -a

Update button line-height
  app/javascript/css/components/buttons.css
Due: none

Iterate on web push article
  app/content/pages/articles/web-push-notifications-from-rails.html.md-erb
Due: none

Disable web push demo subscribe button during subscribe process
  app/javascript/controllers/pwa/web-push-subscription.js
Due: none

Update web push html
  app/views/components/pwa/_web_push_demo.html.erb
  app/views/components/pwa/_web_push_subscription.html.erb
Due: bin/erblint -a

Update web push job and serviceworker push interaction
  app/jobs/pwa/web_push_job.rb
  app/views/pwa/serviceworker.js.erb
Due: bin/standardrb --fix, bin/erblint -a

Push manager registration accepts unpadded url-safe base64 encoded key
  app/helpers/pwa_helper.rb
  app/javascript/utils/web-push.js
Due: bin/standardrb --fix

Update to latest reek supporting latest parser
  Gemfile
  Gemfile.lock
Due: none
