Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

Spelling fixes and suggested edits
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

proof-reading tweaks in what-you-need-to-know-about-sqlite.html.mdrb
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Add rack-attack gem
  Gemfile
  Gemfile.lock
Due: none

Add hatchbox illustration
  app/assets/images/content/hatchbox/hatchbox.jpg
  app/content/pages/deploy/hatchbox.html.mdrb
Due: none

Use load.any? instead of .present? on AR relation
  app/content/layouts/article.html.erb
Due: bin/erb_lint -a

Use !! instead of .present?
  app/controllers/concerns/authentication.rb
Due: bin/standardrb --fix

Add article content
  app/content/pages/articles/what-you-need-to-know-about-sq_lite.html.mdrb
Due: none

Add article content
  app/content/pages/articles/what-you-need-to-know-about-sq_lite.html.mdrb
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Add content for sqlite article
  app/assets/images/articles/what-you-need-to-know-about-sqlite/placeholder.jpg
  app/assets/images/articles/what-you-need-to-know-about-sqlite/scaling.jpg
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Generate new article
  app/assets/images/articles/what-you-need-to-know-about-sq_lite/placeholder.jpg
  app/content/pages/articles/what-you-need-to-know-about-sq_lite.html.mdrb
  spec/system/content/what-you-need-to-know-about-sq_lite_spec.rb
Due: bin/standardrb --fix

Update content
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Update image
  app/assets/images/articles/what-you-need-to-know-about-sqlite/feather.jpg
Due: none

Update article content and anticipated publish date
  app/assets/images/articles/what-you-need-to-know-about-sqlite/mountain-range.jpg
  app/assets/images/articles/what-you-need-to-know-about-sqlite/placeholder.jpg
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Update conclusion
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Update sqlite image
  app/assets/images/articles/what-you-need-to-know-about-sqlite/feather.jpg
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Add section on the SQLite forking issue
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Additional content updates
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Fix test
  spec/system/content/what-you-need-to-know-about-sqlite_spec.rb
Due: bin/standardrb --fix

Add note about Sam Ruby’s project
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Fix typos h/t jpcamara
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Add note about Fly.io SQLite docs
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Fix additional typos
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Bump to rails 8.0.0.rc2
  Gemfile
  Gemfile.lock
Due: none

Run bundle update
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Bump to phlex and phlex-rails 2.0.0.rc1
  Gemfile
  Gemfile.lock
Due: none

Rails 8 baby!!
  Gemfile.lock
Due: none

Move spec
  spec/system/share/snippets_spec.rb
Due: bin/standardrb --fix

Rebuild snippet authoring under /author
  app/controllers/author/snippets_controller.rb
  app/views/author/snippets/edit.html.erb
  app/views/author/snippets/form.rb
  app/views/author/snippets/index.html.erb
  app/views/author/snippets/new.html.erb
  app/views/author/snippets/show.html.erb
  app/views/author/snippets/snippet.rb
  app/views/author/snippets/toolbar.rb
  config/routes.rb
  spec/requests/author/snippets_spec.rb
  spec/system/author/snippets_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Remove old snippet editing and fix routing
  app/controllers/share/snippets_controller.rb
  app/views/author/snippets/edit.html.erb
  app/views/author/snippets/form.rb
  app/views/author/snippets/index.html.erb
  app/views/author/snippets/new.html.erb
  app/views/author/snippets/show.html.erb
  app/views/author/snippets/snippet.rb
  app/views/author/snippets/toolbar.rb
  app/views/components/pages/timestamp.rb
  app/views/share/snippets/edit.html.erb
  app/views/share/snippets/form.rb
  app/views/share/snippets/new.html.erb
  app/views/share/snippets/snippet.rb
  spec/requests/share/snippets_spec.rb
  spec/system/author/snippets_spec.rb
  spec/system/share/snippets_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Simplify snippet views
  app/views/author/snippets/index.html.erb
  app/views/author/snippets/snippet.rb
  app/views/author/snippets/toolbar.rb
  app/views/share/snippet_tweets/tweet_button.rb
  app/views/share/snippets/index.html.erb
  app/views/share/snippets/snippet.rb
  app/views/share/snippets/toolbar.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Move new snippet button to header
  app/views/author/snippets/index.html.erb
  app/views/components/pages/header.rb
  app/views/share/snippets/index.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Fix missing link
  app/content/pages/articles/what-you-need-to-know-about-sqlite.html.mdrb
Due: none

Update article timestamp format and style
  app/javascript/css/components/page-header.css
  app/javascript/css/config/theme.css
  app/views/components/pages/timestamp.rb
  config/locales/en.yml
  spec/views/components/pages/header_spec.rb
Due: bin/standardrb --fix

Update blockquote style
  app/javascript/css/components/article-content.css
Due: none

MIGRATION: Generate Poll model
  app/models/poll.rb
  db/migrate/20241128133144_create_polls.rb
  db/schema.rb
  spec/factories/polls.rb
  spec/models/poll_spec.rb
Due: bin/standardrb --fix
