Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Update mailer preview data
  spec/mailers/previews/emails/user_mailer_preview.rb
Due: bin/standardrb --fix

Add password reset form
  app/controllers/users/passwords_controller.rb
  app/views/users/confirmations/new_view.rb
  app/views/users/passwords/edit_view.rb
  app/views/users/passwords/new_view.rb
Due: bin/standardrb --fix

Add confirmed_at and password_digest to users
  db/migrate/20240605031226_add_confirmation_and_password_columns_to_users.rb
  db/schema.rb
Due: bin/standardrb --fix

Update test settings for mailers and activejob
  config/environments/development.rb
  config/environments/test.rb
  spec/support/mail_helpers.rb
  spec/support/system.rb
  spec/support/warden_helpers.rb
Due: bin/standardrb --fix

Add current user methods
  app/controllers/concerns/authentication.rb
  app/models/current.rb
Due: bin/standardrb --fix

Add friendly login redirects
  app/controllers/concerns/authentication.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
Due: bin/standardrb --fix

Add confirmation mailer
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/registrations_controller.rb
  app/mailers/emails/user_mailer.rb
  app/models/user.rb
  app/views/emails/user_mailer/confirmation.html.erb
  app/views/emails/user_mailer/confirmation.text.erb
  spec/fixtures/emails/user/confirmation
  spec/mailers/emails/user_mailer_spec.rb
  spec/mailers/previews/emails/user_mailer_preview.rb
Due: bin/standardrb --fix, bin/erblint -a

Add request specs for password reset
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/passwords_controller.rb
  app/views/users/passwords/edit_view.rb
  config/routes.rb
  spec/requests/confirmations_spec.rb
  spec/requests/users/confirmations_spec.rb
  spec/requests/users/passwords_spec.rb
  spec/support/warden_helpers.rb
Due: bin/standardrb --fix

Refactor to password notifier job
  app/controllers/users/passwords_controller.rb
  app/notifiers/password_reset_notifier.rb
  spec/requests/users/confirmations_spec.rb
  spec/requests/users/passwords_spec.rb
  spec/support/mail_helpers.rb
  spec/system/users/confirmations_spec.rb
  spec/system/users/registrations_spec.rb
Due: bin/standardrb --fix

Add system spec for new registration
  app/controllers/site_controller.rb
  app/controllers/users/registrations_controller.rb
  app/models/user.rb
  app/views/users/registrations/new_view.rb
  spec/factories/users.rb
  spec/support/mail_helpers.rb
  spec/system/users/registrations_spec.rb
Due: bin/standardrb --fix

Add sign out button for users to header nav
  app/views/users/header_navigations/show.html.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Add password reset email
  app/mailers/emails/user_mailer.rb
  app/models/user.rb
  app/views/emails/user_mailer/confirmation.text.erb
  app/views/emails/user_mailer/password_reset.html.erb
  app/views/emails/user_mailer/password_reset.text.erb
  spec/mailers/emails/user_mailer_spec.rb
  spec/mailers/previews/emails/user_mailer_preview.rb
Due: bin/standardrb --fix, bin/erblint -a

Rework sessions, registrations, and confirmation
  app/controllers/concerns/authentication.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/lib/warden_extensions/password_strategy.rb
  app/models/admin_user.rb
  app/models/email_exchange.rb
  app/models/user.rb
  app/views/users/registrations/edit.html.erb
  app/views/users/registrations/edit_view.rb
  app/views/users/sessions/new_view.rb
  config/initializers/warden.rb
  config/routes.rb
  db/migrate/20240605030240_create_users.rb
  db/migrate/20240605031226_add_confirmation_and_password_columns_to_users.rb
  db/migrate/20240605031226_add_confirmed_at_to_users.rb
  db/migrate/20240607120410_create_email_exchanges.rb
  db/schema.rb
  spec/factories/email_exchange.rb
  spec/factories/unconfirmed_emails.rb
  spec/models/notification_event_spec.rb
  spec/models/notification_spec.rb
  spec/models/unconfirmed_email_spec.rb
  spec/requests/users/confirmations_spec.rb
  spec/requests/users/passwords_spec.rb
  spec/requests/users/sessions_spec.rb
  spec/system/users/registrations_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Refactor user forms to FrontDoorForm
  app/controllers/concerns/authentication.rb
  app/controllers/users/sessions_controller.rb
  app/views/components/layouts/front_door_form.rb
  app/views/users/confirmations/edit_view.rb
  app/views/users/confirmations/new_view.rb
  app/views/users/passwords/edit_view.rb
  app/views/users/passwords/new_view.rb
  app/views/users/registrations/edit.html.erb
  app/views/users/registrations/edit_view.rb
  app/views/users/registrations/new_view.rb
  app/views/users/sessions/new_view.rb
  spec/requests/users/sessions_spec.rb
  spec/system/users/sessions_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Add some frozen string literals
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/mailers/emails/user_mailer.rb
Due: bin/standardrb --fix

Add request specs for registration
  app/controllers/users/registrations_controller.rb
  spec/factories/users.rb
  spec/requests/users/registrations_spec.rb
  spec/system/users/registrations_spec.rb
Due: bin/standardrb --fix

Add feature gate for user reg and auth
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  spec/requests/users/confirmations_spec.rb
  spec/requests/users/passwords_spec.rb
  spec/requests/users/registrations_spec.rb
  spec/requests/users/sessions_spec.rb
  spec/support/flipper.rb
  spec/system/users/confirmations_spec.rb
  spec/system/users/passwords_spec.rb
  spec/system/users/registrations_spec.rb
  spec/system/users/sessions_spec.rb
Due: bin/standardrb --fix

Update user dashboard component
  app/views/users/dashboard/index_view.rb
Due: bin/standardrb --fix

Take advantage of password challenge feature
  app/controllers/users/registrations_controller.rb
  app/models/user.rb
  app/views/users/registrations/edit_view.rb
  spec/requests/users/registrations_spec.rb
Due: bin/standardrb --fix

Use current_admin_user in Flipper user_registration checks
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
Due: bin/standardrb --fix

Use ULID for user primary key
  Gemfile
  Gemfile.lock
  config/database.yml
  db/migrate/20240605030240_create_users.rb
  db/migrate/20240607120410_create_email_exchanges.rb
  db/migrate/20240609132723_create_notifications.rb
  db/schema.rb
  spec/views/components/code_block/app_file_spec.rb
Due: bin/standardrb --fix

MIGRATION: Add last_signed_in_at to users
  db/migrate/20240617150504_add_last_sign_in_at_to_users.rb
Due: bin/standardrb --fix

Add ability for user to sign in with magic session token
  app/controllers/users/sessions_controller.rb
  app/lib/warden_extensions/magic_session_strategy.rb
  app/lib/warden_extensions/password_strategy.rb
  app/lib/warden_extensions/setup.rb
  app/models/user.rb
  config/initializers/warden.rb
  db/schema.rb
  spec/requests/users/sessions_spec.rb
Due: bin/standardrb --fix

Update from email address for user mailer
  app/mailers/application_mailer.rb
  app/mailers/emails/user_mailer.rb
  app/views/emails/user_mailer/confirmation.html.erb
  app/views/emails/user_mailer/password_reset.html.erb
  spec/mailers/emails/user_mailer_spec.rb
  spec/views/components/code_block/app_file_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Move postmark settings to production only
  config/application.rb
  config/environments/production.rb
Due: bin/standardrb --fix

Add ability to generate magic session token from ui
  app/controllers/users/magic_session_tokens_controller.rb
  app/mailers/emails/magic_session_mailer.rb
  app/notifiers/magic_session_failed_notifier.rb
  app/notifiers/magic_session_token_notifier.rb
  app/views/emails/magic_session_mailer/no_account_found.html.erb
  app/views/emails/magic_session_mailer/no_account_found.text.erb
  app/views/emails/magic_session_mailer/sign_in_link.html.erb
  app/views/emails/magic_session_mailer/sign_in_link.text.erb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  app/views/users/confirmations/edit_view.rb
  app/views/users/magic_session_tokens/new_view.rb
  app/views/users/magic_session_tokens/show_view.rb
  app/views/users/sessions/new_view.rb
  config/routes.rb
  spec/mailers/emails/magic_session_mailer_spec.rb
  spec/mailers/previews/emails/magic_session_mailer_preview.rb
  spec/requests/users/magic_session_tokens_spec.rb
  spec/system/users/sessions_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Rename token param
  app/controllers/users/confirmations_controller.rb
  app/controllers/users/passwords_controller.rb
  config/routes.rb
  spec/requests/users/confirmations_spec.rb
  spec/system/users/confirmations_spec.rb
Due: bin/standardrb --fix

Rename warden strategies, add key method
  app/lib/warden_extensions/strategies/magic_session.rb
  app/lib/warden_extensions/strategies/password.rb
  config/initializers/warden.rb
Due: bin/standardrb --fix

Confirm user when signing in via magic link
  app/lib/warden_extensions/setup.rb
  app/models/user.rb
  spec/requests/users/magic_session_tokens_spec.rb
  spec/requests/users/sessions_spec.rb
Due: bin/standardrb --fix

Update default mailer path
  app/mailers/application_mailer.rb
Due: bin/standardrb --fix

Update magic session emails
  app/mailers/emails/magic_session_mailer.rb
  app/views/emails/magic_session_mailer/no_account_found.html.erb
  app/views/emails/magic_session_mailer/no_account_found.text.erb
  spec/mailers/previews/emails/magic_session_mailer_preview.rb
Due: bin/standardrb --fix, bin/erblint -a

Configure development for letter opener
  config/environments/development.rb
Due: bin/standardrb --fix

Bump litestream
  Gemfile.lock
Due: none

Add litestream web ui to admin
  app/views/admin/home/index.html.erb
  config/routes.rb
Due: bin/standardrb --fix, bin/erblint -a

Add simplecov gem
  Gemfile
  Gemfile.lock
Due: none

Integrate simplecov with rspec
  .gitignore
  .simplecov
  spec/rails_helper.rb
Due: bin/standardrb --fix

Use simplecov-tailwindcss formatter
  .simplecov
  Gemfile
  Gemfile.lock
Due: none

Integrate with codecov
  .github/workflows/verify.yml
  .simplecov
  Gemfile
  Gemfile.lock
Due: none

Add status badges to README
  README.md
Due: none

Update simplecov config
  .simplecov
Due: none
