Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Add spec for heartbeat job
  spec/jobs/emails/heartbeat_job_spec.rb
Due: bin/standardrb --fix

Update README
  README.md
Due: none

Fix github actions badges in README
  README.md
Due: none

First pass at site layout grid
  app/javascript/css-redesign/config/settings.css
  app/javascript/css-redesign/layout.css
  app/javascript/css-redesign/redesign.css
  app/javascript/entrypoints/redesign.css
Due: none

Add utopia css config
  app/javascript/css-redesign/config/grid.css
  app/javascript/css-redesign/config/space.css
  app/javascript/css-redesign/config/type.css
Due: none

Extract additional redesign partials
  app/content/layouts/article.html.erb
  app/content/layouts/redesign/article.html.erb
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/views/application/redesign/_footer.html.erb
  app/views/application/redesign/_header.html.erb
  app/views/layouts/redesign.html.erb
Due: bin/erblint -a

Add more color config with scripts for creating color scales
  Gemfile
  Gemfile.lock
  app/javascript/css-redesign/config/color-uicolors.css
  app/javascript/css-redesign/config/colors-tailwind.css
  app/javascript/css-redesign/config/colors.css
  app/javascript/css-redesign/config/theme.css
  app/javascript/css-redesign/redesign.css
  script/rewrite-tailwind-colors
  script/rewrite-uicolors
  script/tailwind-colors-hex
  script/uicolors-hex.json
Due: none

Iterate on redesign including code blocks
  app/content/layouts/redesign/article.html.erb
  app/javascript/css-redesign/components/button.css
  app/javascript/css-redesign/components/code.scss
  app/javascript/css-redesign/config/colors.css
  app/javascript/css-redesign/config/dracula.css
  app/javascript/css-redesign/config/settings.css
  app/javascript/css-redesign/config/theme.css
  app/javascript/css-redesign/config/variables.scss
  app/javascript/css-redesign/layout.css
  app/javascript/css-redesign/layout.scss
  app/javascript/css-redesign/redesign.css
  app/javascript/css-redesign/theme.css
  app/javascript/css-redesign/utilities.css
  app/javascript/css/highlight/dracula.css
  app/javascript/entrypoints/redesign.js
  app/views/application/theme/_code.html.erb
  app/views/components/code_block/app_file.rb
  app/views/layouts/redesign.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Html updates
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/views/application/redesign/_header.html.erb
  app/views/components/markdown/allows_erb.rb
Due: bin/standardrb --fix, bin/erblint -a

Iterate on redesign header and footer
  app/content/layouts/redesign/article.html.erb
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/components/article-content.css
  app/javascript/css-redesign/components/button.css
  app/javascript/css-redesign/components/code.scss
  app/javascript/css-redesign/components/footer-content.css
  app/javascript/css-redesign/components/page-header.css
  app/javascript/css-redesign/components/site-header.css
  app/javascript/css-redesign/components/skip-to-content.css
  app/javascript/css-redesign/config/colors-uicolors.css
  app/javascript/css-redesign/config/theme.css
  app/javascript/css-redesign/layout.scss
  app/javascript/css-redesign/redesign.css
  app/javascript/css-redesign/utilities.css
  app/views/application/_skip_to_content.html.erb
  app/views/application/redesign/_footer.html.erb
  app/views/application/redesign/_header.html.erb
  app/views/application/theme/_code.html.erb
  app/views/examples/counters/_counter.html.erb
  app/views/layouts/redesign.html.erb
Due: bin/erblint -a

Add barebones redesign layout via query param
  app/content/layouts/article.html.erb
  app/content/layouts/content.html.erb
  app/controllers/application_controller.rb
  app/controllers/concerns/redesign.rb
  app/controllers/site_controller.rb
  app/javascript/css-redesign/redesign.css
  app/javascript/css-redesign/theme/colors/dracula.css
  app/javascript/entrypoints/redesign.css
  app/javascript/entrypoints/redesign.js
  app/views/application/_footer.html.erb
  app/views/layouts/redesign.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Add eric meyer reset css
  app/javascript/css-redesign/reset.css
Due: none

Iterate on redesign including import tailwind utils
  app/content/layouts/redesign/article.html.erb
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/components/button.css
  app/javascript/css-redesign/components/site-header.css
  app/javascript/css-redesign/config/animations.css
  app/javascript/css-redesign/config/settings.css
  app/javascript/css-redesign/layout.scss
  app/javascript/css-redesign/redesign.css
  app/javascript/css-redesign/theme.css
  app/javascript/css-redesign/utilities.css
  app/views/application/redesign/README.md
  app/views/application/redesign/_footer.html.erb
  app/views/application/redesign/_header.html.erb
  app/views/newsletter/_banner.html.erb
Due: bin/erblint -a

Iterate on redesign logo and layout
  app/content/layouts/redesign/article.html.erb
  app/javascript/css-redesign/components/logo.css
  app/javascript/css-redesign/config/settings.css
  app/javascript/css-redesign/layout.scss
  app/javascript/css-redesign/redesign.css
  app/views/application/redesign/_footer.html.erb
  app/views/application/redesign/_header.html.erb
Due: bin/erblint -a

Update logo viewbox
  app/assets/images/joy-logo.svg
  app/javascript/css-redesign/components/logo.css
Due: none

Add merriweather font
  app/assets/fonts/Merriweather/Merriweather-Black.ttf
  app/assets/fonts/Merriweather/Merriweather-BlackItalic.ttf
  app/assets/fonts/Merriweather/Merriweather-Bold.ttf
  app/assets/fonts/Merriweather/Merriweather-BoldItalic.ttf
  app/assets/fonts/Merriweather/Merriweather-Italic.ttf
  app/assets/fonts/Merriweather/Merriweather-Light.ttf
  app/assets/fonts/Merriweather/Merriweather-LightItalic.ttf
  app/assets/fonts/Merriweather/Merriweather-Regular.ttf
  app/assets/fonts/Merriweather/OFL.txt
Due: none

Update local dev config
  Procfile.dev
  config/environments/test.rb
Due: bin/standardrb --fix

Add css for code themes from rouge
  app/javascript/css-redesign/theme/code/base16.solarized.light.css
  app/javascript/css-redesign/theme/code/base16.soloarized.light.css
  app/javascript/css-redesign/theme/code/dracula.css
  app/javascript/css-redesign/theme/code/github.dark.css
  app/javascript/css-redesign/theme/code/github.light.css
  app/javascript/css-redesign/theme/code/gruvbox.dark.css
  app/javascript/css-redesign/theme/code/gruvbox.light.css
  app/javascript/css-redesign/theme/code/monokai.css
Due: none

Iterate on redesign footer and anchors
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/components/anchors.scss
  app/javascript/css-redesign/components/code.scss
  app/javascript/css-redesign/components/footer-content.css
  app/javascript/css-redesign/components/logo.css
  app/javascript/css-redesign/layout.scss
  app/javascript/css-redesign/redesign.css
  app/javascript/css-redesign/utilities.css
  app/views/application/redesign/_footer.html.erb
Due: bin/erblint -a

Iterate on redesign newsletter
  app/content/layouts/redesign/article.html.erb
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/components/article-content.css
  app/javascript/css-redesign/components/footer-content.css
  app/javascript/css-redesign/components/newsletter-banner.css
  app/javascript/css-redesign/components/page-header.css
  app/javascript/css-redesign/components/site-header.css
  app/javascript/css-redesign/config/theme.css
  app/javascript/css-redesign/layout.scss
  app/javascript/css-redesign/redesign.css
  app/javascript/css-redesign/utilities.css
  app/views/application/redesign/_footer.html.erb
  app/views/application/redesign/_header.html.erb
  app/views/newsletter/_banner.html.erb
Due: bin/erblint -a

Ensure the default grid has a column gap
  app/javascript/css-redesign/layout.scss
Due: none

Disable code block taking up all columns in desktop
  app/javascript/css-redesign/layout.scss
Due: none

Add css layers
  app/javascript/css-redesign/redesign.css
  app/javascript/css-redesign/reset.css
Due: none

Update font style in example counter
  app/views/examples/counters/_counter.html.erb
Due: bin/erblint -a

Add more uicolors
  app/javascript/css-redesign/config/colors-uicolors.css
  script/rewrite-tailwind-colors-hsla
  script/rewrite-uicolors-hsla
  script/uicolors-hex.json
Due: none

Use css variables with override to customize theme color from application layout
  app/javascript/css-redesign/config/theme.css
  app/views/application/_my_css.html.erb
  app/views/layouts/redesign.html.erb
Due: bin/erblint -a

Update vite full reload additional paths
  vite.config.ts
Due: none

Update css attribute for counter example
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
Due: none

First pass at dark mode for redesign
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/components/article-content.css
  app/javascript/css-redesign/components/newsletter-banner.css
  app/javascript/css-redesign/config/colors.css
  app/javascript/css-redesign/config/theme.css
  script/uicolors-hex.json
Due: none

Fix syntax in color source file
  app/javascript/css-redesign/config/colors-uicolors.css
Due: none

Update text heading color
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/config/theme.css
Due: none

Experiment with chroma-js for generated color palette
  app/javascript/initializers/color-palette.js
  app/javascript/initializers/index.js
  app/javascript/utils/color-palette.js
  app/views/application/_my_css.html.erb
  package-lock.json
  package.json
  script/uicolors-seed.js
Due: bin/erblint -a

Extract PageHeader component
  app/views/components/page_header.rb
Due: bin/standardrb --fix

Replace legacy layouts with redesign
  app/content/layouts/article.html.erb
  app/content/layouts/content.html.erb
  app/content/layouts/redesign/article.html.erb
  app/content/pages/articles.html.erb
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/content/pages/index.html.erb
  app/controllers/application_controller.rb
  app/controllers/concerns/redesign.rb
  app/controllers/site_controller.rb
  app/views/application/_footer.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/redesign.html.erb
  app/views/newsletter/_banner.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Rename css variables with joy
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/components/article-content.css
  app/javascript/css-redesign/components/button.css
  app/javascript/css-redesign/components/code.scss
  app/javascript/css-redesign/components/footer-content.css
  app/javascript/css-redesign/components/newsletter-banner.css
  app/javascript/css-redesign/components/page-header.css
  app/javascript/css-redesign/components/site-header.css
  app/javascript/css-redesign/components/skip-to-content.css
  app/javascript/css-redesign/config/theme.css
  app/javascript/css-redesign/utilities.css
Due: none

Minor css updates
  app/javascript/css-redesign/components/article-content.css
  app/javascript/css-redesign/config/grid.css
Due: none

Add main-content class
  app/javascript/css-redesign/components/main-content.css
  app/javascript/css-redesign/layout.scss
  app/javascript/css-redesign/redesign.css
Due: none

Update index page
  app/content/pages/articles.html.erb
  app/content/pages/index.html.erb
  app/javascript/css-redesign/baseline.css
  app/javascript/css-redesign/components/page-header.css
  app/javascript/css-redesign/config/theme.css
  app/views/layouts/header/_nav.html.erb
  app/views/newsletter/_form.html.erb
Due: bin/erblint -a

Remove tailwind dependencies and configuration
  app/javascript/css/theme.css
  config/tailwind.config.js
  config/tailwind/colors.js
  config/tailwind/typography-overrides.js
  config/tailwind/typography.js
  package-lock.json
  package.json
  postcss.config.js
Due: none

Move articles index file
  app/content/pages/articles/index.html.erb
Due: bin/erblint -a

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
