Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erb_lint -a"
}

MIGRATION: Generate Polls::Question model
  app/models/poll.rb
  app/models/polls.rb
  app/models/polls/question.rb
  db/migrate/20241128133612_create_polls_questions.rb
  db/schema.rb
  spec/factories/polls/questions.rb
  spec/models/polls/question_spec.rb
Due: bin/standardrb --fix

Barebones hotwire-enabled CRUD for polls, questions, answers
  app/controllers/polls/answers_controller.rb
  app/controllers/polls/questions_controller.rb
  app/controllers/polls_controller.rb
  app/helpers/application_helper.rb
  app/javascript/css/application.css
  app/javascript/css/components/empty-state.css
  app/models/poll.rb
  app/models/polls/question.rb
  app/models/user.rb
  app/views/polls/_empty_state.html.erb
  app/views/polls/_form.html.erb
  app/views/polls/_poll.html.erb
  app/views/polls/_total.html.erb
  app/views/polls/answers/_answer.html.erb
  app/views/polls/answers/_form.html.erb
  app/views/polls/answers/create.turbo_stream.erb
  app/views/polls/answers/destroy.turbo_stream.erb
  app/views/polls/answers/edit.html.erb
  app/views/polls/answers/new.html.erb
  app/views/polls/answers/update.turbo_stream.erb
  app/views/polls/create.turbo_stream.erb
  app/views/polls/destroy.turbo_stream.erb
  app/views/polls/edit.html.erb
  app/views/polls/index.html.erb
  app/views/polls/new.html.erb
  app/views/polls/questions/_form.html.erb
  app/views/polls/questions/_question.html.erb
  app/views/polls/questions/create.turbo_stream.erb
  app/views/polls/questions/destroy.turbo_stream.erb
  app/views/polls/questions/edit.html.erb
  app/views/polls/questions/new.html.erb
  app/views/polls/questions/update.turbo_stream.erb
  app/views/polls/show.html.erb
  app/views/polls/update.turbo_stream.erb
  config/routes.rb
  spec/factories/polls.rb
  spec/system/polls_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

MIGRATION: Generate Polls::Answer model
  app/models/poll.rb
  app/models/polls/answer.rb
  app/models/polls/question.rb
  db/migrate/20241128134504_create_polls_answers.rb
  db/schema.rb
  spec/factories/polls/answers.rb
  spec/models/polls/answer_spec.rb
Due: bin/standardrb --fix

Scope poll authoring to /author
  app/controllers/author/polls/answers_controller.rb
  app/controllers/author/polls/questions_controller.rb
  app/controllers/author/polls_controller.rb
  app/controllers/polls/answers_controller.rb
  app/controllers/polls/questions_controller.rb
  app/controllers/polls_controller.rb
  app/views/author/polls/_empty_state.html.erb
  app/views/author/polls/_form.html.erb
  app/views/author/polls/_poll.html.erb
  app/views/author/polls/_total.html.erb
  app/views/author/polls/answers/_answer.html.erb
  app/views/author/polls/answers/_form.html.erb
  app/views/author/polls/answers/create.turbo_stream.erb
  app/views/author/polls/answers/destroy.turbo_stream.erb
  app/views/author/polls/answers/edit.html.erb
  app/views/author/polls/answers/new.html.erb
  app/views/author/polls/answers/update.turbo_stream.erb
  app/views/author/polls/create.turbo_stream.erb
  app/views/author/polls/destroy.turbo_stream.erb
  app/views/author/polls/edit.html.erb
  app/views/author/polls/index.html.erb
  app/views/author/polls/new.html.erb
  app/views/author/polls/questions/_form.html.erb
  app/views/author/polls/questions/_question.html.erb
  app/views/author/polls/questions/create.turbo_stream.erb
  app/views/author/polls/questions/destroy.turbo_stream.erb
  app/views/author/polls/questions/edit.html.erb
  app/views/author/polls/questions/new.html.erb
  app/views/author/polls/questions/update.turbo_stream.erb
  app/views/author/polls/show.html.erb
  app/views/author/polls/update.turbo_stream.erb
  config/routes.rb
  spec/system/author/polls_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

MIGRATION: Generate Polls::Vote model
  app/models/poll.rb
  app/models/polls/answer.rb
  app/models/polls/question.rb
  app/models/polls/vote.rb
  db/migrate/20241128135050_create_polls_votes.rb
  db/schema.rb
  spec/factories/polls/votes.rb
  spec/models/polls/vote_spec.rb
Due: bin/standardrb --fix

Add barebones voting
  app/controllers/share/polls/votes_controller.rb
  app/controllers/share/polls_controller.rb
  app/models/poll.rb
  app/views/share/polls/_total.html.erb
  app/views/share/polls/index.html.erb
  app/views/share/polls/show.html.erb
  config/routes.rb
  spec/system/polls_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Delete unused module
  app/views/components/phlex_concerns/nested_dom_id.rb
Due: bin/standardrb --fix

Update config/cable.yml
  config/cable.yml
Due: none

Fix poll spec for flipper
  spec/system/author/polls_spec.rb
Due: bin/standardrb --fix

Make poll update with morph refresh
  app/controllers/share/polls/votes_controller.rb
  app/models/poll.rb
  app/models/polls/answer.rb
  app/models/polls/question.rb
  app/models/polls/vote.rb
  app/views/share/polls/show.html.erb
  spec/system/share/polls_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Add explanatory comment for turbo stream refresh
  app/controllers/share/polls/votes_controller.rb
Due: bin/standardrb --fix

Extract module for device uuid
  app/controllers/application_controller.rb
  app/controllers/concerns/device_uuid.rb
  app/controllers/share/polls_controller.rb
Due: bin/standardrb --fix

Mark header and subscribe banner data-turbo-permanent
  app/views/components/site_header/header.rb
  app/views/users/newsletter_subscriptions/_banner.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Session sign in/out needs turbo: false
  app/controllers/admin_users/sessions_controller.rb
  app/views/admin_users/sessions/new.html.erb
  app/views/topics/index.html.erb
  app/views/topics/show.html.erb
  app/views/users/header_navigations/show_view.rb
  app/views/users/sessions/new_view.rb
  spec/system/admin_users/sessions_spec.rb
  spec/system/users/sessions_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Add request spec for poll voting
  spec/requests/share/polls/votes_spec.rb
Due: bin/standardrb --fix

Update answer html
  app/views/author/polls/answers/_answer.html.erb
  app/views/author/polls/answers/_form.html.erb
  spec/system/author/polls_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Add failing spec
  spec/requests/share/polls/votes_spec.rb
Due: bin/standardrb --fix

Rework poll view granularity to questions
  app/controllers/share/polls_controller.rb
  app/helpers/polls_helper.rb
  app/models/poll.rb
  app/models/polls/answer.rb
  app/models/polls/question.rb
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/ballot.rb
  app/views/share/polls/question.rb
  app/views/share/polls/results.rb
  app/views/share/polls/show.html.erb
  spec/system/share/polls_spec.rb
  spec/views/share/polls/question_spec.rb
  spec/views/share/polls/results_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Extract Phlex component for poll results
  app/controllers/share/polls/votes_controller.rb
  app/javascript/css/components/poll.css
  app/views/components/phlex_concerns/nested_dom_id.rb
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/_results.html.erb
  app/views/share/polls/results.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Remove _total partials from poll authoring
  app/views/author/polls/_total.html.erb
  app/views/author/polls/answers/create.turbo_stream.erb
  app/views/author/polls/answers/update.turbo_stream.erb
  app/views/author/polls/show.html.erb
Due: bin/erb_lint -a

Rework poll answer show template
  app/views/author/polls/show.html.erb
  spec/system/author/polls_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Update author poll ui
  app/views/author/polls/_form.html.erb
  app/views/author/polls/_poll.html.erb
Due: bin/erb_lint -a

Use ordered scopes for poll questions and answers
  app/models/polls/answer.rb
  app/models/polls/question.rb
  app/views/share/polls/ballot.rb
  app/views/share/polls/results.rb
Due: bin/standardrb --fix

Fix association name
  app/models/polls/question.rb
Due: bin/standardrb --fix

Update poll vote spec to assert broadcast
  spec/system/polls_spec.rb
  spec/system/share/polls_spec.rb
Due: bin/standardrb --fix

Formatting
  app/views/share/polls/results.rb
Due: bin/standardrb --fix

Use method: morph for poll broadcast
  app/controllers/share/polls/votes_controller.rb
Due: bin/standardrb --fix

Update poll broadcast id
  app/controllers/share/polls/votes_controller.rb
  app/controllers/share/polls_controller.rb
  app/views/author/polls/index.html.erb
  app/views/share/polls/_results.html.erb
  app/views/share/polls/show.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Fixes for poll authoring
  app/controllers/author/polls_controller.rb
  app/views/author/polls/_empty_state.html.erb
  app/views/author/polls/_form.html.erb
  app/views/author/polls/_poll.html.erb
  app/views/author/polls/create.turbo_stream.erb
  app/views/author/polls/edit.html.erb
  app/views/author/polls/index.html.erb
  app/views/author/polls/new.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Update poll css
  app/javascript/css/components/poll.css
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/results.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Allow ActionCable::Connection to any visitor
  app/channels/application_cable/connection.rb
  spec/channels/connection_spec.rb
Due: bin/standardrb --fix

Update author and share includes
  app/controllers/author/polls/answers_controller.rb
  app/controllers/author/polls/questions_controller.rb
  app/controllers/author/polls_controller.rb
  app/controllers/share/polls/votes_controller.rb
  app/controllers/share/snippet_tweets_controller.rb
  app/controllers/share/snippets_controller.rb
  app/models/poll.rb
Due: bin/standardrb --fix

Update poll factories
  spec/factories/polls/answers.rb
  spec/factories/polls/questions.rb
  spec/factories/polls/votes.rb
Due: bin/standardrb --fix

Formatting
  app/views/layouts/application.html.erb
Due: bin/erb_lint -a

Add Guest#id
  app/models/guest.rb
Due: bin/standardrb --fix

Update question form html
  app/views/author/polls/questions/_form.html.erb
  spec/system/author/polls_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Add css utility classes
  app/javascript/css/components/poll.css
  app/javascript/css/utilities/custom.css
Due: none

Fix for vote counter cache
  app/models/polls/vote.rb
Due: bin/standardrb --fix

Implement turbo broadcasts for poll votes
  app/controllers/share/polls/votes_controller.rb
  app/helpers/polls_helper.rb
  app/models/poll.rb
  app/models/polls/question.rb
  app/views/author/polls/index.html.erb
  app/views/share/polls/_ballot.html.erb
  app/views/share/polls/_poll.html.erb
  app/views/share/polls/_results.html.erb
  app/views/share/polls/show.html.erb
Due: bin/standardrb --fix, bin/erb_lint -a

Add Poll authoring feature flag
  app/controllers/author/polls_controller.rb
  app/controllers/author/snippets_controller.rb
  app/models/snippet.rb
  spec/factories/polls.rb
  spec/requests/author/polls_spec.rb
  spec/requests/share/polls_spec.rb
Due: bin/standardrb --fix
