Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

Update button css
  app/javascript/css/components/button.css
  app/javascript/css/config/theme.css
Due: none

Render critical css inline for color scheme editor
  app/views/color_schemes/show_view.rb
Due: bin/standardrb --fix

Button, select, and input style updates
  app/javascript/css/baseline.css
  app/javascript/css/components/button.css
  app/javascript/css/components/select.css
  app/javascript/css/config/settings.css
  app/views/users/newsletter_subscriptions/form.rb
Due: bin/standardrb --fix

Update rails generator for article
  lib/generators/article/article_generator.rb
  lib/generators/article/templates/article.html.md.tt
  lib/generators/article/templates/placeholder.jpg
  spec/generators/articles_generator_spec.rb
Due: bin/standardrb --fix

Extract markdown helper in color scheme form
  app/views/color_schemes/form.rb
Due: bin/standardrb --fix

Add content
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

Add darkmode switch to color scheme form
  app/javascript/css/components/button.css
  app/javascript/css/utilities/tailwind-media.scss
  app/javascript/css/utilities/tailwind.css
  app/views/color_schemes/form.rb
  app/views/darkmode/_switch.html.erb
Due: bin/standardrb --fix, bin/erblint -a

Iterate on color scheme article
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
Due: none

Add more layout grid classes to help with article layout
  app/javascript/css/layout.scss
Due: none

Forward bin/verify args to rspec
  bin/verify
Due: none

Start new color scheme article
  app/assets/images/articles/custom-color-schemes-with-ruby-on-rails/placeholder.jpg
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/controllers/concerns/color_scheming.rb
  app/helpers/color_schemes_helper.rb
Due: bin/standardrb --fix

Update atom spec
  spec/views/components/atom/entry_content_spec.rb
Due: bin/standardrb --fix

Update default theme
  app/javascript/css/config/theme.css
Due: none

Render articles in desc order on home page
  app/content/models/article_page.rb
Due: bin/standardrb --fix

Iterate on color scheme form
  app/javascript/css/layout.scss
  app/views/color_schemes/form.rb
  spec/system/settings/color_schemes_spec.rb
Due: bin/standardrb --fix

Iterate on content and css for color scheme form
  app/views/color_schemes/form.rb
Due: bin/standardrb --fix

Extract helper components for color scheme css
  app/views/components/color_schemes/css.rb
  app/views/components/color_schemes/css_variables.rb
  app/views/components/color_schemes/my_css_variables.rb
Due: bin/standardrb --fix

Use turbo frame for color scheme ux
  app/views/application/theme/_color.html.erb
  app/views/color_schemes/form.rb
  app/views/color_schemes/show_view.rb
Due: bin/standardrb --fix, bin/erblint -a

Enable markdown to reference propshaft image
  app/assets/images/articles/custom-color-schemes-with-ruby-on-rails/rainbows.jpg
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/views/components/markdown/allows_erb.rb
  app/views/components/markdown/application.rb
Due: bin/standardrb --fix

Fix for Examples::AppFile stripping last line
  app/models/examples/app_file.rb
Due: bin/standardrb --fix

Update theme css
  app/javascript/css/baseline.css
  app/javascript/css/components/color-scheme.scss
  app/javascript/css/config/theme.css
Due: none

Add ability to hide code block article header
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/views/components/code_block/article.rb
  app/views/components/markdown/article.rb
Due: bin/standardrb --fix

Update color scheme css variable component formatting
  app/views/components/color_schemes/css_variables.rb
  app/views/components/color_schemes/my_css_variables.rb
Due: bin/standardrb --fix

Add language-css overrides for dracula css
  app/javascript/css/theme/code/dracula.css
Due: none

Reorder methods
  app/controllers/concerns/color_scheming.rb
Due: bin/standardrb --fix

Update code css
  app/javascript/css/baseline.css
  app/javascript/css/components/code.scss
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Iterate on about page
  app/content/pages/about/design.html.mdrb
Due: none

Fix for atom feed spec
  app/content/pages/articles/custom-color-schemes-with-ruby-on-rails.html.mdrb
  app/helpers/articles_helper.rb
Due: bin/standardrb --fix

Update darkmode switch html to look better on color scheme form
  app/javascript/test/fixtures/views/darkmode/switch.html
Due: none

Update footer and about sections
  app/content/pages/about/acknowledgements.html.mdrb
  app/content/pages/about/design.html.mdrb
  app/javascript/css/components/footer-content.css
  app/javascript/css/config/theme.css
  app/views/application/_footer.html.erb
Due: bin/erblint -a

Add Color model
  app/models/color.rb
  spec/models/color_spec.rb
Due: bin/standardrb --fix

Serialize ColorScheme weights as Color objects
  app/models/color_scheme.rb
  spec/factories/color_schemes.rb
  spec/models/color_scheme_spec.rb
Due: bin/standardrb --fix

Update design page
  app/content/pages/about/design.html.mdrb
Due: none

Remove comment
  app/views/color_schemes/form.rb
Due: bin/standardrb --fix

Bump color conversion
  Gemfile.lock
Due: none

Delegate Color#==
  app/models/color.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erblint -a: any of: *.erb
