Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erblint -a

.lintstagedrc:

{
  "*.rb": "bin/standardrb --fix",
  "*.erb": "bin/erblint -a"
}

Add http caching headers to sites pages
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/controllers/site_controller.rb
  config/routes.rb
  spec/requests/site_spec.rb
Due: bin/standardrb --fix

Disable rack mini profiler when caching enabled
  config/initializers/rack_mini_profiler.rb
Due: bin/standardrb --fix

Fix wasm boot error for Rails 7.2
  lib/rails-wasm/rails-wasm-shim/stubs/rails-html-sanitizer.rb
Due: bin/standardrb --fix

Bump WASM_APP_VERSION
  WASM_APP_VERSION
Due: none

Upgrade to rails 7.2.0.alpha and sqlite3 2.0.x
  Gemfile
  Gemfile.lock
Due: none

Rotate production credentials for litestream
  config/credentials/production.yml.enc
Due: none

Update litestream config setup with credentials
  app/lib/litestream_extensions/setup.rb
Due: bin/standardrb --fix

Delete redundant rakefile
  lib/tasks/litestream.rake
Due: none

Add litestream docs
  docs/litestream.md
Due: none

Add wasm doc
  README.md
  docs/wasm.md
Due: none

Add tests for code block app file
  spec/views/components/code_block/app_file_spec.rb
Due: bin/standardrb --fix

Fix line number logic in app file phlex component
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Refactor Example::AppFile to read from revision
  app/models/examples/app_file.rb
  spec/models/examples/app_file_spec.rb
Due: bin/standardrb --fix

Render code block app file component by revision
  app/content/pages/articles/introducing-joy-of-rails.html.mdrb
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Update appfile component
  app/views/components/code_block/app_file.rb
Due: bin/standardrb --fix

Add test
  spec/views/components/code_block/basic_spec.rb
Due: bin/standardrb --fix

Extract separate code block components from hierarchy
  app/views/components/code_block/app_file.rb
  app/views/components/code_block/article.rb
  app/views/components/code_block/basic.rb
  app/views/components/markdown/application.rb
  app/views/examples/_example.html.erb
  spec/views/components/markdown/erb_spec.rb
  spec/views/components/markdown/toc_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update counter background
  app/views/examples/counters/_counter.html.erb
Due: bin/erblint -a

Ignore brakeman warning for app file
  config/brakeman.ignore
Due: none

Update github action fetch-depth for git-based tests
  .github/workflows/verify.yml
Due: none

Install and configure postmark for email sending
  Gemfile
  Gemfile.lock
  config/application.rb
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
Due: bin/standardrb --fix

Configure action mailer default url options
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
Due: bin/standardrb --fix

Add heartbeat mailer to test email notifications
  app/mailers/application_mailer.rb
  app/mailers/emails/heartbeat_mailer.rb
  app/views/emails/heartbeat_mailer/heartbeat.html.erb
  app/views/emails/heartbeat_mailer/heartbeat.text.erb
  app/views/layouts/emails/mailer.html.erb
  app/views/layouts/emails/mailer.text.erb
  spec/mailers/emails/heartbeat_mailer_spec.rb
  spec/mailers/previews/emails/heartbeat_mailer_preview.rb
Due: bin/standardrb --fix, bin/erblint -a

Add heartbeat mailer job and rake task
  app/jobs/emails/heartbeat_job.rb
  lib/tasks/emails/heartbeat.rake
Due: bin/standardrb --fix

Remove email interceptor
  Gemfile
  Gemfile.lock
Due: none

Omit postmark from wasm bundle
  Gemfile
Due: none

Add SolidCable integration
  app/models/solid_cable/message.rb
  app/models/solid_cable/record.rb
  config/cable.yml
  config/database.yml
  db/cable_schema.rb
  db/migrate_cable/20240514132951_create_solid_cable_messages.rb
  lib/action_cable/subscription_adapter/solid_cable.rb
  lib/solid_cable.rb
  lib/solid_cable/engine.rb
Due: bin/standardrb --fix

Implement heartbeat channel to verify action cable integration
  app/channels/application_cable/connection.rb
  app/channels/heartbeat_channel.rb
  app/javascript/channels/consumer.js
  app/javascript/channels/heartbeat-channel.js
  app/javascript/channels/index.js
  app/javascript/entrypoints/application.js
  app/jobs/channels/heartbeat_job.rb
  app/views/admin/home/index.html.erb
  config/database.yml
  config/initializers/solid_cable.rb
  lib/tasks/channels/heartbeart.rake
  spec/views/components/code_block/app_file_spec.rb
Due: bin/standardrb --fix, bin/erblint -a

Update nokogiri for advisory CVE-2024-34459
  Gemfile.lock
Due: none

Make solid cable config environment specific
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/solid_cable.rb
Due: bin/standardrb --fix

Fix missing config in prod database.yml
  config/database.yml
Due: none

Implement basic RSS feed
  app/controllers/feed_controller.rb
  app/views/feed/index.xml.builder
  config/routes.rb
  spec/requests/feed_spec.rb
Due: bin/standardrb --fix

Fix for code block rendering
  app/views/components/code_block/article.rb
Due: bin/standardrb --fix

Fixes for draft article
  app/content/pages/articles/web-push-notifications-from-rails.html.mdrb
Due: none

Add auto_discovery_link_tag for RSS readers
  app/views/layouts/application.html.erb
Due: bin/erblint -a

Fix for solid cable config eager loading in production
  config/application_wasm.rb
  lib/solid_cable/engine.rb
Due: bin/standardrb --fix

Ensure rss rendering processes article body properly
  app/views/feed/index.xml.builder
  spec/requests/feed_spec.rb
Due: bin/standardrb --fix

Introduce propshaft in place of sprockets
  Gemfile
  Gemfile.lock
Due: none

Fix for article headers
  app/views/components/markdown/application.rb
  spec/requests/feed_spec.rb
Due: bin/standardrb --fix

Update page header sizes
  app/content/layouts/article.html.erb
  app/content/layouts/content.html.erb
Due: bin/erblint -a
