Repository joyofrails/joyofrails.com: changes, and which lint-staged commands are due for each by the changed paths.
All: bin/standardrb --fix, bin/erb_lint -a

Add Repo model to wrap git interactions
  app/models/repo.rb
Due: bin/standardrb --fix

Add json-schema
  Gemfile
  Gemfile.lock
Due: none

Add Deploy event with JSON schema validation
  app/models/application_events/deploy.rb
  app/models/validators/schema_validator.rb
  spec/models/application_events/deploy_spec.rb
Due: bin/standardrb --fix

Refactor AppFile and Deploy to use Repo model for git commands
  app/models/application_events/deploy.rb
  app/models/examples/app_file.rb
  app/models/repo.rb
Due: bin/standardrb --fix

Update brakeman ignore for Repo commands
  config/brakeman.ignore
Due: none

MIGRATION: Add index on application_events created_at
  app/models/application_event.rb
  app/models/application_events/deploy.rb
  db/migrate/20250123135323_index_application_events_created_at.rb
  db/schema.rb
  spec/factories/application_events.rb
  spec/models/application_event_spec.rb
  spec/models/application_events/deploy_spec.rb
Due: bin/standardrb --fix

Add canonical urls to topics
  app/views/topics/index.html.erb
  app/views/topics/show.html.erb
Due: bin/erb_lint -a

Add canonical urls to articles and snippets
  app/content/layouts/article.html.erb
  app/views/share/snippets/show.html.erb
  config/initializers/meta_tags.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Upgrade vite for security fix
  package-lock.json
  package.json
Due: none

Add canonical urls by default with meta tags
  app/helpers/application_helper.rb
Due: bin/standardrb --fix

Update spec
  spec/requests/sitemaps_spec.rb
Due: bin/standardrb --fix

Bundle update
  Gemfile.lock
Due: none

Bundle update
  Gemfile
  Gemfile.lock
Due: none

Fix for solid queue error when db pool count mismatched
  config/database.yml
Due: none

Override new Mission Control Jobs auth default
  config/initializers/mission_control.rb
Due: bin/standardrb --fix

patch: Updates for Rails 8.1 and Sitepress 4.1
  Gemfile
  Gemfile.lock
  app/content/models/sitepress_article.rb
  app/content/models/sitepress_page.rb
  app/controllers/admin/newsletters_controller.rb
  app/controllers/admin_users/sessions_controller.rb
  app/controllers/author/polls/answers_controller.rb
  app/controllers/author/polls/questions_controller.rb
  app/controllers/author/polls_controller.rb
  app/controllers/author/snippets_controller.rb
  app/controllers/examples/posts_controller.rb
  app/controllers/site_controller.rb
  app/controllers/users/newsletter_subscriptions_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/views/components/phlex_concerns/has_invisible_captcha.rb
  app/views/components/site_header/header.rb
  app/views/users/header_navigations/show_view.rb
  config/application.rb
  config/initializers/sitepress.rb
  spec/requests/admin/newsletters_spec.rb
  spec/requests/admin_users/sessions_spec.rb
  spec/requests/author/polls/answers_spec.rb
  spec/requests/author/polls/questions_spec.rb
  spec/requests/author/polls_spec.rb
  spec/requests/author/snippets_spec.rb
  spec/requests/feed_spec.rb
  spec/requests/users/newsletter_subscriptions_spec.rb
  spec/requests/users/passwords_spec.rb
  spec/requests/users/registrations_spec.rb
  spec/requests/users/sessions_spec.rb
Due: bin/standardrb --fix

chore: rails app:update 8.1 without public html changes
  bin/ci
  config/bundler-audit.yml
  config/ci.rb
  config/initializers/content_security_policy.rb
  config/initializers/new_framework_defaults_8_1.rb
  config/puma.rb
Due: bin/standardrb --fix

chore: rails app:update development.rb
  config/environments/development.rb
Due: bin/standardrb --fix

chore: Bump aws-sdk-s3 for CVE-2025-14762
  Gemfile.lock
Due: none

chore: Add rescues for W3C validator "too many requests" in specs
  spec/requests/color_schemes_spec.rb
  spec/views/components/color_schemes/css_spec.rb
Due: bin/standardrb --fix

Add blocked email domains with sign up validation and rake task
  app/models/blocked_email_domain.rb
  app/models/user.rb
  db/migrate/20260526120000_create_blocked_email_domains.rb
  lib/tasks/blocked_email_domains.rake
  spec/lib/tasks/blocked_email_domains_spec.rb
  spec/models/blocked_email_domain_spec.rb
  spec/models/user_spec.rb
  spec/requests/users/registrations_spec.rb
Due: bin/standardrb --fix

Add blocked email domains with sign up validation and rake task
  db/cable_schema.rb
  db/cache_schema.rb
  db/queue_schema.rb
  db/schema.rb
  spec/models/blocked_email_domain_spec.rb
  spec/models/user_spec.rb
  spec/requests/users/registrations_spec.rb
Due: bin/standardrb --fix

chore: Fixes for bundle upgrade, esp phlex
  app/controllers/share/polls/votes_controller.rb
  app/javascript/test/fixtures/views/searches/combobox.html
  app/views/author/snippets/form.rb
  app/views/components/application_component.rb
  app/views/components/code_block/atom_aware.rb
  app/views/components/content/image.rb
  app/views/components/markdown/allows_erb.rb
  app/views/errors/error_body.rb
  app/views/layouts/application.html.erb
  app/views/searches/show_view.rb
  app/views/users/newsletter_subscriptions/new_view.rb
  app/views/users/newsletter_subscriptions/show_view.rb
  app/views/users/newsletter_subscriptions/subscribe_button.rb
  lib/html_fixtures/renderers/darkmode_switch.rb
  lib/html_fixtures/renderers/searches_combobox.rb
  spec/views/components/pages/header_spec.rb
Due: bin/standardrb --fix, bin/erb_lint -a

Update bundle to fix bundler audit vulnerabilities
  Gemfile
  Gemfile.lock
Due: none

chore: Remove outdated Rails config option
  config/environments/development.rb
Due: bin/standardrb --fix

chore: Update puma and jwt for bundler-audit
  Gemfile.lock
  config/ci.rb
Due: bin/standardrb --fix

Path conditions:
  bin/standardrb --fix: any of: *.rb
  bin/erb_lint -a: any of: *.erb
